<extend name="Public/base_admin"/>
<block name="body">

<div class="common_block_title ">友链管理</div>
<ul id="mytab" class="nav nav-tabs">
  <li <if condition="$status eq 0"> class="hover" </if> ><a href="{:U('Websit/Links/index',array('status'=>0))}">友链列表</a></li>
 <!-- <li <if condition="$status eq 1"> class="hover" </if> ><a href="{:U('Websit/Links/index',array('status'=>1))}">新增友链</a></li>-->
</ul>
<ul id="tabs_box">
  <if condition="$status eq 0"><li class=""><include file="links_list"/></li></if>
  <!--<if condition="$status eq 1"><li class=""><include file="links_add"/></li></if>-->
</ul>
</block>
