<div id="frm-post-popup" class="white-popup usercenter-contacts-add">
  <button title="Close (Esc)" type="button" class="mfp-close" >×</button>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal ajax-form " role="form" action="{:U('Websit/Links/do_linksadd')}" method="post">
			<div class="form-group has-feedback">
				<label for="title" class="col-md-2 control-label">站点名称</label>
				<div class="col-md-5">
					<input id="title" name="title" type="text" class="form-control form_check" check-type="Text"  value="" placeholder="请输入站点名称"/>
				</div>
			</div>
			<!--<div class="form-group  has-feedback">
				<label for="type" class="col-md-2 control-label">连接类型<span class="common-color-red">*</span></label>
				<div class="col-md-5">
					<div class=" common-margin-bten"></div>
					<input type='radio' name='type' checked value='1'> 普通连接 <input type='radio' name='type' value='2'>图片连接
				</div>
			</div>-->
			<div class="form-group  has-feedback">
				<label for="link" class="col-md-2 control-label">URL地址<span class="common-color-red">*</span></label>
				<div class="col-md-5">
					<input id="link" name="link" type="text" class="form-control form_check" check-type="Text"  value="http://" placeholder="请输入URL地址"/>
				</div>
			</div>
			<div class="form-group  has-feedback">
				<label for="level" class="col-md-2 control-label">优先级<span class="common-color-red">*</span></label>
				<div class="col-md-3">
					<input id="level" name="level" type="text" class="form-control form_check" check-type="Num"  value="" placeholder="必须为数字"/>
				</div>
				<span class="common-color-red">优先级越低，排序越靠前</span>
			</div>
			<!--<div class="form-group  has-feedback">
				<label for="link" class="col-md-2 control-label">站点图片<span class="common-color-red">*</span></label>
				<div class="col-md-5">
					{:hook('UploadImage', array('find_name'=>'cover_id','value'=>'','buttontext'=>'站点图片','buttonwidth'=>200,'multi'=>true,'ds'=>'400*300'))}
				</div>
			</div>-->
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-primary">确认添加</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

