<extend name="Public/base" />
<block name="style">
<link href="__STATIC__/datetimepickerV3/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
</block>
<block name="body">
<div class="main-title">
    <h2>创建科目类别</h2>
</div>
<div id="auth_groups">
    <form class="form-horizontal ajax-form" action="{:U('Manage/Course/doPost')}" method="post">
		<input type="hidden" name="id" id="id" value="{$Think.get.id}"/>			
		<div class="form-item">
			<label for="title" class="item-label">科目类别名称<a>&nbsp;(必填)</a></label>
			<div class="controls">
				<input id="title" name="name" maxlength="25" class="text input-large" value="{$name}" />
			</div>
		</div>
          <br>
		   <div class="form-item">
			<button type="submit" class="w_btn submit-btn ajax-post" target-form="form-horizontal" target-ls="a" href="{:U('Manage/Course/doPost')}">确定</button>
			<button onclick="javascript:history.back(-1);return false;" class="w_btn btn-return">返回</button>
		  </div>
    </form>
</div>
<script type="text/javascript" src="__JS__/form_check.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepickerV3/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepickerV3/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</block>

