	  <div class="tab-pane" id="event_tailor">
		<div class="select_order clearfix">
		<div class="pull-right" >
            <form action="{:U('Usercenter/Shoporder/index/tab/1')}" method="post" class="navbar-form">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-btn text-left">
                    <input type="text" name="trade_sn" class="form-control" placeholder="请输入订单号">
                    <button type="submit" value="" class="btn btn-default glyphicon glyphicon-search" ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
		   <div class="pull-left event-height">订单状态: <a href="{:U('Usercenter/Shoporder/index/tab/1')}">全部</a> | <a href="{:U('Usercenter/shoporder/index',array('status'=>0,'tab'=>1))}">未付款</a> | <a href="{:U('Usercenter/shoporder/index',array('status'=>2,'tab'=>1))}">已付款</a> | <a href="{:U('Usercenter/shoporder/index',array('status'=>3,'tab'=>1))}">优惠卷支付</a> </div>
		  <div class="clearbox-ol"></div>
	      <div class="row data-table">
          <table class="info">
            <thead>
              <tr>
                <th>订单号</th>             
                <th>商品总额</th>
                <th>下单时间</th>				               
                <th>订单状态</th>
                <th>支付状态</th>
				<th>操作</th>
              </tr>
            </thead>
            <tbody>

              <volist name="shop_arr" id="vo">
            <tr>
              <td>{$vo.order_sn}</td>              		 
              <td>￥{$vo.alltotalprice}</td>			 
              <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
              <td>{:get_shop_order_status($vo['status'])}</td>			  
              <td>{:get_shop_order_pay_status($vo['pay_status'])}</td>			  
              <td><a class='mbtn btn-primary' href="{:U('Usercenter/shoporder/shop_order_detail',array('order_sn'=>$vo['order_sn']))}">查看详情</a>&nbsp;{:get_shop_detail_btn($vo)}</td>			  
            </tr>
            </volist>
            <tr><td colspan="9">{$page}</td></tr>
       
              </tbody>
          </table>
        </div>
        
        </div>
	  </div>
<script>
$(function(){
	$('.deliver_goods').magnificPopup({
			type: 'ajax',
			overflowY: 'scroll',
			modal: true,
			callbacks: {
				ajaxContentAdded: function () {
					//console.log(this.content);
				}
			}
		});	
		$('.updateOrder').click(function(){
			if (confirm('确定要操作么？')) {
			var id = $(this).attr('data-orderID');
			var status = $(this).attr('data-status');
				$.post(U('Usercenter/Config/do_update_shop_status'), {id: id,status:status}, function (res) {
					if (res.status == 1) {
						toast.success(res.m);
						setTimeout(function () {
							location.reload();
						}, 1500);
					}else {
						toast.error(res.m);
					}
				}, 'json');
			}
		})
		
})	
</script>