<extend name="Public/base1" />
<block name="style">

</block>
<block name="body"><!--body-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="databox radius-bordered databox-shadowed databox-graded">
                    <div class="databox-left bg-themesecondary">
                        <div class="databox-piechart">
                            <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90"></span></div>
                        </div>
                    </div>
                    <div class="databox-right">
                        <span class="databox-number themesecondary index-box-middle">发布活动</span>
                        <div class="databox-stat themesecondary radius-bordered">
                            <i class="stat-icon icon-lg fa fa-tasks"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="databox radius-bordered databox-shadowed databox-graded">
                    <div class="databox-left bg-themethirdcolor">
                        <div class="databox-piechart">
                            <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.2)"><span class="white font-90"></span></div>
                        </div>
                    </div>
                    <div class="databox-right">
                         <div class="databox-stat themethirdcolor radius-bordered">
                            <i class="stat-icon  icon-lg fa fa-envelope-o"></i>
                        </div>
                            <span class="databox-number themethirdcolor index-box-middle">发布公告</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="databox radius-bordered databox-shadowed databox-graded">
                    <div class="databox-left bg-themeprimary">
                        <div class="databox-piechart">
                            <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90"></span></div>
                        </div>
                    </div>
                    <div class="databox-right">
                         <div class="databox-state bg-themeprimary" style="">
                            <i class="stat-icon icon-xlg glyphicon glyphicon-shopping-cart"></i>
                        </div>
                        <span class="databox-number themeprimary index-box-middle" >发布商品</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="databox radius-bordered databox-shadowed databox-graded">
                   <div class="databox-left bg-themefourthcolor">
                        <div class="databox-piechart">
                            <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90"></span></div>
                        </div>
                    </div>
                    <div class="databox-right">
                        <div class="databox-stat palegreen">
                            <i class="stat-icon icon-xlg glyphicon glyphicon-tag"></i>
                        </div>
                         <span class="databox-number themefourthcolor index-box-middle">发布卡券</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="widget"><!--代办事项-->
            <div class="widget-header bordered-bottom bordered-themefourthcolor">
                <span class="widget-caption themefourthcolor">代办事项</span>
            </div>
            <div class="todo-list">
                  <li> 
                    <div class="activity fl">
                         活动订单：<a href="{:U('Manage/Order/index',array('status'=>1,'ord_status'=>'succ'))}">全额待处理&nbsp;<b>{$event_order_succ}</b></a>
                    </div>
                    <div class="activity-right" style="float:right">
                        <a href="{:U('Manage/Order/index')}">订单总数：<b>{$event_order_total}</b></a>
                    </div> 
                  </li>
                  <li>
                    <div class="activity fl">活动订单：<a href="{:U('Manage/Order/index',array('status'=>1,'ord_status'=>'halfpay'))}">订金待处理&nbsp;<b>{$event_order_halfpay}</b></a></div><div class="activity-right" style="float:right"><a href="{:U('Manage/Order/index')}">订单总数：<b>{$event_order_total}</b></a></div>
                  </li>
                  <li>
                    <div class="activity fl"> 商城订单：<a href="{:U('Manage/Order/shop',array('status'=>3,'order_status'=>21))}">待处理&nbsp;<b>{$shop_processed}</b></a></div><div class="activity-right" style="float:right"><a href="{:U('Manage/Order/shop')}">订单总数：<b>{$shop_order_all}</b></a></div> 
                  </li>
                  <li>
                    <div class="activity fl"> 定制订单：<a href="{:U('Manage/Order/custom')}">待处理&nbsp;<b>{$event_tailor_order}</b></a></div><div class="activity-right" style="float:right"> <a href="{:U('Manage/Order/custom')}">订单总数：<b>{$event_tailor_order_all}</b></a></div>
                  </li>
                  <li>
                    <div class="activity fl"> 收　　益：<a href="{:U('Manage/Revenue/cashout')}">可提现&nbsp;<b>{$cash_balance}</b></a></div><div class="activity-right" style="float:right"> <a href="{:U('Manage/Revenue/cashout')}">收益总数：<b>{$cash_total}</b></a></div>
                  </li>
                  <li>
                     <div class="activity fl">最新评论：<a href="{:U('Manage/Comment/event')}">待回复&nbsp;<b>{$comment_news}</b></a></div><div class="activity-right" style="float:right"> <a href="#"> 评论总数：<b>{$comment_all}</b></a></div>
                  </li>
            </div><!-- todolist -->
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-themeprimary">
                <span class="widget-caption themeprimary">汇总数据</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <table  class="table table-striped table-bordered table-hover" id="simpledatatable">
                    <tr class="data-box-tr" style="background-color:#FFFFFF;">
                        <td class="data-box-td">7天新增活动单数<br />
                          <span>{$event_yesterday_order_add}</span></td>
                        <td class="data-box-td">活动交易额<br />
                          <span>{$event_amount}</span></td>
                        <td class="data-box-td">参与人次<br />
                          <span>{$event_amount_people}</span></td>
                        <td class="data-box-td"><a href="{:U('Manage/Event/index')}" target="_blank">活动总数<br />
                          <span>{$event_nums}</span></a></td>
                    </tr>
                    <tr class="data-box-tr" style="background-color:#FFFFFF;">
                        <td>7天新增商品单数<br/>
                          <span>{$shop_yesterday_order_add}</span></td>
                        <td>商品交易额<br />
                          <span>{$shop_amount}</span></td>
                        <td><a href="{:U('Manage/Order/shop')}">商品订单数<br />
                          <span>{$shop_order_all}</span></a></td>
                        <td><a href="{:U('Manage/Shop/index')}" target="_blank">商品总数<br />
                          <span>{$shop_nums}</span></a></td>
                    </tr>
                    <tr class="data-box-tr" style="background-color:#FFFFFF;">
                        <td><a href="{:U('Manage/User/index')}">7天新增会员数<br />
                          <span>{$member_yesterday_add}</span></a></td>
                        <td><a href="{:U('Manage/User/index')}">会员总数<br />
                          <span>{$member_all}</span></a></td>
                        <td><a href="{:U('Manage/User/team_member')}">{$m_level_name.2}数量<br />
                          <span>{$member_team}</span></a></td>
                        <td><a href="{:U('Manage/User/master')}">{$m_level_name.4}数量<br />
                          <span>{$member_master}</span></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="margin-top:2px;">
            <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical" >
                <div class="widget-header bordered-bottom bordered-themesecondary">
                    <span class="widget-caption themesecondary">公告</span>
                </div><!--Widget Header-->
                <div>
                    <!--li>好消息！发游记赚代金劵，你还不来？ <span class="lookall"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;123</span></li-->
                </div>
            </div>
    </div>
</div>
</block>
<block name="script">
<!--Page Related Scripts-->
    <!--Sparkline Charts Needed Scripts-->
    <script src="/Public/static/bootstrap3.2/js/charts/sparkline/jquery.sparkline.js"></script>
    <script src="/Public/static/bootstrap3.2/js/charts/sparkline/sparkline-init.js"></script>

    <!--Easy Pie Charts Needed Scripts-->
    <script src="/Public/static/bootstrap3.2/js/charts/easypiechart/jquery.easypiechart.js"></script>
    <script src="/Public/static/bootstrap3.2/js/charts/easypiechart/easypiechart-init.js"></script>

    <!--Flot Charts Needed Scripts-->
    <script src="/Public/static/bootstrap3.2/js/charts/flot/jquery.flot.js"></script>
    <script src="/Public/static/bootstrap3.2/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="/Public/static/bootstrap3.2/js/charts/flot/jquery.flot.pie.js"></script>
    <script src="/Public/static/bootstrap3.2/js/charts/flot/jquery.flot.tooltip.js"></script>
    <script src="/Public/static/bootstrap3.2/js/charts/flot/jquery.flot.orderBars.js"></script>

    <script>
        // If you want to draw your charts with Theme colors you must run initiating charts after that current skin is loaded
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

            //Sets The Hidden Chart Width
            $('#dashboard-bandwidth-chart')
                .data('width', $('.box-tabbs')
                    .width() - 20);

            //-------------------------Visitor Sources Pie Chart----------------------------------------//
            var data = [
                {
                    data: [[1, 21]],
                    color: '#fb6e52'
                },
                {
                    data: [[1, 12]],
                    color: '#e75b8d'
                },
                {
                    data: [[1, 11]],
                    color: '#a0d468'
                },
                {
                    data: [[1, 10]],
                    color: '#ffce55'
                },
                {
                    data: [[1, 46]],
                    color: '#5db2ff'
                }
            ];
            var placeholder = $("#dashboard-pie-chart-sources");
            placeholder.unbind();

            $.plot(placeholder, data, {
                series: {
                    pie: {
                        innerRadius: 0.45,
                        show: true,
                        stroke: {
                            width: 4
                        }
                    }
                }
            });

            //------------------------------Visit Chart------------------------------------------------//
            var data2 = [{
                color: themesecondary,
                label: "Direct Visits",
                data: [[3, 2], [4, 5], [5, 4], [6, 11], [7, 12], [8, 11], [9, 8], [10, 14], [11, 12], [12, 16], [13, 9],
                [14, 10], [15, 14], [16, 15], [17, 9]],

                lines: {
                    show: true,
                    fill: true,
                    lineWidth: .1,
                    fillColor: {
                        colors: [{
                            opacity: 0
                        }, {
                            opacity: 0.4
                        }]
                    }
                },
                points: {
                    show: false
                },
                shadowSize: 0
            },
                {
                    color: themeprimary,
                    label: "Referral Visits",
                    data: [[3, 10], [4, 13], [5, 12], [6, 16], [7, 19], [8, 19], [9, 24], [10, 19], [11, 18], [12, 21], [13, 17],
                    [14, 14], [15, 12], [16, 14], [17, 15]],
                    bars: {
                        order: 1,
                        show: true,
                        borderWidth: 0,
                        barWidth: 0.4,
                        lineWidth: .5,
                        fillColor: {
                            colors: [{
                                opacity: 0.4
                            }, {
                                opacity: 1
                            }]
                        }
                    }
                },
                {
                    color: themethirdcolor,
                    label: "Search Engines",
                    data: [[3, 14], [4, 11], [5, 10], [6, 9], [7, 5], [8, 8], [9, 5], [10, 6], [11, 4], [12, 7], [13, 4],
                    [14, 3], [15, 4], [16, 6], [17, 4]],
                    lines: {
                        show: true,
                        fill: false,
                        fillColor: {
                            colors: [{
                                opacity: 0.3
                            }, {
                                opacity: 0
                            }]
                        }
                    },
                    points: {
                        show: true
                    }
                }
            ];
            var options = {
                legend: {
                    show: false
                },
                xaxis: {
                    tickDecimals: 0,
                    color: '#f3f3f3'
                },
                yaxis: {
                    min: 0,
                    color: '#f3f3f3',
                    tickFormatter: function (val, axis) {
                        return "";
                    },
                },
                grid: {
                    hoverable: true,
                    clickable: false,
                    borderWidth: 0,
                    aboveData: false,
                    color: '#fbfbfb'

                },
                tooltip: true,
                tooltipOpts: {
                    defaultTheme: false,
                    content: " <b>%x May</b> , <b>%s</b> : <span>%y</span>",
                }
            };
            var placeholder = $("#dashboard-chart-visits");
            var plot = $.plot(placeholder, data2, options);

            //------------------------------Real-Time Chart-------------------------------------------//
            var data = [],
                totalPoints = 300;

            function getRandomData() {

                if (data.length > 0)
                    data = data.slice(1);

                // Do a random walk

                while (data.length < totalPoints) {

                    var prev = data.length > 0 ? data[data.length - 1] : 50,
                        y = prev + Math.random() * 10 - 5;

                    if (y < 0) {
                        y = 0;
                    } else if (y > 100) {
                        y = 100;
                    }

                    data.push(y);
                }

                // Zip the generated y values with the x values

                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]]);
                }

                return res;
            }
            // Set up the control widget
            var updateInterval = 100;
            var plot = $.plot("#dashboard-chart-realtime", [getRandomData()], {
                yaxis: {
                    color: '#f3f3f3',
                    min: 0,
                    max: 100,
                    tickFormatter: function (val, axis) {
                        return "";
                    }
                },
                xaxis: {
                    color: '#f3f3f3',
                    min: 0,
                    max: 100,
                    tickFormatter: function (val, axis) {
                        return "";
                    }
                },
                colors: [themeprimary],
                series: {
                    lines: {
                        lineWidth: 0,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.5
                            }, {
                                opacity: 0
                            }]
                        },
                        steps: false
                    },
                    shadowSize: 0
                },
                grid: {
                    hoverable: true,
                    clickable: false,
                    borderWidth: 0,
                    aboveData: false
                }
            });

            function update() {

                plot.setData([getRandomData()]);

                plot.draw();
                setTimeout(update, updateInterval);
            }
            update();


            //-------------------------Initiates Easy Pie Chart instances in page--------------------//
            InitiateEasyPieChart.init();

            //-------------------------Initiates Sparkline Chart instances in page------------------//
            InitiateSparklineCharts.init();
        });

    </script>
</block>
