<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>手机测试</title>
    <link rel="stylesheet" href="__PUBLIC__/Mobile/f7/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/Mobile/f7/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Mobile/f7/css/highlight.css">
  </head>
  <body>
    <div class="content center">
      <div class="example clearfix">
        <div class="device device-left device-v">
          <iframe width="320" height="568" scrolling="auto"  frameborder="0" src="{:U('Mobile/Indexf7/index')}"></iframe>
        </div>
      </div>
    </div>
    <script src="__PUBLIC__/Mobile/f7/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="__PUBLIC__/Mobile/f7/js/plugins.js"></script>
    <script src="__PUBLIC__/Mobile/f7/js/main.js"></script>
  </body>
</html>