<extend name="Public/base1" />
<block name="style">
 <link href="/Public/static/bootstrap3.2/css/dataTables.bootstrap.css" rel="stylesheet" />
</block>
<block name="body">

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="table-toolbar">
            <a href="javascript:void(0);" class="btn btn-default ajax-post" target-form="ids" url="{:U('Public/changestatus',array('method'=>'resumeIssueContent'))}">启用</a>
            <a href="javascript:void(0);" class="btn btn-default ajax-post" target-form="ids" url="{:U('Public/changestatus',array('method'=>'forbidIssueContent'))}">禁用</a>
            <a href="javascript:void(0);" class="btn btn-default ajax-post" target-form="ids" url="{:U('issue/doRecommend',array('tip'=>1))}">推荐</a>
            <a href="javascript:void(0);" class="btn btn-default ajax-post" target-form="ids" url="{:U('issue/doRecommend',array('tip'=>0))}">取消推荐</a>
            <a href="javascript:void(0);" class="btn btn-default ajax-post" target-form="ids" url="{:U('issue/doRecommendbrand',array('tip'=>1))}">设为品牌推荐</a>
            <a href="javascript:void(0);" class="btn btn-default ajax-post" target-form="ids" url="{:U('issue/doRecommendbrand',array('tip'=>0))}">取消品牌推荐</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-sky">
                <i class="widget-icon fa fa-tasks themeprimary"></i>
                <span class="widget-caption">故事列表</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" class="check-all" data-set="#simpledatatable .ids">
                                    <span class="text">序号</span>
                                </label>
                            </th>
                            <th>
                                标题
                            </th>
                            <th>
                                发布人
                            </th>
                            <th>
                                创建时间
                            </th>
                            <th>
                                更新时间
                            </th>
                            <th>
                                推荐
                            </th>
                            <th>
                                品牌推荐
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                     <volist name="datainfo" id="vo">
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="id[]"  class="ids" value="{$vo.id}">
                                <span class="text">{$vo.id}</span>
                            </label>
                        </td>
                        <td><a href="{:U('Issue/index/issuecontentdetail',array('id'=>$vo['id']))}" target="_blank">{$vo.title|op_t|getShortSp=10}</a></td>
                        <td>{$vo.nickname}</td>
                        <td>{$vo.discreate_time}</td>
                        <td>{$vo.disupdate_time}</td>
                        <td>
							<if condition="$vo.is_recommend eq 0">否<elseif condition="$vo.is_recommend eq 1"/>是</if>
					    </td>
                        <td>
                            <if condition="$vo.recommend_brand eq 0">否<elseif condition="$vo.recommend_brand eq 1"/>是</if>
                        </td>
                        <td>
                            <if condition="$vo.status eq 0">禁用<elseif condition="$vo.status eq 1"/>启用</if>
                        </td>
						<td>
                            <div class="btn-group">        
                              <div class="btn-group">
                                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        操作 <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <if condition="$vo['status'] eq 1">
                                            <a href="{:U('Public/changestatus',array('method'=>'forbidIssueContent','id'=>$vo['id']))}"  class="ajax-get">禁用</a>
                                            <elseif condition="$vo['status'] eq 0"/>
                                            <a href="{:U('Public/changestatus',array('method'=>'resumeIssueContent','id'=>$vo['id']))}" class="ajax-get">启用</a>
                                            </if>
                                        </li>    
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{:U('Issue/story_edit',array('id'=>$vo['id']))}">编辑</a>
                                        </li>
                                    </ul>
                                </div>  
                            </div>
                        </td>
                    </tr>
                </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



 
</block>
<block name="script">
<!--Page Related Scripts-->
    <script src="/Public/static/bootstrap3.2/js/datatable/jquery.dataTables.min.js"></script>
    <script src="/Public/static/bootstrap3.2/js/datatable/ZeroClipboard.js"></script>
    <script src="/Public/static/bootstrap3.2/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="/Public/static/bootstrap3.2/js/datatable/dataTables.bootstrap.min.js"></script>
    <script>
	var InitiateSimpleDataTable = function () {
		return {
			init: function () {
				//Datatable Initiating
				var oTable = $('#simpledatatable').dataTable({
					"sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
					"iDisplayLength": 10,
	
					"oTableTools": {
						"aButtons": [],
						"sSwfPath": "/Public/static/bootstrap3.2/swf/copy_csv_xls_pdf.swf"
					},
					"language": {
						"search": "",
						"sLengthMenu": "_MENU_",
						"sZeroRecords": "对不起，查询不到任何相关数据",
						"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
						"sInfoEmpty": "共查询到 _TOTAL_ 条记录",

						"sInfoEmtpy": "找不到相关数据",
						"sInfoFiltered": "(数据表中共为 _MAX_ 条记录)",
				 		"sProcessing": "正在加载中...",
						"oPaginate": {
							"sFirst":    "首页",
							"sPrevious": "上页",
							"sNext":     "下页",
							"sLast":     "末尾"
						}
					},
					"bFilter": true, //搜索栏
					"bPaginate": true, //翻页
					"bLengthChange": true, ////每页显示的记录数
					"bInfo": false, //显示表格信息
					"bAutoWidth": true, //自适应宽度
					"aoColumns": [
					  { "bSortable": true },
					  { "bSortable": true },
					  { "bSortable": false },
                      { "bSortable": true },
                      { "bSortable": true },
                      { "bSortable": true },
                      { "bSortable": true },
					  { "bSortable": true },
					  { "bSortable": false }
					],
					"aaSorting": []
				});

	
			}
	
		};
	
	}();
	InitiateSimpleDataTable.init();
    </script>

</block>
