<!DOCTYPE HTML>
<html>
<head>
<include file="default/head"/>
<link href="__CSS__/default_center.css" type="text/css" rel="stylesheet">
</head>
<body>
<!-- 头部 -->
<include file="common/header"/>
<!-- /头部 -->
<!-- 主体 -->
<block name="header">
  <div id="main-container" class="container">
    <div class="common_block_border clearfix">
        <div class="col-md-2" style="margin-right:0px; padding-right:0">
          <div class="common_left_block">
            <dl>
            	<dd><a href="{:U('Websit/Data/index')}">数据统计</a></dd>
				<dd><a href="{:U('Websit/Order/index')}">订单管理</a></dd>
				<dd><a href="{:U('Websit/Revenue/index')}">收入管理</a></dd>	
				<dd><a href="{:U('Websit/Pointcard/index')}">优惠管理</a></dd>				
                <dd><a href="{:U('Websit/Event/index')}">线路管理</a></dd>			
                <dd><a href="{:U('Websit/Content/index')}">内容管理</a></dd>
				<dd><a href="{:U('Websit/Member/index')}">会员管理</a></dd>
		        <dd><a href="{:U('Websit/Insurance/index')}">保险管理</a></dd>
				<dd><a href="{:U('Websit/Index/index')}">网站设置</a></dd>
				<if condition="app_isopen('Shop')">
				<dd><a href="{:U('Websit/Shop/index')}">商品管理</a></dd>
				</if>
                <dd><a href="{:U('Websit/Apply/index')}">应用中心</a></dd>
				<if condition="app_isopen('Links')">
                <dd><a href="{:U('Websit/Links/index')}">友链管理</a></dd>
				</if>
			 </dl>
          </div>
        </div>
        <div class="col-md-10" style="padding:5px 5px;margin:0">
          <div id="usercenter-content-td">
            <div class="">
              <block name="body"></block>
            </div>
          </div>
        </div>
      </div>
   </div>
  <script type="text/javascript">
        $(function () {
            $(window).resize(function () {
                $("#main-container").css("min-height", $(window).height() - 343);
            }).resize();
        })
    </script>
</block>
<!-- /主体 -->
<!-- 底部 -->
<include file="common/footer"/>
<!-- /底部 -->
<script>
    $(function () {
        var $sidebar = $('#usercenter-sidebar-td');
        var $sidebar_xs = $('#usercenter-sidebar-xs');
        var $sidebar_sm = $('#usercenter-sidebar-sm');
        var $content = $('#usercenter-content-td');

        function trigger_resp() {
            var width = $(window).width();
            if (width < 768) {
                on_xs();
            } else {
                on_sm();
            }
        }

        function on_xs() {
            $sidebar_xs.append($sidebar);
            $content.css({'padding-left': 0, 'padding-right': 0});
        }

        function on_sm() {
            $sidebar_sm.prepend($sidebar);
        }

        trigger_resp();

        $(window).resize(function () {
            trigger_resp();
        })
    })
</script>
</body>
</html>
