<extend name="runners/common"/>
<block name="body">
<div class="container clearfix">
{:W('Common/SubMenu/index',array($sub_menu,$current,$model_info,''))}
</div>

<div class="container">
<div class="shop-box pad_15">
    <div class="clearfix">
        <h2 class="title_content">新品上架</h2>
        <volist name="contents_new" id="vo">
            <div class="col-md-3 goods">
                <div class="item_goods position_re">
                    <i class="ico_new"></i>
                    <dl>
                        <dt><a href="{:U('Shop/Index/goodsDetail',array('id'=>$vo['id']))}"><img class="img-responsive add_loading" src="__PUBLIC__/Core/images/blank.png" data-original="{$vo.goods_ico|getThumbImageById=222,222}"></a></dt>
                        <dd>
                            <div class="goods-left"><a class="text-more color_33" href="{:U('Shop/Index/goodsDetail',array('id'=>$vo['id']))}"><font title="{$vo.goods_name|op_t}">{$vo.goods_name}</font></a></div>
                            <div class="goods-right"><a>销售价：<font title=""><i class="ico_to_money"></i>&nbsp;{$vo.market_price} </font></a></div>
                            <div class="clearfix"></div>
                        </dd>
                        <dd class="color_84  font_s_14">
							<div class="left"><del>市场价：￥{$vo.tox_money_need}</del></div>
							
						</dd>
                        <div class="clearfix"></div>
                    </dl>
                </div>
            </div>
        </volist>
        <if condition="count($contents_new) eq 0">
            <div class="shop-box-prompt">现在还没有新品哦。O(∩_∩)O~</div>
        </if>
    </div>
            
          <div class="clearfix">
              <h2 class="title_content">最热单品</h2>
              <volist name="contents_hot" id="vo">
                  <div class="col-md-3 goods">
                      <div class="item_goods position_re">
                          <i class="ico_hot"></i>
                          <dl>
                              <dt>
                                  <a href="{:U('Shop/Index/goodsDetail',array('id'=>$vo['id']))}"><img class="img-responsive add_loading" src="__PUBLIC__/Core/images/blank.png" data-original="{$vo.goods_ico|getThumbImageById=222,222}"></a>
                              </dt>
                              <dd>
                                  <div class="goods-left">
                                      <a class="text-more shop-hundred"
                                         href="{:U('Shop/Index/goodsDetail',array('id'=>$vo['id']))}"
                                         >
                                          <font title="{$vo.goods_name|op_t}">{$vo.goods_name}</font>
                                      </a>
                                  </div>
                                  <div class="goods-right"><a><font title="">销售价：<i
                                          class="ico_to_money"></i>&nbsp;{$vo.market_price}</font></a></div>
                                  <div class="clearfix"></div>
                              </dd>
                              <dd class="color_84 clearfix">
                                  <div class="left"><del>市场价：￥{$vo.tox_money_need}</del></div>
                                 
                              </dd>
                          </dl>
                      </div>
                  </div>
              </volist>
              <if condition="count($contents_hot) eq 0">
                  <div class="shop-box-prompt">现在还没有最热单品哦。O(∩_∩)O~
                  </div>
              </if>
          </div>
 

    
</div>
</div>

</block>
<block name="script">
    <script>
       
        $(function () {
           hdl_lazyload("img.add_loading");
            $('.item_goods').mouseover(function () {
                $(this).addClass('item_goods_box_shadow');
            });
            $('.item_goods').mouseleave(function () {
                $(this).removeClass('item_goods_box_shadow');
            });
        })
    </script>
</block>
