<if condition="!empty($event_relatedhot)">
<div class="hdl-panel-hd">
<h3 class="hdl-panel-title">推荐活动</h3>
</div>
<div class="hdl-hot-list">
  <volist name="event_relatedhot" id="vo" key="i" mod="2">
 <eq name="mod" value="0"> 
<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-bordered"></eq>  
  <li>
    <div class="am-gallery-item">
      <a href="{:U('Mobile/Event/detail',array('id'=>$vo['id']))}" class="">
        <img class="lazy" src="__PUBLIC__/Core/images/grey.gif" data-original="{$vo.cover_id|getThumbImageById=140,105}" alt="  {$vo.title}" />
        <h3 class="am-gallery-title">{$vo.title}</h3>
        <div class="am-gallery-desc">活动时间：{$vo.lasted_time}</div>
        <div class="hdl-hot-list-day am-badge am-badge-primary am-radius">{$vo.traveldays}天</div>
      </a>
    </div>
  </li>
  <if condition="$i eq count($rec_event)"></ul>
  <else />
  <eq name="mod" value="1"></ul></eq>
  </if>
  </volist>
 </div> 
 </if>