<extend name="Public/common_user"/>
<block name="body">
 <header data-am-widget="header" class="am-header am-header-default am-header-fixed"><div class="am-header-left am-header-nav"><a href="{:U('Mobile/Shoporder/order_detail',array('order_sn'=>$order_info['order_sn']))}" class=""><i class="am-icon-chevron-left"></i></a>申请退货/退款</div>
</header>

<div class="order-all">
    <div class="order-goods-list">
        <div class="order-all-title">商品清单</div>
        <volist name="goods_list" id="vo2">
           <div class="order-pay-lists">
                <div class="order-pay-img">
                    <img src="{$vo2.goods_ico|getThumbImageById=100,100}"/>
                </div>            
                <div class="order-pay-name">
                    <div class="order-title">{$vo2.goods_name}</div>
                    <div class="order-guige">{:get_shop_types_attribute_names($vo2['sku_id'])}</div>   
                </div>           
                <div class="pay-value">
                    <div><i class="am-icon-close am-icon-fw "></i>{$vo2.goods_num}</div>
                    <div class="order-value-shu"><i class="am-icon-rmb am-icon-fw"></i>{$vo2['total_price']}</div>
                    <div class="order-value-refund">
                    
                        <php> $is_shop_order_info_ids = in_array($vo2['id'],$shop_order_info_ids)</php>
                        <if condition="!$is_shop_order_info_ids">
                        <a class="" href="{:U('Mobile/Shoporder/shop_order_refund_detail',array('order_sn'=>$order_info['order_sn'],'id'=>$vo2['id']))}" >申请退货</a>
                        </if>
                    </div>
                </div> 
             </div>               
         </volist>                                 
    </div>
    <if condition="$refund_list">
    <div class="delivery-address">
        <div class="order-all-title">退货信息</div>
        
        <volist name="refund_list" id="refund_list">
        <div class="delivery-address-list">
        	<i class="am-icon-angle-right"></i>       
            <div class="delivery-address-list-info">
                    <div class="delivery-address-text"><span class="delivery-address-name"><strong>{$refund_list.goods_name}</strong>：{$refund_list.goods_desc}</span></div>
                    <div class="delivery-address-address">数量：{$refund_list.refund_num}</div>
                    <div class="delivery-address-address">原因：{:get_shop_refund_select($refund_list['reason_select'])}</div>
                    <div class="delivery-address-address">状态：{:get_shop_refund_status($refund_list['refund_status'])}</div>
            </div>
        </div>
        </volist>
        
    </div>
    
    </if>   
<div class="order-information">
    	<div class="order-information-goodsnum">
            <span class="information-text">订单状态：</span>
            <span class="information-num">{:get_mobile_shop_order_status($order_info['status'])}</span>
        </div>
    	<div class="order-information-goodsnum">
            <span class="information-text">商品件数：</span>
            <span class="information-num"><i class="am-icon-close am-icon-fw "></i>{$order_info.all_goods_num}</span>
        </div>
        <div class="order-information-goodsnum">
            <span class="information-text">运费：</span>
            <span class="information-num">{$order_info.allfreight}</span>
        </div>	 
        <div class="order-information-goodsnum">
            <span class="information-text">金额合计：</span>
            <span class="information-num"><i class="am-icon-rmb am-icon-fw"></i>{$order_info.pay_price}</span>
        </div>
        <!--div class="order-information-goodsnum">
            <span class="information-text">优惠折扣：</span>
            <span class="information-num">-0.00</span>
        </div-->
          
    </div> 
</div>

<div class="am-popup" id="sign-address">

    <header class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav"><a href="javascript:" class="" data-am-modal-close><i class="am-icon-chevron-left"></i></a>常用收货地址</div>
      <div class="am-header-right am-header-nav"><a href="javascript:" class="" id="add-address-btn"><i class="am-icon-plus-square"></i></a></div>
    </header>
    <div class="am-popup-inner">
        <div class="am-popup-bd" style="padding:10px">
            <div class="sign-address-loading">
              <span class="am-icon-spinner am-icon-spin"></span>奋力加载中...
            </div>
            <div class="sign-address-tpl">
                <ul class="sign-address-list">
                    <div ajax_contacts_checkbox>
                    <li class="sign-address-list-head"><span class="sign-address-list-name"><span ajax_address_name>姓名</span></span><span ajax_address_telephone>电话</span></li>
                    <li class="sign-address-list-body"><span><span ajax_address_address>地区</span></span></li>
                    </div>
                </ul> 
            </div>
            <div class="sign-address-content">
                <div class="sign-address-lists"></div>
            </div>
            <div class="sign-address-msg am-alert am-alert-danger"></div>
        </div>
    </div>
</div>


<div class="am-popup" id="add-address">
    <header class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav"><a href="javascript:" class="" data-am-modal-close><i class="am-icon-chevron-left"></i></a>添加收货地址</div>
      <div class="am-header-right am-header-nav"><a href="javascript:" class="am-btn am-btn-block am-btn-default am-radius" data-am-modal-confirm>确定</a></div>
    </header>
    <div class="am-popup-inner">
        <div class="am-popup-bd" style="padding:0">
            <form class="am-form" id="add-address-form" method="post">
                <div class="edit-contacts-box">
            <ul class="edit-contacts-box-list">
                <li>
                  <div class="edit-contacts-box-list-group-title">必填项</div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title">姓名</span>
                    <div class="edit-contacts-box-list-text">
                        <input id="name" name="name" type="text" class="am-form-field" value="{$address_data.name}" placeholder="收件人姓名"/>
                    </div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title">手机</span>
                    <div class="edit-contacts-box-list-text">
                        <input id="phone" name="phone" type="text" class="am-form-field" value="{$address_data.phone}" placeholder="手机号：用于发送短信通知"/>
                    </div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title">地区</span>
                    <div class="edit-contacts-box-list-text select-area-box">
                       {:hook('M_China_City', array('find'=>'address','level'=>3,'province'=>$address_data['province'],'city'=>$address_data['city'],'district'=>$address_data['district']))}
                    </div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title">街道</span>
                    <div class="edit-contacts-box-list-text">
                        <input id="detailed" name="detailed" type="text" class="am-form-field" value="{$address_data.detailed}" placeholder="请填写详细地址"/>
                    </div>
                </li>
                
                <li>
                  <div class="edit-contacts-box-list-group-title">选填项</div>
                </li>
				<li>
                    <span class="edit-contacts-box-list-title">邮箱</span>
                    <div class="edit-contacts-box-list-text">
                        <input id="email" name="email" type="text" class="am-form-field" value="{$address_data.email}" placeholder="邮箱：用于发送邮件"/>
                    </div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title"></span>
                    <div class="edit-contacts-box-list-text address_isdefault">
                        <label class="am-checkbox am-danger"><input type="checkbox" value="1" checked  data-am-ucheck name="isdefault">设置为默认地址</label>
                    </div>
                </li>
            </ul>
        </div>
            </form>
        </div>
    </div>
</div>



<script>
var $address_modal = $('#sign-address');
var $address_modal_btn = $('#sign-address-btn');
var $add_address_btn = $('#add-address-btn');
var $add_address = $('#add-address');

$address_modal_btn.on('click', function(e) {
	$address_modal.modal({closeViaDimmer:0,relatedTarget: this});
});
$address_modal.on('open.modal.amui', function() {
	$address_modal.find('.sign-address-loading').show();
	$address_modal.find('.sign-address-msg').html('').hide();
	$address_modal.find('.sign-address-content').hide();
	$address_modal.find('.sign-address-content ul').remove();//
	
	var event_id = $('#event_id').val();
	var calendar_id = $('#calendar_id').val();
	var event_membercontacts = $("#event_membercontacts").val();
	
	$.getJSON("{:U('Mobile/Config/ajax_get_address')}",'', function (data) {	
		if(data){
		  $.each(data, function(i,g_data){
			var ajax_member_address_tpl = $('.sign-address-tpl ul');
			var ajax_member_address_li = ajax_member_address_tpl.clone();
			var ajax_contacts_checkbox = ajax_member_address_li.find('[ajax_contacts_checkbox]');
			var ajax_address_name = ajax_member_address_li.find('[ajax_address_name]');
			var ajax_address_telephone = ajax_member_address_li.find('[ajax_address_telephone]');//mobile
			var ajax_address_address = ajax_member_address_li.find('[ajax_address_address]');//-address-
			
			ajax_contacts_checkbox.attr("data-id",g_data['id']);
			ajax_address_name.html(g_data['name']);
			ajax_address_telephone.html(g_data['phone']);
			ajax_address_address.html(g_data['province']+g_data['city']+g_data['district']+g_data['detailed']);
			ajax_member_address_li.on('click', function() {
				$('.delivery-address-name').html(g_data['name']);
				$('.delivery-address-phone').html(g_data['phone']);
				$('.delivery-address-address').html(g_data['province']+g_data['city']+g_data['district']+g_data['detailed']).show();
				$('.delivery-address-text').show();
				$('.delivery-address-no').hide();
				$('.reds_id').val(g_data['id']);
				$address_modal.modal('close');
			});
			ajax_member_address_li.insertBefore('.sign-address-lists').show();
		  }); 
		  $address_modal.find('.sign-address-loading').hide();
		  $address_modal.find('.sign-address-content').show();	  
		}else{
			$address_modal.find('.sign-address-loading').hide();
			$address_modal.find('.sign-address-msg').html('没有收货地址').show();	
		}
	});
});

$add_address_btn.on('click', function(e) {						   
	$add_address.modal({closeViaDimmer:0,relatedTarget: this});
	$address_modal.modal('close');
 $('.bloodtype-select').chosen({width:"100%",height:"60",disable_search: true});
	$('.accpre-select').chosen({width:"100%",height:"60",disable_search: true});
	$('.role-select').chosen({width:"100%",height:"60",disable_search: true});		
	$('.setup-list-sex .sex').on('click', function() {
		var sexval =  $(this).attr('data-sex-id');							   
		$('#sex').val(sexval);
		if(sexval ==1){
			$('.sex-man').addClass('chosen');
			$('.sex-women').removeClass('chosen');
		}else{
			$('.sex-man').removeClass('chosen');
			$('.sex-women').addClass('chosen');
		}
	});
});


$add_address.on('closed.modal.amui', function() {
	$address_modal.modal({closeViaDimmer:0,relatedTarget: this});											
});
$add_address.on('confirm.modal.amui', function() {
	var self = $('#add-address-form');
	$.post("{:U('Mobile/Config/do_address')}", self.serialize(), function (data) {
		if(data['status']==1){
			$add_address.modal('close');
		}else{
			toasts.error(data.msg);
		}
	}, 'json');
});
</script>

</block>
