<extend name="Public/common_user"/>
<block name="body">
 <header data-am-widget="header" class="am-header am-header-default am-header-fixed"><div class="am-header-left am-header-nav"><a href="{:U('Mobile/Shoporder/shop_order_refund',array('order_sn'=>$goods['order_sn']))}" class=""><i class="am-icon-chevron-left"></i></a>申请退货/退款</div>
</header>

<div class="order-all">
    <div class="order-goods-list">
        <div class="order-all-title">商品</div>
       <div class="order-pay-lists">
            <div class="order-pay-img">
                <img src="{$goods.goods_ico|getThumbImageById=100,100}"/>
            </div>            
            <div class="order-pay-name">
                <div class="order-title">{$goods.goods_name}{$goods.goods_name}</div>
                <div class="order-guige">{$goods.goods_desc}</div>   
            </div>           
         </div>               
                              
    </div>  
    
    <form class="am-form-horizontal ajax-form" role="form" action="{:U('Mobile/Shoporder/shop_order_refund_detail')}" method="post">
        <input type="hidden" name="order_sn" value="{$goods.order_sn}" >
        <input type="hidden" name="id" value="{$goods.id}" >
        <div class="edit-contacts-box">
            <ul class="edit-contacts-box-list">
            <li>
                  <div class="edit-contacts-box-list-group-title">申请表</div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title">选择数量</span>
                    <div class="edit-contacts-box-list-text">
                        <select name="refund_num" class="refund_num">
                                <?php for($i=0;$i<=$goods['goods_num'];$i++){ ?>
                                <option value="{$i}">{$i}</option>
                                <?php } ?>
                            </select>
                    </div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title">选择原因</span>
                    <div class="edit-contacts-box-list-text">
                        <select name="reason_select" class="reason_select">
                                <option value="0">--请选择退款原因--</option>
                                <option value="1">未按约时间发货</option>
                                <option value="2">虚假发货</option>
                                <option value="3">商品质量问题</option>
                                <option value="4">收到商品描述不符</option>
                                <option value="5">其他</option>
                            </select>
                    </div>
                </li>
                <li>
                    <span class="edit-contacts-box-list-title">退款说明</span>
                    <div class="edit-contacts-box-list-text">
                        <textarea id="refund_desc" style=" line-height:22px;" class="refund_desc" name="refund_reason" ></textarea>
                    </div>
                </li>
                
            </ul>
        
           
        </div>
        <div data-am-widget="navbar" class="am-navbar am-cf button-box"  id="">
         <button type="submit" class="am-btn am-btn-block am-btn-through">申请退货</button>
        </div>
     </form>
</div>








<script>
    $(function () {
    $('.reason_select').chosen({width:"100%",disable_search: true});
	$('.refund_num').chosen({width:"100%",disable_search: true});
	$('#edit-config-btn').on('click', function() {
		var self = $('#edit-config-form');      
                    setSpinner.open();
		$.post("{:U('Mobile/Config/dosetup')}", self.serialize(), function (data) {
                        setSpinner.close();
			if (data['status'] == 1) {
				toasts.success(data.info,"{:U('Mobile/Config/set')}");
			} else {
				toasts.info(data.info)
			}
		}, 'json');
	});
        $(".camera_file").on('change', function(e){
            var file=this.files[0];
            imgFile.change(file,"{:U('Mobile/Config/camera')}");
            this.value= 0;
        });
});
</script>

</block>
