<extend name="Public/base" />
<block name="body">
<div class="main-title">
   <if condition="$authority['shop_authority'] eq 2"><a class="w_btn" href="{:U('Distribute/goods_list')}">发布商品</a><else/><a class="w_btn add-btn w_btn" href="{:U('Distribute/site_distribute_apply')}">申请入驻</a></if>
</div>
<div class="cf">
  <div class="data-table table-striped">
    <table class="">
      <!-- 表头 -->
      <thead>
        <tr>
		  <th>状态</th>
		  <th>申请号</th>
		  <th>类别</th>
		  <th>申请时间</th>
		  <th>协议生效日</th>
		  <th>协议终止日</th>
		  <th>备注</th>
		  <th>查看</th>
        </tr>
      </thead>
      <!-- 列表 -->
      <tbody>
        <notempty name="apply_list">
        <volist name="apply_list" id="vo">
          <tr>
			<td><if condition="$vo.distribute_status eq 1">审核中<elseif condition="$vo.distribute_status eq 2" />已入驻<elseif condition="$vo.distribute_status eq 0" />已驳回<elseif condition="$vo.distribute_status eq 3" />已到期</if></td>
		    <td>{$vo.distribute_apply_sn}</td>
			<td>商城</td>
			<td>{$vo.apply_time|date="Y-m-d H:i:s",###}</td>
			<td><if condition="$vo['examine_time']">{$vo.examine_time|date="Y-m-d",###}<else/></if></td>
			<td><if condition="$vo['overtime']">{$vo.overtime|date="Y-m-d",###}<else/></if></td>
			<td><if condition="$vo['apply_mode'] eq 1">手动申请<else/>自动续约</if></td>
            <td><a class="w_btn  " href="{:U('Distribute/apply_detail',array('id'=>$vo['id']))}">查看</a></td>
          </tr>
        </volist>
		   <td colspan="15">{$page}</td>
        <else/>
			<td colspan="15" class="text-center"> aOh! 暂时还没有内容!</td>
       </notempty>
     </tbody>
   </table>
  </div>
   <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>

