<extend name="Public/base" />
<block name="body">
 
<div class="jishi">
	<div class="yuexing">聚友品质，用心服务，心有所想，跃行无限</div>
	<div class="jishi-box">
    	<div class="fenxiao">
        	<div class="fenxiao-i"><i class="fa fa-share-alt-square"></i></div>
        	<div class="fenxiao-btn"><a href="{:U('Distribute/company_list')}"  class="mbtn btn_all"><b> 申 请 全 站 </b></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Distribute/goods')}" class="mbtn btn_one"><b> 申 请 单 品 </b></a></div>
        	<div class="fenxiao-text">我要分销</div>
        </div>
        
    	<div class="ruzhu">
        	<div class="fenxiao-i"><i class="fa fa-shopping-cart"></i></div>
        	<div class="ruzhu-btn"><if condition="$status"><a class="mbtn btn_all"> 已 入 驻 </a><else/><a href="{:U('Distribute/site_distribute_apply')}" class="mbtn  btn_all"><b> 入 驻 申 请 </b></if></a></div>
            <div class="ruzhu-text">我要供货</div>        
        </div>
        
        <div class="jishi-blog">
        	<div class="jishi-blog-title">集市公告</div>
        	<ul>
            	<li><a href="">好消息！发游记赚代金券，你还不来？</a></li>
                <li><a href="">写游记 价值2698的北脸顶级冲锋衣</a></li>
                <li><a href="">写游记 价值2698的北脸顶级冲锋衣...</a></li>
            </ul>        
        </div>    
    </div>
    <!-- 联系 -->
   
    <!-- 练习 -->
 
	<!--div class="shop-tongji">
    	<div class="shop-tongji-text">今日商城统计概括</div>
        <div class="shop-tongji-img">
        	<span><img src="" width="120" height="80" /><br /><a>名称名称名称名称</a></span>
        	<span><img src="" width="120" height="80" /><br /><a>名称名称名称名称</a></span>
        	<span><img src="" width="120" height="80" /><br /><a>名称名称名称名称</a></span>
            <span><img src="" width="120" height="80" /><br /><a>名称名称名称名称</a></span> 
        	<span><img src="" width="120" height="80" /><br /><a>名称名称名称名称</a></span>
            <span><img src="" width="120" height="80" /><br /><a>名称名称名称名称</a></span>
            <span><img src="" width="120" height="80" /><br /><a>名称名称名称名称</a></span>              
        </div>
    
    
    </div-->

</div>
</block>

