<extend name="Public/base"/>
<block name="body">
  <div class="container ">
    <div class="row ">
      <div class="col-lg-12">
        <div class="offcial-model">
          <div class="offcial-model-title">精彩案例</div>
          <div class="offcial-case-lists">
            <volist name="data_info" id="vo">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="offcial-case-lists-border">
                  <div class=""><img src="{$vo['cover_id']|getThumbImageById=216,100}" /></div>
                  <div class="offcial-case-text">{$vo.title|op_t|getShortSp=15}</div>
                </div>
              </div>
            </volist>
          </div>
          <div class="pages pull-right">{$page}</div>
        </div>
      </div>
    </div>
  </div>
  <style>

</style>
</block>
<block name="script"> </block>
