<extend name="Public/base"/>
<block name="body">
  <div class="container">
    <div class="row">
    	<div class="col-lg-12 ">
    <div class="offcial-model">
      <div class="team-detail">
        <div class="team-detail-header">
          <h1>{$data_info.title}</h1>
          <p>发表于:{$data_info.create_time|date='Y-m-d H:i:s',###}</p>
        </div>
        <div class="team-detail-body"> {$data_info.content} </div>
      </div>
      
      
      
    </div></div></div>
  </div>
</block>
<block name="script"> </block>
