<div id="frm-post-popup" class="white-popup usercenter-contacts-add " >
  <button title="Close (Esc)" type="button" class="mfp-close">×</button>
  <h2>修改导航配置</h2>
  <div class="aline common-margin-bten"></div>
  <div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal ajax-form" role="form" action="{:U('Template/template_left_nav_edit')}" method="post">
		 <input type="hidden" name="id" value="{$list.id}">
          <div class="form-group has-feedback">
            <label for="title" class="col-md-2 control-label">标题</label>
            <div class="col-md-4">
              <input id="title" name="title" type="text" class="form-control form_check" check-type="Text"  value="{$list.title}" placeholder="标题"/>
            </div><span class="common-color-red">(*10个字以内)
			</span>
          </div>
          <div class="form-group position">
            <label for="description" class="col-md-2 control-label">描述</label>
            <div class="col-md-4"> 
              <input id="description" type='text'  class="form-control form_check" name='description' value="{$list.description}" placeholder="描述"/>
			</div><span class="common-color-red">(*10个字以内)</span>
          </div>
		  <div class="form-group position">
            <label for="address" class="col-md-2 control-label">导航地址</label>
            <div class="col-md-6"> 
              <input id="address" type='text'  class="form-control form_check" name='address' value="{$list.address}" placeholder="导航地址"/>
			</div><span class="common-color-red">(*http://开头)</span>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button type="submit" class="btn btn-primary " href="{:U('Websit/Index/product_config_edit')}">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>