<div id="center">
  <div class="common_block_title ">
    <div class="pull-right"><a class="mbtn btn-info  event_sign" href="{:U('address_add')}">添加常用收货地址</a></div>
    常用收货地址</div>
  <div class="row data-table">
    <table>

      <thead>
        <tr>
        
          <th>姓名</th>
          
          <th>收件地区</th>
          <th>详细地址</th>
          <th>邮编</th>
          <th>联系电话</th>
		  <th>电子邮箱</th>
          <th>操作</th>
 
        </tr>
      </thead>
      <!-- 列表 -->
      <tbody>
        <notempty name="list">
        
        <volist name="list" id="vo">
          <tr>
          
            <td>{$vo.name}</td>
            <td>{:get_city($vo['province'])} {:get_city($vo['city'])} {:get_city($vo['district'])} {:get_city($vo['address'])}</td>
            <td>{$vo.detailed}</td>
            <td>{$vo.zipcode}</td>
            <td>{$vo.phone}</td>
			<td>{$vo.email}</td>
            <td><a class="mbtn btn-info  event_sign1" href="{:U('Usercenter/Config/address_edit?id='.$vo['id'])}">编辑</a>
            <if condition="$vo.isdefault eq 1"><span class="mbtn btn-danger">已为默认地址</span><elseif condition="$vo.isdefault eq 0"/><a class="mbtn btn-info   shop_address_setdefault" href="javascript:"  data-ID="{$vo.id}" >设为默认地址</a></if>
            <a class="mbtn btn-danger shop_address_del" href="javascript:" data-ID="{$vo.id}"  >删除</a></td>
            
          </tr>
        </volist>
		
        <else/>
      <td colspan="7" class="text-center"> aOh! 暂时还没有内容!</td>
        </notempty>
        </tbody>
    </table>
  </div>
  <div class=""></div>
  <script>
        $(function () {			
			$('.event_sign').magnificPopup({
                type: 'ajax',
                overflowY: 'scroll',
                modal: true,
                callbacks: {
                    ajaxContentAdded: function () {
                        console.log(this.content);
                    }
                }
            });
			
				//更新
			$('.event_sign1').magnificPopup({
                type: 'ajax',
                overflowY: 'scroll',
                modal: true,
                callbacks: {
                    ajaxContentAdded: function () {
                        console.log(this.content);
                    }
                }
            });
			//-delete-
			$('.shop_address_del').click(function () {
                if (confirm('你确定要删除吗？')) {
                    var  aid= $(this).attr('data-ID');
                    $.post(U('Usercenter/Config/address_delete'), {id: aid}, function (res) {
                        if (res.status) {
                            toast.success(res.info);
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                        else {
                            toast.error(res.info);
                        }
                    }, 'json');
                }
            });
			//setdefault
			$('.shop_address_setdefault').click(function () {
                if (confirm('你确定更改默认地址吗？')) {
                    var  aid= $(this).attr('data-ID');
                    $.post(U('Usercenter/Config/address_default'), {id: aid}, function (res) {
                        if (res.status) {
                            toast.success(res.info);
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                        else {
                            toast.error(res.info);
                        }
                    }, 'json');
                }
            });
			
			
        })
    </script>
</div>
