<extend name="Public/base1" />
<block name="style">
</block>
<block name="body">
 <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
                <div class="widget-header  bordered-bottom bordered-sky">
                	<i class="widget-icon fa fa-tasks themeprimary"></i>
                    <span class="widget-caption">{$datainfo.pag_title}</span>
                </div>
                <div class="widget-body">
                    <form id="defaultForm" action="{:U('Template/template_tags_classification_edit')}" class="form-horizontal form-bordered" method="post" >
                    	<input type="hidden" name="id" value="{$datainfo.id}" />
                        <div class="form-title">
                            必填项
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">标题 </label>
                            <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="标题" name="title" value="{$datainfo.title}" /> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">描述 </label>
                            <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="描述" name="description" value="{$datainfo.description}" /> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">标签</label>
                            <div class="col-lg-10">
                                {:form_select($tags,$datainfo['tags_id'],'class="select input-large" check-type="Text" name="tags" id=""',"--请选择标签--")}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">分类图</label>
                            <div class="col-lg-10">
                                 {:hook('UploadImagePc', array('find_name'=>'goods_ico','value'=>$datainfo['images'],'multi'=>false,'thumb_width'=>80,'thumb_height'=>80,'width'=>'370','height'=>'204','ds'=>'建议图片大小为370*204'))}
                            </div>
                        </div>
                        <div class="form-title">
                            选填项
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">链接地址 </label>
                            <div class="col-lg-10">
                            	<div class="input-group">
                                    <input type="text" class="form-control" placeholder="链接地址" name="address" value="{$datainfo.address}"  /> 
                                    <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="请使用Http://开头"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                                     
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input class="btn btn-palegreen" type="submit" value="确定保存" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
</block>
<block name="script">
<script src="/Public/static/bootstrap3.2/js/validation/bootstrapValidator.js"></script>
<script src="/Public/static/bootstrap3.2/js/select2/select2.js"></script>
<script src="/Public/static/bootstrap3.2/js/select2/i18n/zh-CN.js"></script>
<!--Bootstrap Tags Input-->
<script src="/Public/static/bootstrap3.2/js/tagsinput/bootstrap-tagsinput.js"></script>

<script type="text/javascript">
$(document).ready(function() {
						   
$("#tags").select2({language:"zh-CN"});
						   
    $('#defaultForm').bootstrapValidator({
		//excluded: ':disabled',
        //live: 'enabled',
        message: '这些信息不能为空',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
			
			
            title: {
                validators: {
                    notEmpty: {
                        message: '标题是必需的，不能是空的'
                    },
					stringLength: {
						min: 1,
						max: 10,
						message: '标题必须是大于1的小于10的字符'
					},
                }
            },
			description: {
                validators: {
                    notEmpty: {
                        message: '描述是必需的，不能是空的'
                    },
					stringLength: {
						min: 1,
						max: 10,
						message: '描述必须是大于1的小于10的字符'
					},
                }
            },
			tags: {
                validators: {
                    notEmpty: {
                        message: '标签是必需的，不能是空的'
                    },
					
                }
            },
			goods_ico: {
                validators: {
                    notEmpty: {
                        message: '图片是必需的，不能是空的'
                    },
					
                }
            },
			
			
            address: {
                validators: {
                    
					uri: {
                        message: '链接地址必需以http://开头'
                    }
                }
            }
           
        }
    }).on('success.form.bv', function(e) {
            // Prevent submit form
            e.preventDefault();
			$(this).addClass('ajax-form');
			$('#defaultForm').data('bootstrapValidator').disableSubmitButtons(false);
	});
});
</script>

</block>