<div class="app_head ">
    <div class="app_title col-md-12 ">
        <i class="app_ico_i glyphicon glyphicon-th-large"> </i>会员
    </div>
    <div class="clearfix app_head_member"></div>
    <div>
        <form class="form-horizontal" action="{:U('People/Index/find')}" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">查找用户：</label>
                    </div>
                    <div class="col-md-3">
                        <input name="keywords" class="form-control" placeholder="昵称" value="{$nickname}">
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">所在地：</label>
                    </div>
                    <div class="col-md-2">
                    	{:form_select(get_province('','selected'),I('province'),'class="form-control" check-type="Text" name="province" id="province"','所在地')}
                        
                    </div>
                    <div class="col-md-2">
                        {:form_select(get_upgrading(),I('is_use'),'class="form-control" check-type="Text" name="is_use" id="is_use"','用户组')}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn-primary btn">查找</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="commons-bottom"></div>
</div>