<extend name="Public/base" />
<block name="body">

<div class="main-title">
    <h2>定制订单</h2>
</div>
<div class="cf">
	<div class="fl">
	    <button class="w_btn ajax-post" url="{:U('Order/changeStatus',array('method'=>'forbidorder'))}"
	            target-form="ids">启 用
	    </button>
	    <button class="w_btn ajax-post" url="{:U('Order/changeStatus',array('method'=>'resumeorder'))}"
	            target-form="ids">禁 用
	    </button>
	    <!--button class="w_btn ajax-post confirm" url="{:U('Order/changeStatus',array('method'=>'deleteorder'))}"
	            target-form="ids">删 除
	    </button-->          
	</div>
</div>
	<!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th>需求单号</th>
                <th>活动预算</th>
                <th>参加人数</th>
                <th>目的地</th>
                <th>出发日期</th>
                <th>行程天数</th>
                <th>特色需求</th>
                <th>其他需求</th>
                <th>联系信息</th>
                <th>参考线路</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="tailor_arr">
                <volist name="tailor_arr" id="vo">
                    <tr class="tailor_leave">
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <td>{$vo.trade_sn}</td>
              			<td>最低：{$vo.minprice}元<br>最高：{$vo.maxprice}元</td>
			  		<if condition="$vo[childnum] neq 0">
						<td>约<span style="color:red">{$vo.totalnum}</span>人，<br>(小孩<span style="color:red">{$vo[childnum]}</span>人<br><span style="color:red">{$vo[minage]}</span>~<span style="color:red">{$vo[maxage]}</span>岁)</td>
			  		<else />
			  			<td>约<span style="color:red">{$vo.totalnum}</span>人</td>
			  		</if>
			  			<td>{:get_desty($vo[desty_type],$vo[desty])}</td>
			  		<if condition="($vo[earlytime neq '']) or ($vo[latetime] neq '')">
              			<td>最早：{$vo.earlytime|date="Y-m-d",###}<br>最晚：{$vo.latetime|date="Y-m-d",###}</td>
			  		<else />
			  			<td><span style="color:red">尚未确定</span></td>
			  		</if>
			  		<if condition="$vo[traveldays] neq 0">
              			<td>{$vo.traveldays} 天</td>
			  		<else />
			  			<td><span style="color:red">未填</span></td>
			 		</if>
			 		<if condition="$vo[tag] neq ''">
			 			<td class="show_special"><a style="color:#01AECC">点击<br>查看</a></td>
					</if>
					<if condition="$vo[other] neq ''">
              			<td class="show_need"><a style="color:#01AECC"  >点击<br>查看</a></td>
			  		<else />
			  			<td><span style="color:red">未填</span></td>
			  		</if>
			  			<td class="show_contact"><a style="color:#01AECC" >点击<br>查看</a></td>
			  		<if condition="$vo[reference] neq ''">
			  			<td class="show_refe"><a style="color:#01AECC" >点击<br>查看</a></td>
			  		<else />
			  			<td><span style="color:red">未填</span></td>
			  		</if>
						<td>    
                    <if condition="$vo.status eq 0">
                        <a href="{:U('Order/changeStatus?method=forbidorder&id='.$vo['id'])}"
                           class="ajax-get">禁用</a>
                    <else />
                        <a href="{:U('Order/changeStatus?method=resumeorder&id='.$vo['id'])}"
                           class="ajax-get">启用</a>
                     </if></td>
                      	<td>
							<a class="btn-primary mbtn add_tailor_note" href="{:U('Order/add_tailor_note',array('id'=>$vo[id]))}">添加备注</a>
						<if condition="$vo[tailor_note] neq ''">
							<a class="btn-primary mbtn" href="{:U('Manage/Order/show_note',array('id'=>$vo[id]))}">查看备注</a>
						<else />
							<span style="color:red">暂无备注</span>
						</if>
			 			 </td>



                      	 
                    </tr>
                  <tr style="display:none;background:#269ABC;">                   		
                   		<td colspan="13"style="padding:2px;">
                   			<table>
                   				<tr><td>特殊需求<div style="float:right; " class="close-info" style="margin:4px; width:14px; hight:14px;"><img style="width:12px; hight:12px;" src="__PUBLIC__/Install/img/error.png" /></td></tr>
								<tr><td>{:get_event_tag($vo[tag])}</td></tr>
							</table>
						</td>
                   		
						<td colspan="13"style="padding:2px;">
                   			<table><tr><td>其他需求<div style="float:right; " class="close-info" style="margin:4px; width:14px; hight:14px;"><img style="width:12px; hight:12px;" src="__PUBLIC__/Install/img/error.png" /></td></tr>
								<tr><td>{$vo.other}</td></tr>
							</table>
						</td>
						
						<td colspan="13"style="padding:2px;">
							<table><tr><td>联系人</td><td>联系电话</td><td>联系Email<div style="float:right; " class="close-info" style="margin:4px; width:14px; hight:14px;"><img style="width:12px; hight:12px;" src="__PUBLIC__/Install/img/error.png" /></td></tr>
								<tr><td>{$vo.contact_name}<if condition="$vo.sex eq 0">（女士）<else />（先生）</if></td><td>{$vo.contact_telephone}</td><td>{$vo.contact_email}</td></tr>
							</table>
						</td>

						<td colspan="13"style="padding:2px;">
                   			<table><tr><td>路线规划<div style="float:right; " class="close-info" style="margin:4px; width:14px; hight:14px;"><img style="width:12px; hight:12px;" src="__PUBLIC__/Install/img/error.png" /></td></tr>
								<tr><td>{$vo.reference}</td></tr>
							</table>
						</td>	
                   </tr>
                   
                       
                </volist>
                <else/>
                <td colspan="13" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
	 <div class="page">
        {$page}
    </div>
	 <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
    	$(document).ready(function(){
    		

		   
		   $(".show_special").click(function(){
		   		$(this).parent().next().show();
				$(this).parent().next().children().siblings().hide();
		   		$(this).parent().next().children().first().show();

		  
		   });

		   $(".show_need").click(function(){
		   		$(this).parent().next().show();
				$(this).parent().next().children().siblings().hide();
		   		$(this).parent().next().children().eq(1).show();
		   		
		   	
		   });

		    $(".show_contact").click(function(){
		   		$(this).parent().next().show();
				$(this).parent().next().children().siblings().hide();
		   		$(this).parent().next().children().eq(2).show();
		   		
		   	
		   });

		    $(".show_refe").click(function(){
		   		$(this).parent().next().show();
				$(this).parent().next().children().siblings().hide();
		   		$(this).parent().next().children().last().show();
		   		
		   	
		   });

		    $(".close-info").click(function(){ 
		    	$(this).parent().parent().parent().parent().parent().hide();


		    })


		   

		})
    </script>
	
</block>