<div id="frm-post-popup" class="white-popup" style="max-width: 745px">
  <button title="Close (Esc)" type="button" class="mfp-close" style="color: #333;">×</button>
  <h2>编辑物流信息</h2>
  <div class="aline" style="margin-bottom: 10px"></div>
  <div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal  ajax-form" role="form" action="{:U('Websit/Order/shop_order_doeditexpress')}" method="post">
			<div id="editMoneybox" class="editMoneybox">
				<input type="hidden" name="order_sn" value="{$rs.order_sn}" >
				<table width="100%">
					<tr align="center">
						<td class="w85">快递信息</td><td class="w85"><textarea id="express_desc" name="express_desc" >{$rs['express_desc']}</textarea></td>
					</tr>
					<tr align="center">
						<td colspan="4"></td>
						<td><button type="submit" class="btn btn-primary ">提交</button></td>
					</tr>
				</table>
			</div>
					 
        </form>
      </div>
    </div>
  </div>
</div>
