<style>
	.sms_content_css{max-width:800px;height:auto}
</style>
<div id="frm-post-popup" class="white-popup sms_content_css sms_notice">
  <button title="Close (Esc)" type="button" class="mfp-close" >×</button>
  <h2>短信通知<span style="font-size:13px;"><span style='color:green'>(字数控制在<span style="color:red">193</span>个以内)</span></span></h2>
<div>
    <div class="row">
      <div class="col-md-10">
        <form class="form-horizontal  ajax-form" role="form" action="{:U('Websit/Order/do_send_sms')}" method="post">
			<input type="hidden" name="id" value="{$Think.get.id}">
			<input type="hidden" name="eventid" value="{$Think.get.eventid}">
			<div class="form-group  has-feedback">
				<label class="col-md-3 control-label">活动标题：</label>
				<div class="col-md-9">
					<input id="prefix" name="prefix" type="text" class="form-control form_check" check-type="Text"  value="{$event.title}" disabled />
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-md-3 control-label">起止时间：</label>
				<div class="col-md-9">
				 <input id="prefix" name="prefix" type="text" class="form-control form_check" check-type="Text"  value=" [{$calendar.starttime}] ~ [{$calendar.overtime}]" disabled />
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-md-3 control-label">短信内容：</label>
				<div class="col-md-9">
					<textarea cols="63" rows="7" id="sms_text" onkeyup="sms_content()" maxlength="193" name="notice" placeholder="在此处输入短信内容"></textarea>
					<div class='pull-right'><span style='color:green'>您还可以输入<span style="color:red" id="content_left">193</span>个字</span></div>
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-md-3 control-label">选择订单状态：</label>
				<div class="col-md-9">
				<input type='radio' name='order_status' checked value='0'> 全部<br>
					<foreach name='status_arr' item='vo'>						
						<input type='radio' name='order_status' value="{$vo['order_status']}"> {$vo['text']}<br>
					</foreach>
				</div>
			</div>
			<div class="form-group has-feedback">
				<input class="btn-primary btn col-md-offset-6" type="submit" value="确认发送">
			</div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>	
	function sms_content(){
		var sms_content = document.getElementById('sms_text').value;
		var sms_length = sms_content.length;
		var content_left = document.getElementById('content_left');
		content_left.innerHTML = 193 - sms_length;
	}
</script>