<extend name="Public/base_admin"/>
<block name="body">
<div class="common_block_title ">短信发送结果</div>
本次短信总共发送{$tid}条，其中：成功{$sid}条，失败{$eid}条。<br>
发送结果明细如下：<br> <div class="row data-table usercenter-common-table">
      <table class="info">
        <!-- 表头 -->
        <thead>
          <tr>
            <th>用户姓名</th>
            <th>身份证</th>
            <th>联系电话</th>
            <th>发送结果</th>
          </tr>
        </thead>
        <!-- 列表 -->
        <tbody>
         
          <volist name="contents" id="vo">
            <tr>
			<if condition="$vo[user_info][nickname] neq ''">
              <td>{$vo[user_info].realname}({$vo[user_info].realname})</td>
			<else />
			  <td>{$vo[user_info].realname}</td>
			</if>
              <td>{$vo[user_info].card}</td>
              <td>{$vo[user_info].telephone}</td>
              <td>{$vo.back_info}</td>            
            </tr>
          </volist>
          </tbody>
      </table>
    </div>
<foreach name="content" item="vo">
	
</foreach>
</block>
