<extend name="Public/base1" />
<block name="style">
</block>
<block name="body">
 <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
                <div class="widget-header  bordered-bottom bordered-sky">
                	<i class="widget-icon fa fa-tasks themeprimary"></i>
                    <span class="widget-caption">{$datainfo.pag_title}</span>
                </div>
                <div class="widget-body">
                    <form id="defaultForm" action="{:U('Notices/noticesedit')}" class="form-horizontal form-bordered" method="post" >
                    	<input type="hidden" name="id" value="{$datainfo.id}" />
                        <div class="form-title">
                            必填项
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">标题</label>
                            <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="标题" name="title" value="{$datainfo.title}" /> 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-lg-2 control-label">类型</label>
                            <div class="col-lg-10">
                                 <select id="category_id" style="width:100%;" name="category_id">
                                 	 <volist name="datainfo.categorys" key="k" id="vo">
                                   	 <option value="{$key}" <if condition="$key eq $datainfo['category_id']"> selected="selected"</if> />{$vo}
                                     </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">内容</label>
                            <div class="col-lg-10">
                            	<div class="input-group">
                                  {:Hook('Ueditor',array('name'=>'content','value'=>$datainfo['content']))}
                                </div>
                                     
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input class="btn btn-palegreen" type="submit" value="确定保存" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
</block>
<block name="script">
<script src="/Public/static/bootstrap3.2/js/validation/bootstrapValidator.js"></script>

<script src="/Public/static/bootstrap3.2/js/select2/select2.js"></script>
<script src="/Public/static/bootstrap3.2/js/select2/i18n/zh-CN.js"></script>
<!--Bootstrap Tags Input-->
<script src="/Public/static/bootstrap3.2/js/tagsinput/bootstrap-tagsinput.js"></script>

<script type="text/javascript">

$("#category_id").select2({language:"zh-CN"});


$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
		//excluded: ':disabled',
        //live: 'enabled',
        message: '这些信息不能为空',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            title: {
                validators: {
                    notEmpty: {
                        message: '公告标题是必需的，不能是空的'
                    }
                }
            },
			category_id: {
                validators: {
                    notEmpty: {
                        message: '公告类型是必需的，不能是空的'
                    }
                }
            },
            content: {
                validators: {
                    notEmpty: {
                        message: '公告内容是必需的，不能是空的'
                    }
                }
            },
           
        }
    }).on('success.form.bv', function(e) {
            // Prevent submit form
            e.preventDefault();
			$(this).addClass('ajax-form');
			$('#defaultForm').data('bootstrapValidator').disableSubmitButtons(false);
	});
});
</script>

</block>
