<extend name="Public/common_user"/>
<block name="body">
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav"><a href="{:U('Mobile/Config/index')}" class=""><i
                class="am-icon-chevron-left"></i></a>收藏
        </div>
    </header>
    <include file="Public/topnavbar"/>
    <div class="hdl-menu hdl-menu-justify">
        <nav class="am-menu am-menu-one">
            <a href="javascript: void(0)" class="am-menu-toggle">
                <i class="am-menu-toggle-icon am-icon-bars"></i>
            </a>
            <ul class="am-menu-nav am-avg-sm-1">
                <li><a href="{:U('Mobile/Config/collection_issue')}" class="">故事</a></li>
                <li class="am-active"><a href="{:U('Mobile/Config/collection_event')}" class="">活动</a></li>
            </ul>
        </nav>
    </div>


    <notempty name="list">

        <div class="am-panel-default">
            <div class="collection-lists-li">
                <div class="am-g collection-lists">
                    <div class="am-u-sm-5 collection-event-img-box">
                        <a href="" data-href>
                            <img src="__PUBLIC__/Core/images/blank.png" data-original="" class="collection-event-img"
                                 data-thumb/> </a>
                    </div>
                    <div class="am-u-sm-7 collection-text-box">
                        <a href="" data-href>
                            <div>
                                <span class="collection-event-address" data-city>城市</span>
                                <span class="collection-event-days" data-days>天数</span>
                            </div>
                            <h3 class="collection-event-name" data-title>标题</h3>
                        </a>

                        <div><span class="collection-event-time" data-lasted-time>活动时间</span>
                            <a href="javascript:" class="collection-delete-a" data-id="" id="" onclick="deleteEvent(this)"
                               data-delete>
                                <div class="collection-event-delete">删除</div>
                            </a></div>
                    </div>
                </div>
            </div>

            <div class="collection-list-box">
                <div class="collection-lists-ul"></div>
                <div class="loading-more"><i class="am-icon-circle-o-notch am-icon-spin" loading-icon
                                             style=" display:none"></i> <span loading-text>加载更多</span></div>
            </div>


            <script>
                $(function () {
                    var loading_i = 0;
                    var get_url = {};
                    var gget_url = {$get_url};
                    if (!$.isEmptyObject(gget_url)) {
                        get_url = gget_url;
                    }
                    function get_collection_event(is_del) {
                        if (is_del == true) {
                            $(".collection-list-box .collection-lists-ul .collection-lists").remove();
                        }
                        var loading_more = $(".loading-more");
                        var loading_text = loading_more.find('[loading-text]');
                        var loading_icon = loading_more.find('[loading-icon]');
                        loading_text.html('奋力加载中');
                        loading_icon.show();

                        get_url['page'] = loading_i;
                        $.getJSON("{:U('Mobile/Config/get_collection_event')}", get_url, function (json) {
                            if (json) {
                                $.each(json, function (index, array) {
                                    var collection_event_list_tpl = $('.collection-lists-li .collection-lists');
                                    var collection_event_list_li = collection_event_list_tpl.clone();
                                    var collection_event_list_href = collection_event_list_li.find('[data-href]');//url
                                    var collection_event_list_thumb = collection_event_list_li.find('[data-thumb]');//图片
                                    var collection_event_list_city = collection_event_list_li.find('[data-city]');
                                    var collection_event_list_days = collection_event_list_li.find('[data-days]');
                                    var collection_event_list_title = collection_event_list_li.find('[data-title]');//标题
                                    var collection_event_list_lasted_time = collection_event_list_li.find('[data-lasted-time]');//开始时间
                                    var collection_event_list_delete = collection_event_list_li.find('[data-delete]');
                                    collection_event_list_href.attr("href", array['url']);
                                    collection_event_list_thumb.attr("alt", array['title']);
                                    collection_event_list_thumb.attr("title", array['title']);
                                    collection_event_list_thumb.attr("data-original", array['thumb']);
                                    collection_event_list_city.html(array['finalcity_province'] + '~' + array['finalcity_city']);
                                    collection_event_list_days.html(array['traveldays'] + '天');
                                    collection_event_list_title.html(array['title']);
                                    collection_event_list_lasted_time.html('活动时间' + '&nbsp;&#58;&nbsp;' + array['lasted_time']);
                                    collection_event_list_delete.attr("id", array['id']);
                                    collection_event_list_delete.attr("data-id", array['id']);
                                    collection_event_list_thumb.lazyload({effect: "fadeIn", threshold: 100});
                                    $(".collection-list-box .collection-lists-ul").append(collection_event_list_li);
                                });
                                $(".collection-list-box").trigger("scroll");
                                loading_text.html('加载更多');
                                loading_icon.hide();
                                loading_i++;
                                $('.loading-more').scrollspy({});
                            } else {
                                $('.loading-more').unbind('inview.scrollspy.amui').unbind('outview.scrollspy.amui');
                                loading_text.html('已经没有了');
                                loading_icon.hide();
                            }
                        });

                    }

                    get_collection_event();


                    $('.loading-more').on('inview.scrollspy.amui', function () {
                        timeout = setTimeout(function () {
                            get_collection_event();
                        }, 1000);
                    }).on('outview.scrollspy.amui', function () {
                        clearTimeout(timeout)
                    });

                })
                function deleteEvent(obj) {
                    var ee = obj.outerHTML;
                    var id = $(ee).attr('data-id');
                    $.post("{:U('Mobile/Config/cancel_collection')}", {id: id}, function (res) {
                        if (res.status == 1) {
                            toasts.success('删除成功');
//                            setTimeout(function () {
//                                window.location.reload();
//                            }, 1000);
                            $('#'+id).parents('.collection-lists').remove();
                            $(".collection-list-box").trigger("scroll");
                        } else {
                            toasts.error('删除失败');
                            //toast.error(res.msg)
                        }
                    }, 'json')
                }
            </script>
            <else/>
            <div class="am-panel-bd"> aOh! 暂时还没有内容!</div>
        </div>
    </notempty>


</block>