<extend name="Public/common_user"/>
<block name="body">
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-header-left am-header-nav"><a href="{:U('Mobile/Config/myevent')}" class=""><i class="am-icon-chevron-left"></i></a>我的活动详情</div>
</header>
<div class="paystatus">
  <!--定金支付-->
  <if condition="$event_attend['paytype'] eq 1">
    <if condition="$event_attend['status'] eq 1">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-no">2</div>
            <div class="step-name">下单</div>
          </li>
          <li>
            <div class="step-no">3</div>
            <div class="step-name">定金支付</div>
          </li>
          <li>
            <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
          </li>
          <li class="step-last">
            <div class="step-no">5</div>
            <div class="step-name">余款支付</div>
          </li>
          <!--<li>
            <div class="step-no">6</div>
              <div class="step-name">确认出行</div>
              
            </li>
            <li>
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 10">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-no">3</div>
            <div class="step-name">定金支付</div>
          </li>
          <li>
            <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
          </li>
          <li class="step-last">
            <div class="step-no">5</div>
            <div class="step-name">余款支付</div>
          </li>
          <!-- <li>
           <div class="step-no">6</div>
              <div class="step-name">确认出行</div>
              
            </li>
            <li>
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 11">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">定金支付</div>
            </div>
          </li>
          <li>
            <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
          </li>
          <li class="step-last">
            <div class="step-no">5</div>
            <div class="step-name">余额支付</div>
          </li>
          <!--<li>
            <div class="step-no">6</div>
              <div class="step-name"> 出行签到</div>
              
            </li>
            <li>
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 12">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">定金支付</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-no">5</div>
            <div class="step-name">余额支付</div>
          </li>
          <!--<li>
            <div class="step-no">6</div>
              <div class="step-name"> 出行签到</div>
              
            </li>
            <li>
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 30">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">定金支付</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">余额支付</div>
            </div>
          </li>
          <!-- <li>
           <div class="step-no">6</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li>
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 31">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">定金支付</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">余额支付</div>
            </div>
          </li>
          <!-- <li>
           <div class="step-no">6</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li>
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 32">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">定金支付</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">余额支付</div>
            </div>
          </li>
          <!-- <li>
           <div class="step-no">6</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li>
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 33">
      <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">定金支付</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">余额支付</div>
            </div>
          </li>
          <!--<li>
            <div class="step-done">
            <div class="step-no"></div>
              <div class="step-name">出行签到</div>
              
             </div>
            </li>
            <li>
            <div class="step-done">
            <div class="step-no"></div>
              <div class="step-name">点评</div>
              
              </div>
            </li>-->
        </ol>
      </div>
    </if>
  </if>
  <!--全额支付-->
  <if  condition="$event_attend['paytype'] eq 0">
    <if condition="$event_attend['status'] eq 1">
      <div class="flowstep">
        <ol class="flowstep-all">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-no">2</div>
            <div class="step-name">下单</div>
          </li>
          <li>
            <div class="step-no">3</div>
            <div class="step-name">订单支付</div>
          </li>
          <li class="step-last">
            <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
          </li>
          <!--<li>
            <div class="step-no">5</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li class="step-last">
            <div class="step-no">6</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 20">
      <div class="flowstep">
        <ol class="flowstep-all">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-no">3</div>
            <div class="step-name">订单支付</div>
          </li>
          <li class="step-last">
            <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
          </li>
          <!--<li>
            <div class="step-no">5</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li class="step-last">
            <div class="step-no">6</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 21">
      <div class="flowstep">
        <ol class="flowstep-all">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">订单支付</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
          </li>
          <!--<li>
            <div class="step-no">5</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li class="step-last">
            <div class="step-no">6</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 30">
      <div class="flowstep">
        <ol class="flowstep-all">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">订单支付</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <!--<li>
            <div class="step-no">5</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li class="step-last">
            <div class="step-no">6</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 31">
      <div class="flowstep">
        <ol class="flowstep-all">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">订单支付</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <!-- <li>
            <div class="step-done">
            <div class="step-no"></div>
              <div class="step-name">出行签到</div>
              
              </div>
            </li>
            <li class="step-last">
            <div class="step-no">6</div>
              <div class="step-name">点评</div>
              
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 32">
      <div class="flowstep">
        <ol class="flowstep-all">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">订单支付</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <!--<li>
            <div class="step-done">
            <div class="step-no"></div>
              <div class="step-name">出行签到</div>
              
              </div>
            </li>
            <li class="step-last">
            <div class="step-cur">
            <div class="step-no"></div>
              <div class="step-name">点评</div>
              
              </div>
            </li>-->
        </ol>
      </div>
    </if>
    <if condition="$event_attend['status'] eq 33">
      <div class="flowstep">
        <ol class="flowstep-all">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">下单</div>
            </div>
          </li>
          <li>
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">订单支付</div>
            </div>
          </li>
          <li class="step-last">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">确认出行</div>
            </div>
          </li>
          <!--<li>
            <div class="step-done">
            <div class="step-no"></div>
              <div class="step-name">出行签到</div>
              
              </div>
            </li>
            <li class="step-last">
            <div class="step-cur">
            <div class="step-no"></div>
              <div class="step-name">点评</div>
              
              </div>
            </li>-->
        </ol>
      </div>
    </if>
  </if>
</div>
<div class="sign-lists" id="event_information_btn">
  <div class="sign-eventname">
    <div>{$event_content.title}</div>
    <div class="sign-time">{$content.starttime} 出发</div>
  </div>
  <div class="sign-down"><i class="am-icon-angle-down"></i></div>
</div>
<php> $begincity = get_citys($event_content['begincity']);$finalcity = get_citys($event_content['finalcity']); </php>
<ul class="am-list am-list-border am-list-static hidden-font" id="event_information" style="display:none" >
  <li>时间<span class="am-fr">{$content.starttime}~{$content.overtime}</span></li>
  <li>支付方式<span class="am-fr">
    <?php switch($event_attend['paytype']){case 0;echo '全款支付';break;case 1;echo '定金支付';break;case 2;echo '免费活动';break;}?>
    </span></li>
  <li>支付价格<span class="am-fr am-text-warning">{$event_attend.price}元/人</span></li>
  <if condition="$event_attend['paytype'] eq 1">
    <li>定金价格<span class="am-fr am-text-warning">{$event_attend.deposit}元/人</span></li>
  </if>
  <li>目的地<span class="am-fr">{:get_city($finalcity['province'])}-{:get_city($finalcity['city'])}</span></li>
  <li>集合地<span class="am-fr">{:get_city($begincity['province'])}-{:get_city($begincity['city'])}</span></li>
  <li>交通工具<span class="am-fr">{:get_box($content['vehicle'],"checkbox",get_vehicle())}</span></li>
  <li>住宿条件<span class="am-fr">{:get_box($content['accommodation'],"checkbox",get_accommodation())}</span></li>
</ul>
<div class="event_detail_info">
  <div class="sign-title-style">参加者</div>
  <ul class="event_detail_info_list" >
    <volist name="member" id="vo" key ="k">
      <if condition="$vo[user_info]['nickname'] neq '' ">
        <li><span class="event_detail_info_list_title">参加者{$k}</span><span class="event_detail_info_list_p">{$vo[user_info].realname}({$vo[user_info].nickname})</span></li>
        <else/>
        <li><span class="event_detail_info_list_title">参加者{$k}</span><span class="event_detail_info_list_p">{$vo[user_info].realname}</span></li>
      </if>
    </volist>
  </ul>
  <div class="sign-title-style">联系人信息</div>
  <ul class="event_detail_info_list" >
    <li><span class="event_detail_info_list_title">姓名</span><span class="event_detail_info_list_p">{$event_attend.contact_name}</span></li>
    <li><span class="event_detail_info_list_title">手机</span><span class="event_detail_info_list_p">{$event_attend.contact_telephone}</span></li>
    <li><span class="event_detail_info_list_title">邮箱</span><span class="event_detail_info_list_p">{$event_attend.contact_email}</span></li>
  </ul>
  <div class="sign-title-style">订单信息</div>
  <ul class="event_detail_info_list" >
    <li><span class="event_detail_info_list_title">订单号</span><span class="event_detail_info_list_p am-text-warning">{$event_attend.trade_sn}</span></li>
    <li><span class="event_detail_info_list_title">状态</span><span class="event_detail_info_list_p">{:op_t(get_event_order_status($event_attend['status']))}</span></li>
    <if condition="$event_attend['paytype'] eq 1">
      <php> if($cardinfo_money){
        if($cardinfo_money > $event_attend['leftprice']){
        $card_amount = $event_attend['leftprice'];
        $leftprice = 0;
        }else{
        $card_amount = $cardinfo_money;
        $leftprice = $event_attend['leftprice'];
        }
        }else{
        $leftprice = $event_attend['leftprice'];
        } </php>
      <if condition="$event_attend['pay_status'] eq 0">
        <li><span class="event_detail_info_list_title">支付定金</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$event_attend.payprice}</span></li>
        <li><span class="event_detail_info_list_title">支付余额</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$leftprice}
          <?php if($cardinfo_money){echo '优惠（'.$card_amount.'元）';}?>
          </span></li>
        <elseif  condition="$event_attend['pay_status'] eq 1"/>
        <li><span class="event_detail_info_list_title">支付定金</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$event_attend.payprice}(已支付)</span></li>
        <li><span class="event_detail_info_list_title">支付余额</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$leftprice}
          <?php if($cardinfo_money){echo '优惠（'.$card_amount.'元）';}?>
          </span></li>
        <elseif  condition="$event_attend['pay_status'] eq 2"/>
        <li><span class="event_detail_info_list_title">支付定金</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$event_attend.payprice}(已支付)</span></li>
        <li><span class="event_detail_info_list_title">支付余额</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$leftprice}
          <?php if($cardinfo_money){echo '优惠（'.$card_amount.'元）';}?>
          (已支付)</span></li>
      </if>
      <elseif  condition="$event_attend['paytype'] eq 0"/>
      <php> if($cardinfo_money){
        if($cardinfo_money > $event_attend['payprice']){
        $card_amount = $event_attend['payprice'];
        $payprice = 0;
        }else{
        $card_amount = $cardinfo_money;
        $payprice = $event_attend['payprice'];
        }
        }else{
        $payprice = $event_attend['payprice'];
        } </php>
      <if condition="$event_attend['pay_status'] eq 0">
        <li><span class="event_detail_info_list_title">支付金额</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$payprice}
          <?php if($cardinfo_money){echo '优惠（'.$card_amount.'元）';}?>
          </span></li>
        <elseif  condition="$event_attend['pay_status'] eq 2"/>
        <li><span class="event_detail_info_list_title">支付金额</span><span class="event_detail_info_list_p"><i class="am-icon-jpy"></i> {$payprice}
          <?php if($cardinfo_money){echo '优惠（'.$card_amount.'元）';}?>
          (已支付)</span></li>
      </if>
    </if>
    <li><span class="event_detail_info_list_title">订单备注</span><span class="event_detail_info_list_p">{$event_attend.remarks}</span></li>
  </ul>
  <if  condition="$cardinfo_arr neq ''">
    <div class="sign-title-style">优惠信息</div>
    <ul class="event_detail_info_list" >
      <volist name="cardinfo_arr" id="vo" key ="k">
        <li>{$vo.typename} ( {$vo.amount}元 )</li>
      </volist>
    </ul>
  </if>
</div>
<div class="pay_money am-text-warning">
  <if condition="$event_attend['paytype'] eq 1">
    <if condition="$event_attend['pay_status'] eq 0"> <span class="pay_money_text">支付定金 <i class="am-icon-jpy"></i></span> <span class="pay_money_price">{$event_attend.payprice}</span> <span class="pay_money_icon am-icon-exclamation-circle "></span>
      <elseif  condition="$event_attend['pay_status'] eq 1"/>
      <span class="pay_money_text">支付余额 <i class="am-icon-jpy"></i></span> <span class="pay_money_price">{$leftprice}</span> <span class="pay_money_icon am-icon-exclamation-circle "></span> </if>
    <elseif  condition="$event_attend['paytype'] eq 0"/>
    <if condition="$event_attend['pay_status'] eq 0"> <span class="pay_money_text">支付金额 <i class="am-icon-jpy"></i></span> <span class="pay_money_price">{$payprice}</span> <span class="pay_money_icon am-icon-exclamation-circle "></span> </if>
  </if>
</div>
<div class="am-btn-group am-btn-group-justify action_btn">{:mobile_get_event_detail_btn($event_attend)}</div>
</div>
<block name="script">
  <script>
$(function () {		
	$('#event_information_btn').click(function () {
		var event_information = $("#event_information");
		if(event_information.is(":hidden")){
			   event_information.show();    //如果元素为隐藏,则将它显现
			   $('.am-icon-angle-down').removeClass().addClass('am-icon-angle-up'); 
		}else{
			  event_information.hide();     //如果元素为显现,则将其隐藏
			  $('.am-icon-angle-up').removeClass().addClass('am-icon-angle-down'); 
		}
			
	});
});	
</script>
  <script>
$('.updataSign').click(function () {						 
	app_modal_popup.confirms({
		text:'确定要操作么？',
		//relatedTarget:ajax_member_contacts_li,
		confirm:function(){
			var id = $('.updataSign').attr('data-eventID');
			var status = $('.updataSign').attr('data-status');
			$.post(U('Mobile/Config/myevent_detail_upstatus'), {id: id,status:status}, function (res) {
				if (res.status == 1) {
					toasts.success(res.m);
					setTimeout(function () {
						location.reload();
					}, 1500);
				}
				else {
					toasts.error(res.m);
				}
			}, 'json');
		
		},
		cancel:function(){},
	});
});
</script>
</block>
