<extend name="Public/common"/>
<block name="body">
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-header-left am-header-nav"><a href="javascript:window.history.back();" class=""><i class="am-icon-chevron-left"></i></a><if condition="$ordertype eq 1">确认报名<else/>预约报名</if></div>
</header>


<div class="paystatus">
      <if condition="$content['paytype'] eq 1">
      <if condition="$ordertype eq 1">
        <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-done">
              <div class="step-no"></div>
              <div class="step-name">预约</div>
            </div>
          </li>
          <li>
            <div class="step-cur">
            <div class="step-no">2</div>
              <div class="step-name">下单</div>
              
            </div>
          </li>
          <li>
          <div class="step-no">3</div>
            <div class="step-name">定金支付</div>
            
          </li>
          <li>
          <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
            
          </li>
          
          <li class="step-last">
          <div class="step-no">5</div>
            <div class="step-name">余款支付</div>
            
          </li>
          <!--li>
          <div class="step-no">6</div>
            <div class="step-name">出行签到</div>
            
          </li>
            <li class="step-last">
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li-->
        </ol>
      </div>
       <else/>
       <div class="flowstep">
        <ol class="flowstep-4">
          <li class="step-first">
            <div class="step-cur">
            <div class="step-no">1</div>
              <div class="step-name">预约</div>
              
            </div>
          </li>
          <li>
           <div class="step-no">2</div>
              <div class="step-name">下单</div>
             
          </li>
          <li>
          <div class="step-no">3</div>
            <div class="step-name">定金支付</div>
            
          </li>
          <li>
          <div class="step-no">4</div>
            <div class="step-name">确认出行</div>
            
          </li>
          <li class="step-last">
          <div class="step-no">5</div>
            <div class="step-name">余款支付</div>
            
          </li>
          <!--li>
          <div class="step-no">6</div>
            <div class="step-name">出行签到</div>
            
          </li>
            <li class="step-last">
            <div class="step-no">7</div>
              <div class="step-name">点评</div>
              
            </li-->
            
        </ol>
      </div>
       </if>
      <elseif  condition="$content['paytype'] eq 0"/>
        <if condition="$ordertype eq 1">
          <div class="flowstep">
              <ol class="flowstep-all">
                <li class="step-first">
                  <div class="step-done">
                  <div class="step-no"></div>
                    <div class="step-name">预约</div>
                    
                  </div>
                </li>
                <li><div class="step-cur">
                <div class="step-no">2</div>
                    <div class="step-name">下单</div>
                    
                    </div>
                </li>
                <li>
                 <div class="step-no">3</div>
                    <div class="step-name">全款支付</div>
                   
                </li>
                <li class="step-last">
                 <div class="step-no">4</div>
                  <div class="step-name">确认出行</div>
                 
                </li>
                <!--li>
                <div class="step-no">5</div>
                  <div class="step-name">出行签到</div>
                  
                </li>
                <li class="step-last">
                <div class="step-no">6</div>
                  <div class="step-name">点评</div>
                  
                </li-->
               
              </ol>
            </div>
        <else/>
          <div class="flowstep">
              <ol class="flowstep-all">
                <li class="step-first">
                  <div class="step-cur">
                  <div class="step-no">1</div>
                    <div class="step-name">预约</div>
                    
                  </div>
                </li>
                <li>
                <div class="step-no">2</div>
                    <div class="step-name">下单</div>
                    
                </li>
                <li>
                 <div class="step-no">3</div>
                    <div class="step-name">全款支付</div>
                   
                </li>
                <li class="step-last">
                 <div class="step-no">4</div>
                  <div class="step-name">确认出行</div>
                 
                </li>
                <!--li>
                 <div class="step-no">5</div>
                  <div class="step-name">出行签到</div>
                 
                </li>
                <li class="step-last">
                <div class="step-no">6</div>
                  <div class="step-name">点评</div>
                  
                </li-->               
              </ol>
            </div>
        </if>
      </if>
</div>
<if condition="get_webinfo('sign_notice')">
    <div class="am-popup" id="overleaf">
      <div class="am-popup-inner">
        <div class="am-popup-hd">
          <h4 class="am-popup-title">报名须知</h4>
          <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
          {:nl2br(get_webinfo('sign_notice'))}
        </div>
      </div>
    </div>
</if>
<php>$begincity = get_citys($event_content['begincity']);$finalcity = get_citys($event_content['finalcity']); </php>
<form class="am-form" action="{:U('Mobile/Config/doSign_ios')}" method="post" id="do_sign">
	<div class="sign-lists" id="event_information_btn">       
	    <div class="sign-eventname">
	       <div>{$event_content.title}</div>
	       <div class="sign-time">{$content.starttime} 出发</div>   
	    </div> 
	    <div class="sign-down"><i class="am-icon-angle-down"></i></div>       
	</div>
	<ul class="am-list am-list-border am-list-static hidden-font" id="event_information" style="display:none" >     
	    <li>时间<span class="am-fr">{$content.starttime}~{$content.overtime}</span></li>
	    <li>支付方式<span class="am-fr"><?php switch($content['paytype']){case 0;echo '全款支付';break;case 1;echo '定金支付';break;case 2;echo '免费活动';break;}?></span></li>
	    <li>支付价格<span class="am-fr am-text-warning">{$content.price}元/人</span></li>
	    <if condition="$content['paytype'] eq 1">
	    <li>定金价格<span class="am-fr am-text-warning">{$content.deposit}元/人</span></li>
	    </if> 
	    <li>目的地<span class="am-fr">{:get_city($finalcity['province'])}-{:get_city($finalcity['city'])}</span></li>
	    <li>集合地<span class="am-fr">{:get_city($begincity['province'])}-{:get_city($begincity['city'])}</span></li>
	    <li>交通工具<span class="am-fr">{:get_box($content['vehicle'],"checkbox",get_vehicle())}</span></li>
	    <li>住宿条件<span class="am-fr">{:get_box($content['accommodation'],"checkbox",get_accommodation())}</span></li>
	</ul>  
     
 	<div class="am-panel-default ">   
    	<div class="sign-title-img "><img  src="__PUBLIC__/static/amaze/images/participants.png" /><br />还没有选择参加者哦！</div>      
  </div>
 	<input id="event_id" name="event_id" type="hidden" class="" value="{$event_content.id}"/>
    <input id="calendar_id" name="calendar_id" type="hidden" class="" value="{$content.id}"/>
    <input id="event_membercontacts" name="event_membercontacts" type="hidden" class="" value="" minlength="1" required/>
    <input id="cardid" name="cardid" type="hidden" value="">   
 <div class="" id="member_contacts_tpl">
    <div  class="sign-lists" >
     <div class="sign-contacts">
        <div><span class="contacts-names">姓&nbsp; &nbsp;名</span><span contacts_realname>姓名</span></div> 		<div><span class="contacts-names">证件号</span><span contacts_card>身份证</span></div> 
     </div>       
     <div class="sign-remove"><i contacts_del class="am-icon-remove"></i></div> 
    </div>   
 </div>             
<div class="member_contacts_table">
    <div class="in_contacts"></div>
</div>         
<div class="add-contacts-btn">
    <a href="javascript:" id="sign-people-btn" class="am-btn am-btn-block am-btn-primary"><i class="am-icon-user-plus"></i> 选择参加者</a>
</div> 

<div class="sign-title-style">订单联系人</div>
<div class="sign-line">
  <span class="sign-list-left"> 姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
  <div class="sign-list-right"> 
  	<input type="text" name="contact_name" class="am-form-field js-pattern-name" placeholder="真实姓名" value="{$mem_info.real_name}" required/>
  </div>
</div>
<div class="sign-line">
  <span class="sign-list-left">手机号码</span>
  <div class="sign-list-right"> 
  <input type="text" name="contact_telephone" class="am-form-field js-pattern-mobile" placeholder="手机号" value="{$mem_info.mobile}" required/></div>
</div>
<div class="sign-line">
  <span class="sign-list-left">电子邮箱</span>
  <div class="sign-list-right"> 
  <input type="text" name="contact_email" class="am-form-field js-pattern-email" placeholder="邮箱地址" value="{$mem_info.email}" required/></div>
</div>

<if condition="$content['card_use'] eq 1">

<div class="sign-title-style">优惠信息 <i class="am-icon-question-circle am-text-warning" data-am-modal="{target: '#card-help'}"></i><span class="am-fr"><a href="javascript:" id="card_modal_btn" class="am-badge am-badge-primary am-text-sm ">选择代金券</a></span></div>

<div class="sign_card_infos">
    <ul class="am-list am-list-border am-list-static" id="sign_card_infos_card">
        
    </ul>
</div>

</if>
<div class="sign-title-style">订单备注</div>
<textarea name="remarks" cols="" rows="1"  class=""></textarea>
<div class="sign-event-notice"><label class="am-checkbox"><input type="checkbox" checked="checked" value="1" name="user_agreement" data-am-ucheck checked><if condition="get_webinfo('sign_notice')"><a href="javascript:" class="reg_age_btn" data-am-modal="{target: '#overleaf'}">同意活动须知</a></if> </label></div>
<div class="sign-title-style">汇总信息 </div>
    <div class="sign-total">
	<!------------------------------------------------------------------------------------------------------------------------>
    <if condition="$content[paytype] eq 1">	
    <!---------------------余额支付-------------------------------------->	
 
 	<div class="money-pay-box">
    	<div><span class="money-pay-title">人数</span><span class="money-pay-people"><span class="contact_count"></span> 人</span></div> 
    	<div><span class="money-pay-title">定金支付</span><span class="money-pay-number"><i class="am-icon-jpy"></i> <span class="fropay"></span> 元</span></div>
    	<div><span class="money-pay-title">余款支付</span> <span class="money-pay-number"><span class="card_o_total">(已减<span class="card_o_amount"></span>元代金券)</span> <i class="am-icon-jpy"></i> <span class="leftpay"></span> 元</span></div>
     
        <div><span class="money-pay-title">总计</span><span class="money-pay-number"><i class="am-icon-jpy"></i> <span class="payprice"></span> 元</span></div>
        
    </div>   
   <div class="sign-clear"></div> 

    <!----------------------全款支付-------------------------------------->
   <else/>
    <div class="money-pay-box">
    <div><span class="money-pay-title">人数</span><span class="money-pay-people"><span class="contact_count"></span> 人</span></div>   
    	<div><span class="money-pay-title">全额</span><span class="money-pay-number"><i class="am-icon-jpy"></i> <span class="total"></span> 元</span></div>
        <div class="card_o_total"><span class="money-pay-title">代金券</span><span class="money-pay-number"><i class="am-icon-jpy"></i> -<span class="card_o_amount"></span> 元</span></div>
        <div><span class="money-pay-title">总计</span><span class="money-pay-number"><i class="am-icon-jpy"></i> <span class="payprice"></span> 元</span></div>   
              
    </div>  
    <div class="sign-clear"></div>  
    </if>
    <div><button type="submit" class="am-btn am-btn-block am-btn-through"><if condition="$ordertype eq 1">确认报名<else/>预约报名</if></button></div>
    </div>
 
</form>
<script>

	$('#do_sign').validator({						
		submit: function(e) {
			if(this.isFormValid() ==true){
				var self = $('#do_sign');

				var  num_event_membercontacts =  $("#event_membercontacts").val();
				var str_contacts_card = $("#cardid").val();
				if(str_contacts_card){
						var event_membercontacts_array = Array();
						var card_membercontacts_array = Array();
						event_membercontacts_array = num_event_membercontacts.split(",");
						card_membercontacts_array = str_contacts_card.split(",");
						var event_membercontacts_leng = event_membercontacts_array.length;
						var card_membercontacts_leng = card_membercontacts_array.length;
						if(card_membercontacts_leng > event_membercontacts_leng) toasts.error('最多能使用'+event_membercontacts_leng+'张优惠券');
						if(card_membercontacts_leng > event_membercontacts_leng) return false;
					}

				$.post(self.attr("action"), self.serialize(),function (data, textStatus){
					if(data.status==1){
						toasts.success(data.msg,data.url);
						/*setTimeout(function () {
							//location.reload();
						}, 1000);*/
					}else{
						
						if(data.status==-1){
							user_login();
						}else{
							toasts.error(data.msg);
						}
						
					}
			    }, "json");
			}else{
				toasts.error('请正确填写订单联系人信息！');
			}
			return false;
		}
	}); 
</script>



<if condition="$content['card_use'] eq 1">

<div class="am-popup" id="card-lists">
    <header class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav"><a href="javascript:" class="" data-am-modal-close><i class="am-icon-chevron-left"></i></a>选择代金券</div>
      
    </header>
  <div class="am-popup-inner">
    <div class="am-popup-bd">
    	<div class="sign-card-loading">
          <span class="am-icon-spinner am-icon-spin"></span>奋力加载中...
        </div>
        <div class="sign-card-tpl">
            <ul class="sign-card-list">
                <div ajax_card_checkbox>
                <li class=""><span class="sign-card-list-left"><i class="am-icon-credit-card"></i></span><span class="sign-card-list-right" ><span ajax_card_number>卡号</span><i class="check_btn am-icon-check"></i></span></li>
                <li ><span class="sign-card-list-left"><i class="am-icon-gear"></i></span><span class="sign-card-list-right" ><span ajax_card_type_price>卡类</span></span></li>
                <li class=""><span class="sign-card-list-left"><i class="am-icon-clock-o"></i></span><span class="sign-card-list-right" ajax_card_endtime>有效期</span></li>
                
                </div>
            </ul> 
        </div>
        
        <div class="sign-card-content">
                <div class="sign-card-lists"></div>
                <div class="am-modal-footer">
                <a class="am-btn am-btn-block am-btn-primary" data-am-modal-confirm>确定</a><a class="am-btn am-btn-block am-btn-default" data-am-modal-close>取消</a>
                </div>
        </div>
        <div class="sign-card-msg am-alert am-alert-danger"></div>
    </div>
  </div>
</div>
<div class="am-popup" id="card-help">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">代金券使用说明</h4>
      <span data-am-modal-close class="am-close">&times;</span>
    </div>
    <div class="am-popup-bd">
        <div class="sign-card-help">
            <p><span class="am-badge am-badge-primary am-round">1</span> 定金支付时，代金券无法抵用定金，但在余额支付里扣除相应金额</p>
            <p><span class="am-badge am-badge-primary am-round">2</span> 代金券金额大于需支付余额，余额不做退还</p>
            <p><span class="am-badge am-badge-primary am-round">3</span> 每订单仅限使用一张代金券，抵用金额以订单页面说明为准</p>
            <p><span class="am-badge am-badge-primary am-round">4</span> 每张代金券只能使用一次，使用后自动作废</p>
            <p><span class="am-badge am-badge-primary am-round">5</span> 使用代金券的订单，代金卷部分金额不能开具发票</p>
        </div>
    </div>
  </div>
</div>
<script>
var $card_modal = $("#card-lists");
var $card_modal_btn = $("#card_modal_btn");
//var $sign_card_btn_del = $(".sign_card_btn_del");
var sign_card_infos = $(".sign_card_infos");

$card_modal_btn.on('click', function(e) {
	var member = $('#event_membercontacts').val();
	if(member == ''){
		//$('#totalprice').hide();
		//$("#cardid").val('');
		//getleftpay();;
		toasts.error('请先选择参加者');
		return false;
	}

	$card_modal.modal({closeViaDimmer:0,relatedTarget: this});
	
});

/******************************************************************************/


$card_modal.on('confirm.modal.amui', function() {	
	sign_card_infos.show();							
	var card_id = '';
	var str='';

	$card_modal.find('.sign-card-content .sign-card-list div').each(function(){
		if($(this).hasClass("sign-card-success") == true){
			card_id = $(this).attr("data-cardid");
			str += card_id+',';
			if(card_id){
				$.getJSON("{:U('Mobile/Config/ajax_check_card')}",{card:card_id},  function (res) {												$("#sign_card_infos_card").append("<li><span class='' name='card_modal_num' value="+res['cardid']+" cardinfo_type_price>"+res['name']+"("+res['amount']+"元)"+"</span><div class='sign_card_infos_btn'><i class='am-icon-remove sign_card_btn_del' value="+res['cardid']+"></i></div></li>");					
				    var $sign_card_btn_del = $(".sign_card_btn_del");
					$sign_card_btn_del.on('click', function(e) {
						$(this).parent().parent().remove();
						
						//重新拼接优惠券的卡号
						var strcard = "";
						$(".sign_card_btn_del").each(function(){ 
							if($(this)){ 
								strcard += $(this).attr('value')+",";
							}
						})
						strcard = strcard.substring(0,strcard.length - 1);
						$("#cardid").val(strcard);

						GetOrderinfo();
					});
				});


			}
		}

	});
	var str_contacts_card = str.substring(0,str.length - 1);
	var old_card_num = $("#cardid").val();
	if(old_card_num){ 
		str_contacts_card = old_card_num+','+str_contacts_card;
	}
	$("#cardid").val(str_contacts_card);
	GetOrderinfo()
	$card_modal.modal('close');
	
});

$card_modal.on('open.modal.amui', function() {
	$card_modal.find('.sign-card-loading').show();
	$card_modal.find('.sign-card-msg').html('').hide();
	$card_modal.find('.sign-card-content').hide();
	$card_modal.find('.sign-card-content .sign-card-list').remove();
	var cardid = $("#cardid").val();

  var server_condition=<?php  echo $content['price'];?>;

	$.getJSON("{:U('Mobile/Config/ajax_card_select')}", {cardid: cardid,server_condition:server_condition}, function (res) {		
		if(res['res'] != ''){	
			 $.each(res['res'], function(i,vo){
				var ajax_card_tpl = $('.sign-card-tpl ul');
				var ajax_card_li = ajax_card_tpl.clone();
				var ajax_card_checkbox = ajax_card_li.find('[ajax_card_checkbox]');
				var ajax_card_number = ajax_card_li.find('[ajax_card_number]');//卡号
				var ajax_card_type_price = ajax_card_li.find('[ajax_card_type_price]');//卡型
				var ajax_card_endtime = ajax_card_li.find('[ajax_card_endtime]');//mobile
				ajax_card_checkbox.attr("cardid",'cardid_'+vo['cardid']);
				ajax_card_checkbox.attr("data-cardid",vo['cardid']);
				ajax_card_number.html(''+vo['cardid']);
				ajax_card_type_price.html(''+vo['typename']+'（'+vo['amount']+'元）');
				ajax_card_endtime.html(''+vo['useinfo']);
				ajax_card_li.on('click', function() {

							var num_card = '';
							var num_str = '';
							$card_modal.find('.sign-card-content .sign-card-list div').each(function(){ 
								if($(this).hasClass("sign-card-success") == true){
									num_card = $(this).attr("data-cardid");
									num_str += num_card+',';
								}
							});
							var str_contacts_card = num_str.substring(0,num_str.length - 1);
							var num_event_membercontacts = $("#event_membercontacts").val();
							//alert(str_contacts_card+'---'+num_event_membercontacts);
							if(str_contacts_card){
								var event_membercontacts_array = Array();
								var card_membercontacts_array = Array();
								event_membercontacts_array = num_event_membercontacts.split(",");
								card_membercontacts_array = str_contacts_card.split(",");
								var event_membercontacts_leng = event_membercontacts_array.length;
								var card_membercontacts_leng = card_membercontacts_array.length;
								if(card_membercontacts_leng >= event_membercontacts_leng) toasts.error('最多能使用'+event_membercontacts_leng+'张优惠券');
								if(card_membercontacts_leng >= event_membercontacts_leng) return false;
							}

					if(ajax_card_li.find('div').hasClass("sign-card-success") == true){
						ajax_card_li.find('div').removeClass("sign-card-success");
					}else{
						//$('.sign-card-content .sign-card-list div').removeClass("sign-card-success");
						ajax_card_li.find('div').addClass("sign-card-success");
					}									 
				});
				ajax_card_li.insertBefore('.sign-card-lists').show();
			  }); 
			  $card_modal.find('.sign-card-loading').hide();
			  $card_modal.find('.sign-card-content').show();	  
			
			
		}else{
			$card_modal.find('.sign-card-loading').hide();
			$card_modal.find('.sign-card-msg').html('您目前无任何可用代金券').show();	
		}
	});	
});
</script>


</if>


<script>


$("#event_membercontacts").val('');
$("#cardid").val('');

function GetOrderinfo()
{
	var event_id = $("#event_id").val();
	var event_membercontacts = $("#event_membercontacts").val();
	//var event_insurance = $("#event_insurance").val();
	var calendar_id = $("#calendar_id").val();
	var card_id = $("#cardid").val();
	
	if(event_id && calendar_id){	
		$.post("{:U('Mobile/Config/ajax_oreder_info_ios')}", {event_id: event_id,event_membercontacts: event_membercontacts,calendar_id: calendar_id,card_id: card_id}, function (res) {
			if(res['status'] == 1){
				

				$(".sign-total").show();
				
				var card_amount = res['data']['card_amount'];
				var totalprice = res['data']['totalprice'];
				var payprice = res['data']['payprice'];
				var deposit = res['data']['deposit'];
				var balance = res['data']['balance'];
				
				
				var contact_count = res['data']['contact_count'];
				
				if(res['data']['paytype'] ==0 || res['data']['paytype'] == 2){
					if(card_amount >= totalprice){
						
						$(".total").html(totalprice);
						$('.contact_count').html(contact_count);
						$(".payprice").html(0);
						$('.card_o_total').show();
						$('.card_o_amount').html(totalprice)
					}else{						
						if(card_amount > 0){
							$('.contact_count').html(contact_count);
							$(".total").html(totalprice);
							$('.card_o_total').show();
							$('.card_o_amount').html(card_amount);
							$(".payprice").html(totalprice - card_amount);
						}else{
							$('.card_o_total').hide();
							
							$(".total").html(totalprice);
							$(".payprice").html(payprice);
							$('.contact_count').html(contact_count);
							
						}
					}
				}else{							
					if(card_amount >= balance){
						$('.payprice').html(deposit);
						$('.leftpay').html(0);
						$('.fropay').html(deposit);
						$('.card_o_total').show();
						$('.card_o_amount').html(balance);
						$('.contact_count').html(contact_count);
						
					}else{
						if(card_amount > 0){
							$('.payprice').html(totalprice - card_amount)
							$('.fropay').html(deposit);
							var leftpayfloat = balance-card_amount;
							var	leftpayvar = parseFloat(leftpayfloat).toFixed(2);
							$('.leftpay').html(leftpayvar);
							$('.card_o_amount').html(card_amount);
							$('.contact_count').html(contact_count);
							$('.card_o_total').show();
						}else{
							$('.payprice').html(totalprice);
							$('.fropay').html(deposit);
							var leftpayfloat = balance;
							var	leftpayvar = parseFloat(leftpayfloat).toFixed(2);
							$('.leftpay').html(leftpayvar);
							$('.contact_count').html(contact_count);
							$('.card_o_total').hide();
						}
						
						
					}
				}
				//check_total_display();
			 }else{
			   toasts.error(res['msg']);

			   $(".sign-total").hide();
	       $('.am-panel-default').show();
			 }
			}, 'json');
	}
	
}
</script>



<div class="am-popup" id="sign-people">

    <header class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav"><a href="javascript:" class="" data-am-modal-close><i class="am-icon-chevron-left"></i></a>常用参加者</div>
      <div class="am-header-right am-header-nav"><a href="javascript:" class="" id="add-people-btn"><i class="am-icon-plus-square"></i></a><a href="javascript:" class="am-btn am-btn-default am-btn-xl" data-am-modal-confirm>确定</a></div>
    </header>
    <div class="am-popup-inner">
        <div class="am-popup-bd">
            <div class="sign-people-loading">
              <span class="am-icon-spinner am-icon-spin"></span>奋力加载中...
            </div>
            <div class="sign-people-tpl">
                <ul class="sign-people-list">
                    <div ajax_contacts_checkbox>
                    <li ><span class="sign-people-list-left"><i class="am-icon-user"></i></span><span class="sign-people-list-right" ><span ajax_contacts_realname>姓旬</span></span></li>
                    <li class=""><span class="sign-people-list-left"><i class="am-icon-phone"></i></span><span class="sign-people-list-right" ajax_contacts_telephone>电话</span></li>
                    <li class=""><span class="sign-people-list-left"><i class="am-icon-credit-card"></i></span><span class="sign-people-list-right" ><span ajax_contacts_card>身份证</span><i class="check_btn am-icon-square-o"></i></span></li>
                    </div>
                </ul> 
            </div>
            <div class="sign-people-content">
                <div class="sign-people-lists"></div>
            </div>
            <div class="sign-people-msg am-alert am-alert-danger"></div>
        </div>
    </div>
</div>
<div class="am-popup" id="add-people">
    <header class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav"><a href="javascript:" class="" data-am-modal-close><i class="am-icon-chevron-left"></i></a>添加参加者</div>
      <div class="am-header-right am-header-nav"><a href="javascript:" class="am-btn am-btn-block am-btn-default am-radius" data-am-modal-confirm>确定</a></div>
    </header>
    <div class="am-popup-inner">
        <div class="am-popup-bd" style="padding:0">
        
  <form class="am-form am-form-horizontal" id="add-people-form" method="post">
    <div class="edit-contacts-box">
            <ul class="edit-contacts-box-list">
            <li>
              <div class="edit-contacts-box-list-group-title">必填项</div>
            </li>
            <li>
              <span class="edit-contacts-box-list-title">真实姓名</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="realname" name="realname" class="am-form-field" type="text"  value="" placeholder="请填写真实姓名"/></div>
            </li>
            <li>
              <div class="edit-contacts-box-list-title">性　　别</div>
              <input id="sex" name="sex" type="hidden"  value="1"/>
              <div class="edit-contacts-box-list-text"> 
              <div class="setup-list-sex">
                <span data-sex-id="1" class="sex sex-man chosen"><i class="am-icon-mars"></i></span>
                <span data-sex-id="2" class="sex sex-women"><i class="am-icon-venus"></i></span>
              </div>
              </div>
            </li>
            <li>
              <span class="edit-contacts-box-list-title">证件号码</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="card" name="card" class="am-form-field" type="text"  value="" placeholder="请填写身份证或护照号"/></div>
            </li>
            <li>
              <span class="edit-contacts-box-list-title">联系手机</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="telephone" name="telephone" class="am-form-field" type="text"  value="" placeholder="请填写联系手机"/></div>
            </li>


            <!------------------------------>
            <li {$dataListdis[4][1]} >
              <span class="edit-contacts-box-list-title">电子邮箱 </span>
              <div class="edit-contacts-box-list-text"> 
              <input id="email" name="{$dataListdis[4]['name'][1]}" class="am-form-field" type="text"  value="" placeholder="请填写Email"/></div>
            </li>
            <li {$dataListdis[1][1]}>
              <span class="edit-contacts-box-list-title">紧急联系</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="emergencycontact" name="{$dataListdis[1]['name'][1]}" class="am-form-field" type="text"  value="{$data.emergencycontact}" placeholder="紧急联系人"/></div>
            </li>
            <li {$dataListdis[2][1]}>
              <span class="edit-contacts-box-list-title">紧急电话</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="emergencyphone" name="{$dataListdis[2]['name'][1]}" class="am-form-field" type="text"  value="{$data.emergencyphone}" placeholder="紧急联系电话"/></div>
            </li>
            <li {$dataListdis[3][1]}>
              <span class="edit-contacts-box-list-title">活动昵称</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="nickname" name="{$dataListdis[3]['name'][1]}" class="am-form-field" type="text"  value="{$data.nickname}" placeholder="请填写活动昵称"/></div>
            </li>  
             <li {$dataListdis[5][1]}>
              <span class="edit-contacts-box-list-title">ＱＱ号码</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="qq" name="{$dataListdis[5]['name'][1]}" class="am-form-field" type="text"  value="" placeholder="请填写QQ"/></div>
            </li>
             <li {$dataListdis[6][1]}>
              <span class="edit-contacts-box-list-title">血　　型</span>
              <div class="edit-contacts-box-list-text bloodtype-select-box"> 
              <select  name="{$dataListdis[6]['name'][1]}" id="bloodtype" class="bloodtype-select" data-placeholder="请选择" >
              <volist name=":get_bloodtype()" id="bloodtype" key="k">
              <option value="{$key}" >{$bloodtype}</option>
              </volist>  
            </select></div>
            </li>
            <li {$dataListdis[7][1]}>
              <span class="edit-contacts-box-list-title">住宿偏好</span>
            <div class="edit-contacts-box-list-text accpre-select-box"> 
        <select name="{$dataListdis[7]['name'][1]}[]" id="accpre" multiple data-placeholder="请选择" class="accpre-select">
              <volist name=":get_accommodation()" id="accommodation" key="k">
              <option value="{$key}" >{$accommodation}</option>
              </volist>
              </select>
              </div>
            </li>
      
            <li {$dataListdis[8][1]}>
              <span class="edit-contacts-box-list-title">过敏史</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="allergies" name="{$dataListdis[8]['name'][1]}" class="am-form-field" type="text"  value="{$data.allergies}" placeholder="无"/></div>
            </li>     
             <li {$dataListdis[9][1]}>
              <span class="edit-contacts-box-list-title">社会角色</span>
              <div class="edit-contacts-box-list-text role-select-box"> 
              <select name="{$dataListdis[9]['name'][1]}" id="role" class="role-select" data-placeholder="请选择" >
              <volist name=":get_role()" id="role" key="k">
              <option value="{$key}" >{$role}</option>
              </volist>  
            </select></div>
            </li>
            <li {$dataListdis[10][1]}>
              <span class="edit-contacts-box-list-title">角色说明</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="role_description" name="{$dataListdis[10]['name'][1]}" class="am-form-field" type="text"  value="{$data.role_description}" placeholder="学生/白领"/></div>
            </li> 

           <li {$dataListdis[11][1]}>
              <span class="edit-contacts-box-list-title">年　　龄</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="age" name="{$dataListdis[11]['name'][1]}" class="am-form-field" type="text"  value="" placeholder="请填写年龄"/></div>
          </li>
                

           <li {$dataListdis[12][1]}>
              <span class="edit-contacts-box-list-title">惯用手</span>
              <div class="edit-contacts-box-list-text role-select-box"> 
              <select name="{$dataListdis[12]['name'][1]}" id="hand" class="role-select" data-placeholder="请选择" >
              <option value="" >请选择</option>
              <option value="1" >左手</option>
              <option value="2" >右手</option>
             
            </select></div>
          </li>
           

            <!------------------------------>
            <li>
              <div class="edit-contacts-box-list-group-title">选填项</div>
            </li>

            <!------------------------------>
            <li {$dataListdis[4][0]}>
              <span class="edit-contacts-box-list-title">电子邮箱</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="email" name="{$dataListdis[4]['name'][0]}" class="am-form-field" type="text"  value="" placeholder="请填写Email"/></div>
            </li>
            <li {$dataListdis[1][0]}>
              <span class="edit-contacts-box-list-title">紧急联系</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="emergencycontact" name="{$dataListdis[1]['name'][0]}" class="am-form-field" type="text"  value="{$data.emergencycontact}" placeholder="紧急联系人"/></div>
            </li>
            <li {$dataListdis[2][0]}>
              <span class="edit-contacts-box-list-title">紧急电话</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="emergencyphone" name="{$dataListdis[2]['name'][0]}" class="am-form-field" type="text"  value="{$data.emergencyphone}" placeholder="紧急联系电话"/></div>
            </li> 
            <li {$dataListdis[3][0]}>
              <span class="edit-contacts-box-list-title">活动昵称</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="nickname" name="{$dataListdis[3]['name'][0]}" class="am-form-field" type="text"  value="{$data.nickname}" placeholder="请填写活动昵称"/></div>
            </li>
             <li {$dataListdis[5][0]}>
              <span class="edit-contacts-box-list-title">ＱＱ号码</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="qq" name="{$dataListdis[5]['name'][0]}" class="am-form-field" type="text"  value="" placeholder="请填写QQ"/></div>
            </li>
             <li {$dataListdis[6][0]}>
              <span class="edit-contacts-box-list-title">血　　型</span>
              <div class="edit-contacts-box-list-text bloodtype-select-box"> 
              <select  name="{$dataListdis[6]['name'][0]}" id="bloodtype" class="bloodtype-select" data-placeholder="请选择" >
              <volist name=":get_bloodtype()" id="bloodtype" key="k">
              <option value="{$key}" >{$bloodtype}</option>
              </volist>  
            </select></div>
            </li>
            <li {$dataListdis[7][0]}>
              <span class="edit-contacts-box-list-title">住宿偏好</span>
            <div class="edit-contacts-box-list-text accpre-select-box"> 
			  <select name="{$dataListdis[7]['name'][0]}[]" id="accpre" multiple data-placeholder="请选择" class="accpre-select">
              <volist name=":get_accommodation()" id="accommodation" key="k">
              <option value="{$key}" >{$accommodation}</option>
              </volist>
              </select>
              </div>
            </li>
			
            <li  {$dataListdis[8][0]}>
              <span class="edit-contacts-box-list-title">过敏史</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="allergies" name="{$dataListdis[8]['name'][0]}" class="am-form-field" type="text"  value="{$data.allergies}" placeholder="无"/></div>
            </li>     
			       <li {$dataListdis[9][0]}>
              <span class="edit-contacts-box-list-title">社会角色</span>
              <div class="edit-contacts-box-list-text role-select-box"> 
              <select name="{$dataListdis[9]['name'][0]}" id="role" class="role-select" data-placeholder="请选择" >
              <volist name=":get_role()" id="role" key="k">
              <option value="{$key}" >{$role}</option>
              </volist>  
            </select></div>
            </li>
            <li {$dataListdis[10][0]}>
              <span class="edit-contacts-box-list-title">角色说明</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="role_description" name="{$dataListdis[10]['name'][0]}" class="am-form-field" type="text"  value="{$data.role_description}" placeholder="学生/白领"/></div>
            </li> 

            <li {$dataListdis[11][0]}>
              <span class="edit-contacts-box-list-title">年　　龄</span>
              <div class="edit-contacts-box-list-text"> 
              <input id="age" name="{$dataListdis[11]['name'][0]}" class="am-form-field" type="text"  value="" placeholder="请填写年龄"/></div>
            </li>

            <li {$dataListdis[12][0]}>
              <span class="edit-contacts-box-list-title">惯用手</span>
              <div class="edit-contacts-box-list-text role-select-box"> 
              <select name="{$dataListdis[12]['name'][0]}" id="hand" class="role-select" data-placeholder="请选择" >
              <option value="" >请选择</option>
              <option value="1" >左手</option>
              <option value="2" >右手</option>
             
            </select></div>
          </li>  
            <!------------------------------>      
         </ul>   
        
          
    </div>    
    </form>
        </div>
    </div>
</div>
<script>
var $people_modal = $('#sign-people');
var $people_modal_btn = $('#sign-people-btn');
var $add_people_btn = $('#add-people-btn');
var $add_people = $('#add-people');

$people_modal_btn.on('click', function(e) {
	$people_modal.modal({closeViaDimmer:0,relatedTarget: this});
});
$people_modal.on('open.modal.amui', function() {
	$people_modal.find('.sign-people-loading').show();
	$people_modal.find('.sign-people-msg').html('').hide();
	$people_modal.find('.sign-people-content').hide();
	$people_modal.find('.sign-people-content ul').remove();//
	
	var event_id = $('#event_id').val();
	var calendar_id = $('#calendar_id').val();
	var event_membercontacts = $("#event_membercontacts").val();
	
	$.getJSON("{:U('Mobile/Config/ajax_get_contacts')}", {event_membercontacts: event_membercontacts,calendar_id:calendar_id,event_id:event_id}, function (data) {	
		if(data){
		  $.each(data, function(i,g_data){
			var ajax_member_contacts_tpl = $('.sign-people-tpl ul');
			var ajax_member_contacts_li = ajax_member_contacts_tpl.clone();
			var ajax_contacts_checkbox = ajax_member_contacts_li.find('[ajax_contacts_checkbox]');
			var ajax_contacts_realname = ajax_member_contacts_li.find('[ajax_contacts_realname]');
			var ajax_contacts_card = ajax_member_contacts_li.find('[ajax_contacts_card]');//-card-
			var ajax_contacts_telephone = ajax_member_contacts_li.find('[ajax_contacts_telephone]');//mobile
			ajax_contacts_checkbox.attr("id",'eid_'+i);
			ajax_contacts_checkbox.attr("data-id",g_data['id']);
			ajax_contacts_realname.html(''+g_data['realname']);
			ajax_contacts_card.html(''+g_data['card']);
			ajax_contacts_telephone.html(''+g_data['telephone']);
			//ajax_member_contacts_li.prop('id', 'ajax_member_contacts_li_' + g_data['id']).insertBefore('.input_ajax_member_contacts').show();
			ajax_member_contacts_li.on('click', function() {
				if(ajax_member_contacts_li.find('div').hasClass("sign-people-has") == true){

					if(ajax_member_contacts_li.find('div').hasClass("sign-people-error") == true){
						return false;
					}
					ajax_member_contacts_li.find('div').removeClass("sign-people-has").removeClass("sign-people-success").removeClass("sign-people-error").removeClass("sign-people-warning").removeClass("sign-people-available");
					ajax_member_contacts_li.find('.check_btn').removeClass("am-icon-close").removeClass("am-icon-check-square-o").addClass('am-icon-square-o');
			
					
				}else{
					$.getJSON("{:U('Mobile/Config/ajax_check_event_contact')}", {contactid: g_data['id'],event_id:event_id,calendar_id:calendar_id}, function (event_contact_data) {
						if(event_contact_data['status']==1){
							ajax_member_contacts_li.find('div').addClass("sign-people-has");
							ajax_member_contacts_li.find('div').addClass("sign-people-success");
							ajax_member_contacts_li.find('div').addClass("sign-people-available");
							
							ajax_member_contacts_li.find('.check_btn').removeClass("am-icon-square-o").addClass("am-icon-check-square-o");
							
						}else if(event_contact_data['status']==2){
							
							app_modal_popup.confirms({
								text:event_contact_data['msg'],
								relatedTarget:ajax_member_contacts_li,
								confirm:function(){
									this.find('div').addClass("sign-people-has");
									this.find('div').addClass("sign-people-warning");
									this.find('div').addClass("sign-people-available");
									this.find('.check_btn').removeClass("am-icon-square-o").addClass("am-icon-check-square-o");
								
								},
								cancel:function(){},
							});
							
						}else if(event_contact_data['status']==3){
							ajax_member_contacts_li.find('div').addClass("sign-people-has");
							ajax_member_contacts_li.find('div').addClass("sign-people-error");
							ajax_member_contacts_li.find('.check_btn').removeClass("am-icon-square-o").addClass("am-icon-close");
							toasts.error(event_contact_data['msg']);
						}else{
							toasts.error(event_contact_data['msg']);
						}																																			 
																																														 
					});

				}									 
			});
			ajax_member_contacts_li.insertBefore('.sign-people-lists').show();
		  }); 
		  $people_modal.find('.sign-people-loading').hide();
		  $people_modal.find('.sign-people-content').show();	
      $('.am-panel-default').hide();
		}else{
			$people_modal.find('.sign-people-loading').hide();
			$people_modal.find('.sign-people-msg').html('没有参加者').show();	
		}
	});
});

$people_modal.on('confirm.modal.amui', function() {
	$.getJSON("{:U('Mobile/Config/ajax_get_contacts')}",function (member_json) {	
		if(member_json){
		
			var str="";
			$('.sign-people-content .sign-people-list div.sign-people-available').each(function(){
																							   
				var m_c_id = $(this).attr('data-id');																   
				var member_contacts_tpl = $('#member_contacts_tpl');
				var member_contacts_li = member_contacts_tpl.clone();
				var contacts_del = member_contacts_li.find('[contacts_del]');
				var contacts_realname = member_contacts_li.find('[contacts_realname]');
				var contacts_card = member_contacts_li.find('[contacts_card]');//-card-
				var contacts_telephone = member_contacts_li.find('[contacts_telephone]');//mobile
				var contacts_email= member_contacts_li.find('[contacts_email]');//email
				var contacts_insurance = member_contacts_li.find('[contacts_insurance]');
				contacts_realname.html(''+member_json[m_c_id]['realname']);
				contacts_card.html(''+member_json[m_c_id]['card']);
				contacts_insurance.html('<php> echo $insurance_string</php>');
				contacts_del.attr("delid",member_json[m_c_id].id);
				contacts_del.bind("click",function(){
					member_contacts_li.remove();
					var event_membercontacts =  $("#event_membercontacts").val();
					var str= new Array();
					var newstr= "";
					del_uid = member_json[m_c_id].id;
					str=event_membercontacts.split(",");      
					for (i=0;i<str.length ;i++ )   
					{
						if(del_uid != str[i]){
							newstr += str[i]+","
						}	
					}		
					var new_event_membercontacts = newstr.substring(0,newstr.length - 1);
					$("#event_membercontacts").attr('value',new_event_membercontacts);
					/******************************************************************************/
					var event_membercontacts_num = $("#event_membercontacts").val();
					var card_num = $("#cardid").val();
					if(card_num){
						var event_membercontacts_array = Array();
						var card_membercontacts_array = Array();
						if(event_membercontacts_num){ 
							event_membercontacts_array = event_membercontacts_num.split(",");
							var event_membercontacts_leng = event_membercontacts_array.length;
						}else{ 
							var event_membercontacts_leng = 0;
						}
						card_membercontacts_array = card_num.split(",");
						var card_membercontacts_leng = card_membercontacts_array.length;
						if(card_membercontacts_leng > event_membercontacts_leng){
							var notice = '最多能使用'+event_membercontacts_leng+'张优惠券，请减少优惠券使用';
							alert(notice);
							GetOrderinfo();
						}else{
							//alert(1); 
							GetOrderinfo();
						 }

					}else{ 
						//alert(2);
						GetOrderinfo();
					}

				});
				
				member_contacts_li.prop('id', 'member_contacts_li_' + member_json[m_c_id].id).insertBefore('.in_contacts').show();
				str += $(this).attr('data-id')+","
			 });
		
			if(str){
				var old_event_membercontacts = $("#event_membercontacts").val();
				if(old_event_membercontacts){
					str = old_event_membercontacts+','+str;
				}
				var str_contacts = str.substring(0,str.length - 1);
				$("#event_membercontacts").val(str_contacts);
			}
			  GetOrderinfo();
			  $people_modal.modal('close');
			  
		}else{
		alert('没有数据');
		}
	});
});
$add_people_btn.on('click', function(e) {						   
	$add_people.modal({closeViaDimmer:0,relatedTarget: this});
	$people_modal.modal('close');
	
 $('.bloodtype-select').chosen({width:"100%",height:"60",disable_search: true});
	$('.accpre-select').chosen({width:"100%",height:"60",disable_search: true});
	$('.role-select').chosen({width:"100%",height:"60",disable_search: true});		
	$('.setup-list-sex .sex').on('click', function() {
		var sexval =  $(this).attr('data-sex-id');							   
		$('#sex').val(sexval);
		if(sexval ==1){
			$('.sex-man').addClass('chosen');
			$('.sex-women').removeClass('chosen');
		}else{
			$('.sex-man').removeClass('chosen');
			$('.sex-women').addClass('chosen');
		}
	});
});


$add_people.on('closed.modal.amui', function() {
	$people_modal.modal({closeViaDimmer:0,relatedTarget: this});											
});
$add_people.on('confirm.modal.amui', function() {
	var self = $('#add-people-form');
	$.post("{:U('Mobile/Config/ajax_doAdd')}", self.serialize(), function (data) {
		if(data['status']==1){
			$add_people.modal('close');
		}else{
			toasts.error(data.msg);
		}
	}, 'json');
});
</script>

<script>
$(function () {		
	$('#event_information_btn').click(function () {
		var event_information = $("#event_information");
		if(event_information.is(":hidden")){
			   event_information.show();    //如果元素为隐藏,则将它显现
			   $('.am-icon-angle-down').removeClass().addClass('am-icon-angle-up'); 
		}else{
			  event_information.hide();     //如果元素为显现,则将其隐藏
			  $('.am-icon-angle-up').removeClass().addClass('am-icon-angle-down'); 
		}
			
	});
});	
</script>
 
</block>
<block name="script">
</block>
