 <extend name="Public/common"/>
<block name="body">
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
    <div class="am-header-left am-header-nav"> <a href="{:U('Mobile/Config/index')}" class=""> <i class="am-icon-chevron-left"></i></a>钱包</div>
  </header>
  <include file="Public/topnavbar"/>
  <include file="Public/navbar"/>  
<div class="wallet-lists-box">
    <ul class="am-list am-list-border am-list-news-bd count_num">
      <!--li><a href="javascript:"><i class="am-icon-database am-text-warning"></i> 积分 <span class="am-list-date"><small class="wallet-num">{$wallet.score}</small><i class="am-icon-angle-right set-icon"></i></span></a></li-->
      <li><a href="{:U('Mobile/Config/mypointcard')}"><i class="am-icon-ticket am-text-success"></i> 券 <span class="am-list-date"><small class="wallet-num">{$wallet.pointcard}张</small><i class="am-icon-angle-right set-icon"></i></span></a></li>
      <!--li><a href="javascript:toasts.error('暂未开放')"><i class="am-icon-money am-text-primary"></i> 余额 <span class="am-list-date"><small class="wallet-num">{$wallet.tox_money}元</small><i class="am-icon-angle-right set-icon"></i></span></a></li>
      <li><a href="javascript:toasts.error('暂未开放')"><i class="am-icon-archive am-text-danger"></i> 红包 <span class="am-list-date"><small class="wallet-num">--</small><i class="am-icon-angle-right set-icon"></i></span></a></li-->
      <!--li><span class=" am-list-date"><i class="am-icon-angle-right set-icon"></i></span><a href="javascript:toasts.error('暂未开放')"><i class="am-icon-share-square"></i> 推荐有奖</a></li-->
    </ul>
  </div>
</block>  