<extend name="Public/base1" />
<block name="style">
</block>
<block name="body">
 <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
                <div class="widget-header  bordered-bottom bordered-sky">
                	<i class="widget-icon fa fa-tasks themeprimary"></i>
                    <span class="widget-caption">生成卡券</span>
                </div>
                <div class="widget-body">
                    <form id="defaultForm" action="{:U('Manage/Pointcard/pointer_doAdd2')}" class="form-horizontal form-bordered" method="post" >  
                        <div class="form-title">
                            必填项
                        </div>
                        <input type="hidden" name="card_type" value="1" />
                        <div class="form-group">
                            <label class="col-lg-2 control-label">卡券类型</label>
                            <div class="col-lg-10">
                                <div class="radio">
                                	{:form_radio_manage(array('1'=>'一码一券','2'=>'一码多券'),1,'name="couponcode" class="couponcode"','','couponcode')}
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">号码前缀</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="text"  class="form-control" placeholder="请填写号码前缀" name="prefix" value=""/>
                                      <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="须为4~8数字或字母组合"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">类型名称</label>
                            <div class="col-lg-10">
                            	<div class="input-group">
                                <input type="text" class="form-control" name="typename" value="" placeholder="请填写类型名称" />
                                <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="如：圣诞活动1元券"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">发放数量(张):</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="text"  class="form-control" placeholder="请填写发放数量"  name="cardnum" value="" /> 
                                     <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="<=10000"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">面值(元)</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                  <input  type="text" class="form-control" placeholder="请填写面值" name="amount" value="" />
                                   <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="必须为数字"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-title">
                            选填项
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">是否有使用条件</label>
                            <div class="col-lg-10">
                                <div class="radio">
                                    {:form_radio_manage(array('1'=>'是','2'=>'否'),2,'name="have_service" class="have_service"','','have_service')}
                                </div>
                            </div>
                        </div> 
                        <div class="form-group have_server_condition" style="display:none;">
                            <label class="col-lg-2 control-label">使用条件</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    单笔订单满&nbsp;&nbsp;<input  type="text" class="" placeholder="请填写价格" name="server_condition" value="0" />&nbsp;元使用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="red">*</span>(必须大于0的整数)
                                </div>
        
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-lg-2 control-label">生效时间</label>
                            <div class="col-lg-10">
                                <div class="input-group date form_datetime">
                                   <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                     <input type="text" name="starttime" class="form-control" placeholder="请选择时间" value="" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                     <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="默认为无限制"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">到期时间</label>
                                <div class="col-lg-10">
                                    <div class="input-group date form_datetime">
                                   <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                     <input type="text" name="endtime" class="form-control" placeholder="请选择时间" value="" readonly />
                                    <span class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                     <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="默认为无限制"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                  
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input class="btn btn-palegreen" type="submit" value="确定保存" />
                                <input class="btn btn-default" type="submit" onclick="javascript:history.back(-1);return false;" value="返  回" />
                            </div>

                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
</block>
<block name="script">
<script src="/Public/static/bootstrap3.2/js/validation/bootstrapValidator.js"></script>
<!--Bootstrap Date Picker-->
<link href="/Public/static/bootstrap3.2/css/bootstrap-datetimepicker_old.css" rel="stylesheet" type="text/css">
<script src="/Public/static/bootstrap3.2/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="/Public/static/bootstrap3.2/js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
$(".form_datetime").datetimepicker({
    format: "yyyy-mm-dd hh:ii",
    language:"zh-CN",
    showmeridian: false,
    autoclose: true,
    pickerPosition: "top-right",
    minuteStep: 5,
    todayBtn: true,
    todayHighlight:true,
    minView:0,
});
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
		//excluded: ':disabled',
        //live: 'enabled',
        message: '这些信息不能为空',
		
		/*submitHandler: function(validator, form, submitButton) {
           $(form).ajaxSubmit( {
                target: '#info',
                success: function() {
                    $('#defaultForm').slideUp('fast');
					
				validator.defaultSubmit();
					
				}
			})
       },*/


        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            couponcode: {
                validators: {
                    notEmpty: {
                        message: '卡券类型是必需的，不能是空的'
                    },
                }
            },
            typename: {
                validators: {
                    notEmpty: {
                        message: '类型名称是必需的，不能是空的'
                    }
                }
            },
            prefix: {
                validators: {
                    notEmpty: {
                        message: '号码前缀是必需的，不能是空的'
                    },
                     regexp: {
                     regexp: /^[0-9a-zA-Z]{4,8}$/,
                     message: '号码前缀为4-8位数字或者字母组合'
                    }
                }
            },
            cardnum: {
                validators: {
                    notEmpty: {
                        message: '发放数量是必需的，不能是空的'
                    },
                    regexp: {
                     regexp:/^([1-9]\d{0,3}|10000)$/,
                     message: '发放数量为大于1小于10000的整数'
                    }
                }
            },
            amount: {
                validators: {
                    notEmpty: {
                        message: '面值是必需的，不能是空的'
                    },
                    regexp:{
                        regexp:/^([0-9]+)$/,
                        message:'面值必须是整数'
                    }
                }
            },
        }
    }).on('success.form.bv', function(e) {
            // Prevent submit form
            e.preventDefault();
			$(this).addClass('ajax-form');
			$('#defaultForm').data('bootstrapValidator').disableSubmitButtons(false);
	});
});
$("input:radio[name='have_service']").click(function(){
      var have_service=$("input:radio[name='have_service']:checked").val();
      if(have_service==1){ 
        $('.have_server_condition').show();
      }else{ 
        $('.have_server_condition').hide();
      }
    })

</script>

</block>
