<extend name="Public/base" />
<block name="body">
	<div class="main-title">
        <h2>派发</h2>
    </div>
    <form action="{:U('Manage/Pointcard/do_send')}" method="post" class="form-horizontal ajax-form" role="form" >
    	 <div class="form-item">
			<label for="traveldays" class="item-label">选择赠送方式<span class="check-tips">(默认输入手机号)</span></label>
			<div class="controls">
				<input type="radio" name="select_send" value="1" checked>&nbsp;输入手机号&nbsp;
				<input type="radio" name="select_send" value="2">&nbsp;用户ID或昵称&nbsp;
				
			</div>
		</div>


        <label class="item-label">券码:&nbsp;&nbsp;{$cardid}</label>
        <div class="controls">
             <input id="cardnum" name="cardnum" type="hidden" class="text input-large" check-type="Text"  value="{$cardid}" disabled="" />   
        </div>
        <input type='hidden' name='cardid' value="{$cardid}">
       	<div id="write_user" style="display:none">
			<label class="item-label">请输入用户昵称或ID:</label>
	        <div class="controls">
	             <input id="userid" name="userid" type="text" class="text input-large form-control form_check" check-type="Text"  value="" placeholder="请输入用户昵称或ID"/>  
	        </div>
        </div>
        <div id="mobile_user">
	        <label class="item-label">请输入用户手机号码:</label>
	        <div class="controls">
	             <input id="mobile" name="mobile" type="text" class="text input-large form-control form_check" check-type="Text"  value="" placeholder="请输入有效的手机号码"/>  
	        </div>
        </div>
        <div class="user_arr controls" style="display:none">
			<select class=' form_check user_arr_select' name="user_select">
				<option  value=''>请选择用户</option>
			</select>				
		</div>       
		 <div  class="row data-table" id="user_info" style="display:none">
          <table class="info">
            <thead>
              <tr>
              
				<th>用户头像</th>
                <th>(UID)会员昵称</th>
                <th>性别</th>
                <th>创建时间</th>
                <th>最后登录时间</th>

                
              </tr>
            </thead>
            <tbody>
            	<tr></tr>
        	</tbody>
        	</table>
            </div>		
        <br/>
        <div class="form-item">
        	<a class="w_btn submit-btn" id="check_user" style="display:none">查找用户</a>
            <button class="w_btn submit-btn" id="submit" type="submit" target-form="form-horizontal">派发</button>
            <a class="w_btn btn-return" href="{:U('Pointcard/index')}">返回</a>
        </div>
        
    </form>
    <script>
    $(document).ready(function(){ 
    	var hah=$("input:radio[name='select_send']:checked").val();
    	if(hah==1){ 
    		$("#write_user").hide();
    		$("#mobile_user").show();
    		$("#check_user").hide();
    		$("#submit").show();
    		$("#user_info").hide();
    	}else{ 
    		$("#write_user").show();
    		$("#check_user").show();
    		$("#mobile_user").hide();
    		$("#submit").hide();
    		$(".user_arr").hide();
    	}	
    })


    $(":radio").click(function(){
    	var hah=$("input:radio[name='select_send']:checked").val();
    	if(hah==1){ 
    		$("#write_user").hide();
    		$("#mobile_user").show();
    		$("#check_user").hide();
    		$("#submit").show();
    		$("#user_info").hide();
    	}else{ 
    		$("#write_user").show();
    		$("#check_user").show();
    		$("#mobile_user").hide();
    		$("#submit").hide();
    		$(".user_arr").hide();

    	}
    })	
    $("#check_user").click(function(){ 
    
    	var cardid=$("input[name='cardid']").val();
    	var userid=$("input[name='userid']").val();
  		if(userid==''){ 
  			toast.error('用户昵称或ID不能为空');
  		}
  		$.post(U('Manage/Pointcard/check_user_id'),{cardid:cardid,userid:userid},function(res){ 
  			if(res['status']){ 
  				$("#user_info").show();
  				$("#user_info tbody tr").empty();
  				$("#user_info tbody tr").append("<td><img src="+res['list']['avatar64']+"></td>").append("<td>["+res['list']['id']+"]"+res['list']['nickname']+"</td>").append("<td>"+res['list']['sex']+"</td>").append("<td>"+res['list']['reg_time']+"</td>").append("<td>"+res['list']['last_login_time']+"</td>")

  				$("#check_user").hide();
  				$("#submit").show();
   			}else{ 
  				toast.error(res['msg']);
  			}
  		},'json')
    })



	$('form').submit(function(){
		var select_send=$("input:radio[name='select_send']:checked").val();
		if(select_send==1){
			$.ajaxSetup({
				async: false
			});
			var mobile = $("input[name='mobile']").val();	
			if(mobile == ''){
				toast.error('手机号码不能为空');
				$(".user_arr_select").val('');
				$(".user_arr").hide();
				return false;
			}
			var bool = false;
			$.post(U('Usercenter/Pointcard/check_user'),{mobile:mobile},function(res){
				if(res['status']){
					var user_total = res['user_arr'].length;
					if(user_total == 1 || res['user_out']==1){
						bool = true;
					}else{
						var user_select = $(".user_arr_select").val();
						if(user_select != ''){
							bool = true;
						}else{
							bool = false;
							toast.error('该手机号码对应多个账号，选择您要操作的账号再派发!');
							$(".user_arr").show();
							$(".user_arr_select").empty();
							$(".user_arr_select").append("<option value=''>请选择用户</option>")
							$.each(res['user_arr'],function(i,v){			
								$(".user_arr_select").append("<option value="+v['id']+">"+v['nickname']+"</option>")
							})
						}					
					}			
				}else{
					toast.error(res['msg']);
					$(".user_arr").hide();
					$(".user_arr_select").val('');
				}			
			},'json')
			return bool;
		}
	})
</script>



	
</block>