<extend name="Public/base1" />
<block name="style">
 <link href="/Public/static/bootstrap3.2/css/dataTables.bootstrap.css" rel="stylesheet" />
 <style>
 	.weixin_out_underline:hover {text-decoration:none;}
    .popover{ max-width:750px;z-index: 10001;}
 </style>
</block>
<block name="body"> 
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header  bordered-bottom bordered-sky">
              <i class="widget-icon fa fa-tasks themeprimary"></i>
                <span class="widget-caption">公众号管理&nbsp;&nbsp;                          
                
            </div>
            <div id="simplewizardinwidget" class="wizard" data-target="#simplewizardinwidget-steps">
	            <ul class="steps">
	                <li class="active"><a href="{:U('Manage/Weixin/public_add',array('id'=>$id))}" class="weixin_out_underline"><span class="step">1</span>增加基本信息<span class="chevron"></span></a></li>
	                <li class="active"><a href="<empty name='id'>###<else /> {:U('Manage/Weixin/step_1',array('id'=>$id))}</empty>" class="weixin_out_underline"><span class="step">2</span>配置公众平台<span class="chevron"></span></a></li>
	                <li class="active"><a href="<empty name="id">###<else /> {:U('Manage/Weixin/step_2',array('id'=>$id))}</empty>" class="weixin_out_underline" ><span class="step">3</span>保存接口配置<span class="chevron"></span></a></li>
	            </ul>
    		</div>
	<div class="widget-body">
	    <form id="defaultForm" action="{:U('Manage/Weixin/do_step_2')}" method="post" class="form-horizontal form-bordered">
	        <div class="form-title">
	            必填项&nbsp;&nbsp;<a href="javascript:void(0);" class="label label-darkorange" data-container="body" data-titleclass="bordered-purple" data-class="dark aaa" sty data-toggle="popover" data-placement="bottom-left" data-title="帮助信息" data-content="<img src='__PUBLIC__/Manage/images/weixin/help04.png' width=700 >" data-original-title="" title="">帮助</a></span>
	        </div>
	    	<input name="id" type="hidden" value="{$id}" />
	        <div class="form-group">
				<label class="col-lg-3 control-label">AppID(应用ID) :</label>
	    		<div class="col-lg-9">
	              	<input id="appid" name="appid" type="text" class="form-control" check-type="Text"  value="{$public_info.appid}" />
		        </div> 
	        </div>
	        <div class="form-group">
	            <label class="col-lg-3 control-label">AppSecret(应用密钥):</label>
	    		<div class="col-lg-9">
	            <input id="appsecret" name="appsecret" type="text" class="form-control" check-type="Text"  value="{$public_info.appsecret}" />
	         </div>
	        </div>
	        <div class="form-group">
	            <label class="col-lg-3 control-label">EncodingAESKey  :<span class="check-tips">(安全模式下必填)</span></label>
	        	<div class="col-lg-9">
	                 <input id="encodingaeskey" name="encodingaeskey" type="text" class="form-control" check-type="Text"  value="{$public_info.encodingaeskey}" />
	            </div>
	        </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-10">
                    <input class="btn btn-palegreen" type="submit" value="确定保存" />

                </div>
            </div>
	    </form>
    </div>
    </div>
    </div>
    </div>
</block>
<block name="script">
<script src="/Public/static/bootstrap3.2/js/validation/bootstrapValidator.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
        //excluded: ':disabled',
        //live: 'enabled',
        message: '这些信息不能为空',
        
        /*submitHandler: function(validator, form, submitButton) {
           $(form).ajaxSubmit( {
                target: '#info',
                success: function() {
                    $('#defaultForm').slideUp('fast');
                    
                validator.defaultSubmit();
                    
                }
            })
       },*/


        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            appid: {
                validators: {
                    notEmpty: {
                        message: 'AppleID是必需的，不能是空的'
                    },
                }
            },
            appsecret: {
                validators: {
                    notEmpty: {
                        message: 'AppSecret是必需的，不能是空的'
                    }
                }
            },
            encodingaeskey: {
                validators: {
                    notEmpty: {
                        message: 'EncodingAESKey是必需的，不能是空的'
                    }
                }
            },
        }
    }).on('success.form.bv', function(e) {
            // Prevent submit form
            e.preventDefault();
            $(this).addClass('ajax-form');
			$('#defaultForm').data('bootstrapValidator').disableSubmitButtons(false);
    });
});
</script>
</block>
