.toasts-success {
    background-color: #51a351;
}

.toasts-error {
    background-color: #bd362f;
}

.toasts-info {
    background-color: #2f96b4;
}

.toasts-warning {
    background-color: #f89406;
}
.toasts-top-center {
    top:24px;
    margin: 0 auto;
    left: 50%;
}
.toasts-center{
    top:50%;
    left: 50%;
}
.toasts-bottom-center {
    position:fixed;
    margin: 0 auto;
	padding:4px 6px;
    border-radius: 3px;
    top: 100px;
    color: white;
    font-size: 14px;
	z-index:99999
}
