<extend name="Usercenter/base"/>
<block name="body">
<div class="common_block_title">Bug恢复</div>

<dt class="col-md-12">
  <dl><a href="{:U('Official/Debug/repair_sku')}">商城-sku-数据更新sku_title(json)</a><span class='common-color-red'>15-1-7</span></dl>
  <dl><a href="{:U('Official/Debug/websit_create_qcode',array('type'=>'websit'))}">批量生成全站Websit二维码</a><span class='common-color-red'>15-3-12</span></dl>
  <dl><a href="{:U('Official/Debug/websit_create_qcode',array('type'=>'event'))}">批量生成全站活动Event二维码</a><span class='common-color-red'>15-3-12</span></dl>
  <dl><a href="{:U('Official/Debug/websit_create_qcode',array('type'=>'issue'))}">批量生成全站故事Issue二维码</a><span class='common-color-red'>15-3-12</span></dl>
  <dl><a href="{:U('Official/Debug/websit_create_qcode',array('type'=>'blog'))}">批量生成全站公告Blog二维码</a><span class='common-color-red'>15-3-12</span></dl>
  
  <dl></dl>
</dt>
</block>
