
<if condition="$data neq false">
<div class="shop-mall-right-module ">
  <div class="shop-mall-module-title">
    <span class="title-name">热卖排行</span>
	<span class="title-more"><a href="{:U('Shop/Index/goods',array('action'=>'fiery'))}"><i class="glyphicon glyphicon-plus"></i></a></span> 
  </div>
  <div class="shop-mall-module-list">
    <ul>
		<volist name="data" id="vo">
		<a href="{:U('Shop/Index/goodsDetail',array('id'=>$vo['id']))}">
			<li>
			  <div class="shop-list-items">
				<p class="img"><img class="add_loading add_loading_shop_fiery" src="__PUBLIC__/Core/images/blank.png" data-original="{$vo.goods_ico|getThumbImageById=300,300}"  title="{$vo.goods_name|op_t|getShortSp=15}"/>
				</p>
				<p class="shop-list-item-brand">{$vo.custom_brand_name}</p>
				<p class="shop-list-item-name">{$vo.goods_name|op_t|getShortSp=13}</p>
				<p class="shop-list-item-price">￥{$vo.market_price}</p>
			  </div>
			</li>
        </a>
		</volist>
    </ul>
	
  </div>
</div>
</if>

<script>
$(function () {
	hdl_lazyload("add_loading_shop_fiery");
})
</script>