<extend name="Public/common"/>
<block name="body">
  <div class="top_bar_mobile"> <span class="mobile_crumbs "><a onclick="window.history.go(-1)" href="javascript:" title="回到上一页"><i class="glyphicon glyphicon-chevron-left"></i></a></span> <span class="mobile_search">
    <div class="text-right">
      <div class="event_screening_btn">故事</div>
    </div>
    </span> </div>
  <div class="h40"></div>
  <div class="mobile_type_lists">
    <ul>
      <volist name="tree" id="top">
        <li><a <eq name="issue_id" value="$top['id']">class="cur"</eq>
          href="{:U('index',array('issue_id'=>$top['id'],'norh'=>$norh))}" data="{$top.id}">{$top.title}</a></li>
      </volist>
    </ul>
  </div>
  <!--导航-->
  <div class="mobile_module">
  <div class="mobile_event_list">
      <ul>
        <volist name="contents" id="vo">
          <li><a class="mobile_event_a" title="{$vo.title|strip_tags}" href="{:U('Mobile/Issue/issuecontentdetail',array('id'=>$vo['id']))}"><img class="" src="{$vo.cover_id|getThumbImageById=200,180}" />
          <div class="m_e_l_box">
            <div class="m_e_l_t">{$vo.title}</div>
            <div class="m_e_l_c">
              <php> $begincity = get_citys($vo['begincity']);
                $finalcity = get_citys($vo['finalcity']); </php>
              <div class="mobile_event_list_icon"><span class="glyphicon glyphicon-map-marker"></span>{:get_city($finalcity['province'])}-{:get_city($finalcity['city'])}</div>
              <div class="mobile_event_list_icon "><span class="glyphicon glyphicon-user"></span>发布人：{$vo.user.nickname}</div>
			  <div class="mobile_event_list_icon "><span class="glyphicon glyphicon-time"></span>发布时间：{$vo.create_time|date="Y-m-d",###}</div>
             
            </div>
            </div>
            <div class="m_l_more"><i class="glyphicon glyphicon-chevron-right"></i></div></a></li>
        </volist>
      </ul>
      <div>
        <if condition="count($contents) eq 0">
          <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center">此分类下暂无内容哦。O(∩_∩)O~</div>
        </if>
      </div>
      <div class="mobile_event_page">{:getPagination($totalPageCount,10)}</div>
    </div>
    
  </div>
</block>
<block name="script"></block>
