<extend name="Public/common"/>
<block name="body">
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-header-left am-header-nav">
  <a href="javascript:history.back(-1)" class="">
  <script src=""></script>
  <i class="am-icon-chevron-left"></i>
  </a> 伙伴打卡<!--填写返回打卡-->
  </div>
  <div class="am-header-right am-header-nav">
      <a href="{:U('Mobile/Index/index')}" class="" data-am-offcanvas="{target: '#home_all_bar'}">
  <i class="am-header-icon am-icon-bars"></i>
  </a>
  </div>
</header>
<body>
	<include file="Public/topnavbar"/> <!-- 右侧菜单 -->
	<!-- 头像及背景图片 -->
	<div class="mark-head mark-mfd-head">
			<div class="mark-div">
				<a href="javascript:"><img class="mark-img am-circle am-img-thumbnail" src="{$user.avatar128}"/>
				</a>
			</div>
			<div class="mark-name">{$user.nickname}</div>
		<div class="mark-mfd-button">
		<if condition="is_login() && $_GET['userid'] != get_uid()">
		     <php> $is_following = D('Follow')->where(array('who_follow'=>get_uid(),'follow_who'=>$_GET['userid']))->find(); 
		     </php>
		     <if condition="!$is_following">
			 <button type="button" id="user_logout" class="guanzhu people_ufollow am-btn am-btn-block am-btn-green  mark-mfd-btn"  data-uid="{$_GET['userid']}"  data-isfollowing="0" >关注</button>
			<else />
			<button type="button" id="user_logout" class="defriending people_ufollow am-btn am-btn-block am-btn-green  mark-mfd-btn"  data-uid="{$_GET['userid']}"  data-isfollowing="1" >取消关注</button>
			</if>
		</if>
		</div>
	</div>
 	<div class="mark-mfd-con">
 		<div class="mark-mfd-math mark-mfd-math1">
 			<i class="am-icon-file-text mark-mfd-tubiao"></i>
 			<p class="mark-mfd-tup">{$count}</p>
 			<label class="mark-mfd-tulabel">总次数</label>
 		</div>
 		<div class="mark-mfd-math mark-mfd-math2">
 			<i class="am-icon-tachometer mark-mfd-tubiao"></i>
 			<p class="mark-mfd-tup">{$distance}</p>
 			<label class="mark-mfd-tulabel">总里程</label>
 		</div>
 	</div>
	<!-- 伙伴打卡内容 -->
 <div class="chart-list-tpl mark-mfd-conbox">
        <div class="am-g index-issue-lists-box mark-mfd-conbox">
            <div class="am-u-sm-5 issue-img-box">
               <a href="" data-record>
                     <img class="lazy" src="__PUBLIC__/Core/images/grey.gif" data-original="" data-thumb/>
                </a>
            </div>
            <div class="am-u-sm-7">
                <a href="" data-record>
                <p class="mark-mfd-title" data-yuebanname>标题</p>
                </a>
                <div class="mark-mfd-cona1">
                    <label class="mark-mfd-label mark-mfd-labela mark-mfd-date"><span data-type>类型</span>&nbsp;<b data-distance>距离</b>&nbsp;KM</label>
                    <label class="mark-mfd-label mark-mfd-labelb mark-mfd-date" data-create-time>打卡时间</label>
                </div>
                <div class="mark-mfd-cona1 mark-mfd-cona2">
                    
                    <label class="mark-mfd-label mark-mfd-labela" data-time>时间</label>
                    <label class="mark-mfd-label mark-mfd-labelc" data-speed>速度</label>
                </div>
            </div>
        </div>
</div><div class="chart-list-box">
            <div class="chart-lists-ul"></div>
            <div style="clear:both;"></div>
            <div class="loading-more">
                 <i class="am-icon-circle-o-notch am-icon-spin" loading-icon style=" display:none"></i>
                 <span loading-text>加载更多</span>
            </div>
</div>
</body>
<script>
      $(function(){
                    var loading_i = 0;
                    var get_url = {};
                    var gget_url = {$get_url};
                    if (!$.isEmptyObject(gget_url)) {
                        get_url = gget_url;
                    }
                    function get_mark_list(is_del) {
                        if (is_del == true) {
                            $(".collection-list-box .collection-lists-ul .par-sign-det").remove();
                        }
                        var loading_more = $(".loading-more");
                        var loading_text = loading_more.find('[loading-text]');
                        var loading_icon = loading_more.find('[loading-icon]');
                        loading_text.html('奋力加载中');
                        loading_icon.show();
                        get_url['page'] = loading_i;
                        $.getJSON("{:U('Mobile/Mark/get_markfriends')}", get_url, function (json) {
                            if (json) {
                              // console.log(json);
                                $.each(json, function (index, array) {
                                      var chart_list_tpl = $('.chart-list-tpl .mark-mfd-conbox');
                                      var chart_list_li = chart_list_tpl.clone(); 
                                      var chart_list_thumb = chart_list_li.find('[data-thumb]');
                                      var chart_list_record = chart_list_li.find('[data-record]');
                                      var chart_list_yuebanname = chart_list_li.find('[data-yuebanname]');
                                      var chart_list_create = chart_list_li.find('[data-create-time]');
                                      var chart_list_type = chart_list_li.find('[data-type]');
                                      var chart_list_distance = chart_list_li.find('[data-distance]');
                                      var chart_list_time = chart_list_li.find('[data-time]');
                                      var chart_list_speed = chart_list_li.find('[data-speed]');
                                      if(array['thumb']){
                                        chart_list_thumb.attr("data-original", array['thumb']);
                                      }else{
                                        chart_list_thumb.attr("src","__PUBLIC__/static/amaze/images/Mark/personal"+array['typecode']+".jpg");
                                      }
                                      chart_list_record.attr("href",array['record']);
                                      chart_list_yuebanname.html(array['yuebanname']);
                                      chart_list_create.html(array['daka_day']);
                                      chart_list_type.html(array['typetext']);
                                      chart_list_distance.html(array['distance']);
                                      chart_list_time.html(array['time']);
                                      chart_list_speed.html(array['speed']+'/KM');
                                      chart_list_thumb.lazyload({effect: "fadeIn", threshold: 100});
                                      $(".chart-list-box .chart-lists-ul").append(chart_list_li);
                                });
                          $(".chart-list-box").trigger("scroll");
                              loading_text.html('加载更多');
                              loading_icon.hide();
                              loading_i++;
                              $('.loading-more').scrollspy({});
                          } else {
                              $('.loading-more').unbind('inview.scrollspy.amui').unbind('outview.scrollspy.amui');
                              loading_text.html('已经没有了');
                              loading_icon.hide();
                          }
                      }); 
                  }
                    get_mark_list();
                    $('.loading-more').on('inview.scrollspy.amui', function () {
                        timeout = setTimeout(function () {
                            get_mark_list();
                        }, 1000);
                    }).on('outview.scrollspy.amui', function () {
                        clearTimeout(timeout)
                    });
                  })
  $(function () {
    hdl_lazyload('img.lazy');
  })
</script>
</block>
<block name="script"></block>
