<extend name="Public/common"/>
<block name="body">
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-header-left am-header-nav"><a href="javascript:window.history.back();" class=""><i class="am-icon-chevron-left"></i></a>确认并支付</div>
</header>

<div class="paystatus">
      <if condition="$event_attend['paytype'] eq 1">
        <if condition="$event_attend['pay_status'] eq 0">
          <div class="flowstep">
            <ol class="flowstep-4">
              <li class="step-first">
                <div class="step-done">
                <div class="step-no"></div>
                  <div class="step-name">预约</div>
                  
                </div>
              </li>
              <li>
                <div class="step-done">
                <div class="step-no"></div>
                  <div class="step-name">下单</div>
                  
                </div>
              </li>
              <li>
                <div class="step-cur">
                <div class="step-no">3</div>
                  <div class="step-name">定金支付</div>
                  
                </div>
              </li>
              <li>
              <div class="step-no">4</div>
                <div class="step-name">确认出行</div>
                
              </li>
              <li class="step-last">
              <div class="step-no">5</div>
                <div class="step-name">余额支付</div>
                
              </li>
              <!--<li>
              <div class="step-no">6</div>
                <div class="step-name">出行签到</div>
                
              </li>
              <li class="step-last">
              <div class="step-no">7</div>
                <div class="step-name">点评</div>
                
              </li>-->
            </ol>
          </div>
          <elseif  condition="$event_attend['pay_status'] eq 1"/>
          <div class="flowstep">
            <ol class="flowstep-4">
              <li class="step-first">
                <div class="step-done">
                <div class="step-no"></div>
                  <div class="step-name">预约</div>
                  
                </div>
              </li>
              <li>
                <div class="step-done">
                <div class="step-no"></div>
                  <div class="step-name">下单</div>
                  
                </div>
              </li>
              <li>
                <div class="step-done">
                <div class="step-no"></div>
                  <div class="step-name">定金支付</div>
                  
                </div>
              </li>
              <li>
                <div class="step-done">
                <div class="step-no"></div>
                  <div class="step-name">确认出行</div>
                  
                </div>
              </li>
              <li class="step-last">
                <div class="step-cur">
                <div class="step-no">5</div>
                  <div class="step-name">余额支付</div>
                  
                </div>
              </li>
             <!-- <li>
             <div class="step-no">6</div>
                <div class="step-name">出行签到</div>
                
              </li>
              <li class="step-last">
              <div class="step-no">7</div>
                <div class="step-name">点评</div>
                
              </li>-->            
            </ol>
          </div>
        </if>
      </if>  
        
      <if  condition="$event_attend['paytype'] eq 0">
        <div class="flowstep">
          <ol class="flowstep-all">
            <li class="step-first">
              <div class="step-done">
              <div class="step-no"></div>
                <div class="step-name">预约</div>
                
              </div>
            </li>
            <li>
              <div class="step-done">
              <div class="step-no"></div>
                <div class="step-name">下单</div>
                
              </div>
            </li>
            <li>
            <div class="step-cur">
            <div class="step-no">3</div>
              <div class="step-name">订单支付</div>
              
              </div>
            </li>
            <li class="step-last">
            <div class="step-no">4</div>
              <div class="step-name">确认出行</div>
              
            </li>
           <!-- <li>
           <div class="step-no">5</div>
              <div class="step-name">出行签到</div>
              
            </li>
            <li class="step-last">
            <div class="step-no">6</div>
              <div class="step-name">点评</div>
              
            </li>-->
           
          </ol>
        </div>
      </if>
</div>











<div class="pay_money am-text-warning on_line">

    <if condition="$event_attend['paytype'] eq 1">
    
 		<php>
         if($cardinfo_money){
            if($cardinfo_money > $event_attend['leftprice']){
                $card_amount = $event_attend['leftprice'];
                $leftprice = 0;
            }else{
                $card_amount = $cardinfo_money;
                $leftprice = $event_attend['leftprice'];
            }
         }else{
         	$leftprice = $event_attend['leftprice'];
         }		
        </php>
    
        <if condition="$event_attend['pay_status'] eq 0">
        	<span class="pay_money_text">支付定金 <i class="am-icon-jpy"></i></span> <span class="pay_money_price">{$event_attend.payprice}</span> 
        <elseif  condition="$event_attend['pay_status'] eq 1"/>
        	<span class="pay_money_text">支付余额 <i class="am-icon-jpy"></i></span> <span class="pay_money_price">{$leftprice}</span> 
        </if>
	<elseif  condition="$event_attend['paytype'] eq 0"/>
    <php>
     if($cardinfo_money){
        if($cardinfo_money > $event_attend['payprice']){
            $card_amount = $event_attend['payprice'];
            $payprice = 0;
        }else{
            $card_amount = $cardinfo_money;
            $payprice = $event_attend['payprice'];
        }
     }else{
        $payprice = $event_attend['payprice'];
     }		
    </php>
    	<if condition="$event_attend['pay_status'] eq 0">
    	<span class="pay_money_text">支付金额 <i class="am-icon-jpy"></i></span> <span class="pay_money_price">{$payprice}</span>
    	</if>
    </if>
</div>






<div class="am-panel-hd">支付方式</div>

<form class="am-form" role="form" action="{:U('Mobile/Pay/do_pay')}" method="post" target="">
<ul class="am-list am-list-border am-list-static" >
	<li class="am-cf">
        <input type="hidden" name="order_id" id="trade_sn" value="{$event_attend.trade_sn}"/>
        <if condition="$pay_types">{:mk_pay_btn($pay_types,'3','',0)}
          <else/>
          本站暂未开启在线支付功能，如需帮助请联系管理员。
        </if>
    </li>
</ul>
<div>
 <button type="submit" class="am-btn am-btn-block am-btn-primary">确认并支付</button>
</div>

 </form> 


  </div>
  <script>

$(function(){
	$("form").submit(function(e){				  
	setTimeout(function(){
		$(".pay_popup").trigger("click")
	},2000)  						
	});
});
</script>
</block>
