<if condition="$rec_event_recommend neq false">
<link rel="stylesheet" href="__STATIC__/superslide/superslide.css">
	<div class="index_event">
    	<div class="s_title">
   			活动<span class="s_title_son"><a  id="recom" >推荐</a><a id="new">最新</a><a id="hot" >热门</a></span> 													
            <span class="more"><a href="{:U('Event/Index/index')}">更多&nbsp;></a> <span class="glyphicon glyphicon-menu-right"></span></span>
      </div>
          <div class="h10"></div>  
          <div id="recomdiv" >     <!-- 这里放推荐-->  
            <div id="focusAd" class="tv-slideBox" style="background:#fff" >
              <a class="prev"></a><a class="next"></a>
              <div class="bd">
                    <ul>       
                       <volist name="rec_event_recommend" id="rec_event_recommend_vo">
                          <li class="li{$k}">
                            <volist name="rec_event_recommend_vo" key="k" id="vo">
                              <div class="con con{$k}">
                                  <a href="{:U('Event/Index/detail',array('id'=>$vo['id']))}">
                                      <img src="{$vo.cover_id|getThumbImageById=400,300}" />
                                  </a> 
                                <div class="indexbox_content" >   
                                  <div class="ev_title"><a  title="{$vo.title|strip_tags}" href="{:U('Event/Index/detail',array('id'=>$vo['id']))}" >
                                      <if condition="$k eq 1"> {$vo.title}<else/>{$vo.title|op_t|getShortSp=22}</if></a>
                                  </div>   
                                  <div class="ev_address">地点：{$vo.disfinalcity}</div>
                                  <div class="ev_time">时间：{$vo.dislasted_time}  <!--  <span class="pull-right">报名：<b>20</b> 人</span> --> </div>
                                  </div>
                              </div>
                            </volist> 
                          
                           </li>            
                      </volist>    
                  </ul>
               </div> 
            </div>
          </div>
            
          <div id="newdiv" >     <!-- 这里放最新 -->  
                <div id="focusAd2" class="tv-slideBox" style="background:#fff" >
                    <a class="prev"></a><a class="next"></a>
                    <div class="bd">
                          <ul>       
                             <volist name="rec_event_new" id="rec_event_new_vo">
                                <li class="li{$k}">
                                  <volist name="rec_event_new_vo" key="k" id="vo">
                                    <div class="con con{$k}">
                                        <a href="{:U('Event/Index/detail',array('id'=>$vo['id']))}">
                                            <img src="{$vo.cover_id|getThumbImageById=400,300}" />
                                        </a> 
                                      <div class="indexbox_content" >   
                                        <div class="ev_title"><a  title="{$vo.title|strip_tags}" href="{:U('Event/Index/detail',array('id'=>$vo['id']))}" >
                                            <if condition="$k eq 1"> {$vo.title}<else/>{$vo.title|op_t|getShortSp=22}</if></a>
                                        </div>   
                                        <div class="ev_address">地点：{$vo.disfinalcity}</div>
                                        <div class="ev_time">时间：{$vo.dislasted_time} </div>
                                        </div>
                                    </div>
                                  </volist> 
                                
                                 </li>            
                            </volist>    
                        </ul>
                     </div> 
                 </div> 

          </div>
          <div id="hotdiv" >    <!-- 这是放热门 -->  
                <div id="focusAd3" class="tv-slideBox" style="background:#fff" >
                    <a class="prev"></a><a class="next"></a>
                    <div class="bd">
                          <ul>       
                             <volist name="rec_event_hot" id="rec_event_hot_vo">
                                <li class="li{$k}">
                                  <volist name="rec_event_hot_vo" key="k" id="vo">
                                    <div class="con con{$k}">
                                        <a href="{:U('Event/Index/detail',array('id'=>$vo['id']))}">
                                            <img src="{$vo.cover_id|getThumbImageById=400,300}" />
                                        </a> 
                                      <div class="indexbox_content" >   
                                        <div class="ev_title"><a  title="{$vo.title|strip_tags}" href="{:U('Event/Index/detail',array('id'=>$vo['id']))}" >
                                            <if condition="$k eq 1"> {$vo.title}<else/>{$vo.title|op_t|getShortSp=22}</if></a>
                                        </div>   
                                        <div class="ev_address">地点：{$vo.disfinalcity}</div>
                                        <div class="ev_time">时间：{$vo.dislasted_time}  </div>
                                        </div>
                                    </div>
                                  </volist> 
                                
                                 </li>            
                            </volist>    
                        </ul>
                     </div> 
                 </div>

          </div>
         
  </div>	
  <div class="h15"></div>
<style> 
/*bunengdong*/
.tv-slideBox{ height:360px;} 
.tv-slideBox li{ height:360px;}
.tv-slideBox li .con1{ margin-right:20px; }
.tv-slideBox li .con img{ width:400px; height:300px;}
.tv-slideBox li .con { padding-left:0; width:400px;}
.tv-slideBox li .con .indexbox_content{ padding:2px 10px; border:1px solid #eee;}
</style>
<script>

$(function () {
hdl_lazyload("img.add_loading_recommendevent");
})

		$(document).ready(function() {
      $('#recom').addClass('active');
			$("#newdiv").css("display","none");
			$("#hotdiv").css("display","none");	
		$("#recom").click(function(){
      $(this).addClass('active');
			$("#recomdiv").show();
      $("#new").removeClass('active');
      $("#hot").removeClass('active');
			$("#newdiv").css("display","none");	
			$("#hotdiv").css("display","none");
			});		
		$("#new").click(function(){
      $(this).addClass('active');
			$("#newdiv").show();
      $("#recom").removeClass('active');
      $("#hot").removeClass('active');
			$("#recomdiv").css("display","none");
			$("#hotdiv").css("display","none");
			});
		$("#hot").click(function(){
      $(this).addClass('active');
			$("#hotdiv").show();
      $("#new").removeClass('active');
      $("#recom").removeClass('active');

			$("#recomdiv").css("display","none");
			$("#newdiv").css("display","none");
			});	
		});	
	 

</script>
<script language="javascript"> jQuery("#focusAd").slide({ mainCell:".bd ul",effect: "leftLoop",autoPlay:true,switchLoad:"_src",interTime:5000});</script> 
<script language="javascript"> jQuery("#focusAd2").slide({ mainCell:".bd ul",effect: "leftLoop",autoPlay:true,switchLoad:"_src",interTime:5000});</script> 
<script language="javascript"> jQuery("#focusAd3").slide({ mainCell:".bd ul",effect: "leftLoop",autoPlay:true,switchLoad:"_src",interTime:5000});</script> 
  
</if>


