<notempty  name="video">

  <div class="index_video">  
    <div class="s_title">
        推荐视频 
    </div>
    <div class="h10"></div>
    <div class="indexbox_content">
     <embed  align="none" class="edui-faked-video" pluginspage="http://www.macromedia.com/go/getflashplayer" src="{$video[video_real_url]}" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="never" menu="false" loop="false" play="true" wmode="transparent" />       
    </div>    
  </div>
  
</notempty>
 
                    
                                     
                   
