<extend name="default/common"/>
<block name="body">
<div class="container">
<div class="row">
<div class="col-md-8"><include file="Public/nav" />
  <hr/>
	<div class="row issuecontent-detail">
		<div class="col-md-9 event_detail_title"><a href="javascript:" class="text-more hundred" >{$content.title}</a></div>
	</div>
  <div class="row">
    <div class="pull-left col-md-6">
      <div class="thumbnail"> <img class="issue-detail-det-img add_loading add_loading_issuecontentdetail" src="__PUBLIC__/Core/images/blank.png" data-original="{$content.cover_id|getThumbImageById=350,263,1}"/> </div>
    </div>
    <div class="pull-left col-md-6">
      <div class="row">
        <div class="col-md-12">
          <ul class="operation_issue">
		    <li>目的地：{$desty}</li>
			<li>活动特色：<volist name="content.tags" id="tag">{$tag.name}&nbsp;&nbsp; </volist></li>
			<li>发布人：<a href="{$content.user.space_url}"> {$content.user.nickname} </a></li>
			<li>发布时间： {$content.create_time|friendlyDate} &nbsp;&nbsp;</li>
		  </ul>
		</div>
	  </div>
       <div class="row issue_detail_favorites">
        <div class="col-md-12 issue_detail_share">
          <neq name="content.url" value=""><!--<a class="btn btn-primary apply" target="_blank" href="{$content.url}" ><i class="glyphicon glyphicon-cloud"></i>&nbsp;访问TA的旅行</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--></neq>
          <a class="btn btn-info i_detail col-md-4" style="margin-right:2px;"><i class="glyphicon glyphicon-heart"></i> 加入收藏</a>&nbsp;&nbsp;
         
		</div>
		<div class="col-md-12 issue_detail_share"><div class="bdsharebuttonbox">{:hook('baidushare')}</div></div>
        <if condition="$qrcode_link">
		<div class="col-md-12 issue_detail_share"><span class="two-dime"><img class="" src="__PUBLIC__/Core/images/weixing.png">&nbsp;&nbsp;<label>扫一扫二维码，分享给朋友</label></span></div>
        </if>
	  </div>
	</div>
		<div class="two-time-box"><a class="two-close pull-right">×</a>
			<label>分享到微信朋友圈</label>
			<img class="evnet-two-dime" src="{$qrcode_link}"><br>
			<span>打开微信,点击底部发现,<br>&nbsp;使用'扫一扫'即可将网页分享至朋友圈</span>
		</div>
  </div>
   
  <hr/>
       <section id="contents">
	        <h3>详情</h3>
			<div>{$content.content} </div>
	   </section>
   <div> {:hook('localComment', array('path'=>"Issue/issueContent/$content[id]", 'uid'=>$content['uid']))} </div>
 </div>
	  <div class="pull-right col-md-4"><include file="_right"/></div>
  </div>
</div>
</block>
<block name="script">
  <script>
  var SUPPORT_URL="{:addons_url('Support://Support/doSupport')}";
	$(function () {
		hdl_lazyload("img.add_loading_issuecontentdetail");
		$('.i_detail').click(function(){
           var issue_id = "{$content['id']}";
			if(MID=="0"){
				toast.error('请在登录后再收藏。');
				setTimeout(function () {
				   location.href ="{:U('Home/User/login')}"  
						}, 1500);
				
				return false;
			}else{
				$.post("{:U('Issue/Index/issue_collection')}", {id: issue_id}, function (res) {
				 if(res=='1'){
				   toast.error('你已收藏过。');
				 }else{
				   toast.success('收藏成功。');
				 }
				}, 'json');
			}
		});
		bindSupport();
		 /*-二维码-*/
	   var twotimebox=$('.two-time-box');
	   var twodime=$('.two-dime');
	       twodime.click(function(){
		      twotimebox.css('display','block')
			})
		/*关闭二维码*/
	      $('.two-close').click(function(){
		      twotimebox.css('display','none')
		  })
		
		
	})

</script>
</block>
