<if condition="$data neq false">


<div class="shop-mall-module">
  <div class="shop-mall-module-title">
    <span class="title-name">新品速递</span>
	<span class="title-more"><a href="{:U('Shop/Index/goods',array('action'=>new_products))}"><i class="glyphicon glyphicon-plus"></i></a></span> 
	
  </div>
  <div class="shop-mall-module-list">
    <ul>
		 <volist name="data" id="vo">
		<a href="{:U('Shop/Index/goodsDetail',array('id'=>$vo['id']))}">
			<li>
			  <div class="shop-list-items"><img class="add_loading add_loading_shop_new"  src="__PUBLIC__/Core/images/blank.png" data-original="{$vo.goods_ico|getThumbImageById=300,300}"  title="{$vo.goods_name|op_t|getShortSp=15}" />
				<p class="shop-list-item-brand">{$vo.custom_brand_name}</p>
				<p class="shop-list-item-name">{$vo.goods_name|op_t|getShortSp=15}</p>
				<p class="shop-list-item-price"><b>￥{$vo.market_price}</b> <del>￥{$vo.tox_money_need}</del></p>
			  </div>
			  <div class="shop-list-item-mask"  title="{$vo.goods_name}"><span>查看详情 ></span></div>
			</li>
        </a>
		</volist>
    </ul>
	<div class="clear"></div>
  </div>
</div>
<script>
$(function () {	
	hdl_lazyload("img.add_loading_shop_new");
	$(".shop-mall-module-list ul a li .shop-list-item-mask").hide();
    $(".shop-mall-module-list ul a li").find(".shop-list-item-mask").stop().fadeTo(200,0)
    $(".shop-mall-module-list ul a li").hover(function(){
        $(this).find(".shop-list-item-mask").stop().fadeTo(200,0.7)
    },function(){
        $(this).find(".shop-list-item-mask").stop().fadeTo(200,0)
    });
})
</script>
</if>

 
