<extend name="Public/base" />
<block name="style">
<link href="__STATIC__/datetimepickerV3/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
 <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=exk5q5HUIK5L1ifB1A4eKv2M"></script>
</block>
<block name="body">
<div class="main-title">
<h2>发布活动_填写基本活动信息</h2>
</div>
<div class='main-title'>
</div> 
<p class="event-add-senior">基本设置</p>   
<div id="auth_groups">
    <form class="form-horizontal ajax-form" role="form" action="{:U('Manage/Event/doPost')}" method="post">
		<input type="hidden" name="id" id="id" value="{$Think.get.id}"/>			
		<input type="hidden" name="event_id" id="event_id" value="{$Think.get.event_id}"/>			
		<input type="hidden" name="event_price_text" id="event_price_text" value="{$event_arr['price_text']}">
        
        
 <div class="event-add">      
		<div class="form-item clearfix">
			<label for="title" class="item-label">活动名称<span>*</span></label>
			<div class="controls">
				<input id="title" name="title" maxlength="25" class="text input-large" check-type="Text" value="" placeholder="标题限25字以内" />您还可以输入<span style="color:red" id="need">25</span>个字
			</div>
		</div>        
        
		<div class="form-item clearfix">
			<label for="title" class="item-label">活动副标题</label>
			<div class="controls">
				<input id="" name="vice_title" maxlength="25" class="text input-large" check-type="Text" value="" placeholder="仅限输入25个字哦，快快添加您对活动的说明吧" /> 
			</div>
		</div>            
        
		<div class="form-item clearfix">
			<label for="tag" class="item-label">活动标签<span>*</span></label>
			<div class="controls">
				{:form_checkbox(get_event_tag('','selected'),$event_arr[tag],'name="tag[]" id="tag"',0,'100')} 
			</div>
		</div>

 		<div class="form-item clearfix">
			<label for="title" class="item-label">活动摘要<span>*</span></label>
			<div class="controls">
				<textarea name="description" cols="6" rows="4" class="textarea input-large" check-type="Text" placeholder=""></textarea>
			</div>
		</div>       
 		<div class="form-item clearfix">
			<label for="finalcity" class="item-label">目的地<span>*</span></label>
			<div class="controls position">
				{:hook('J_China_City', array('find'=>'finalcity','level'=>3,'province'=>$event_arr['finalcity']['province'],'city'=>$event_arr['finalcity']['city'],'district'=>$event_arr['finalcity']['district']))}
			</div>
		</div>       
        
		<div class="form-item clearfix">
			<label for="begincity" class="item-label">集合城市<span>*</span></label>
			<div class="controls position">
				{:hook('J_China_City', array('find'=>'begincity','level'=>3,'province'=>$add['begincity']['province'],'city'=>$add['begincity']['city'],'district'=>$add['begincity']['district']))}			  
			</div>
		</div>
		<div class="form-item clearfix">
			<label for="detailadd" class="item-label">具体地址</label>
			<div class="controls">
				<input id="detailadd" name="detailadd" class="text input-large" check-type="Text"  value="{$add['detailadd']}" placeholder="具体地址"/>		  
			</div>
		</div> 

		<div class="form-item  clearfix">
		<div id="container"></div>
			 <label for="containertext" class="item-label " >集合城市坐标</label> 
			<div class="controls">
				<input id="containertext" name="containertext" class="text input-large" check-type="Text"  value="" placeholder=""/> <span for="containertext" class=" " onclick="searchByStationName();"><a>获取坐标</a></span>		  
			</div>
		</div>       
        <br />
		<script type="text/javascript">

			function dizhi(){ 
				var options0=$("#begincity_J_province option:selected");
				var options1=$("#begincity_J_city option:selected");
				var options2=$("#begincity_J_district option:selected");
				var options3 = $('#detailadd').val();
				var ddd = options0.text()+options1.text()+options2.text()+options3 ;

				return ddd;
			}

			function searchByStationName(){ 
			
			   searchPoint();
			}

		</script>
		
		<script type="text/javascript">
			function searchPoint(){ 
				// 百度地图API功能
				var map = new BMap.Map("allmap");
				//var point = new BMap.Point(116.331398,39.897445);
				//map.centerAndZoom(point,12);
				// 创建地址解析器实例
				var myGeo = new BMap.Geocoder();
				// 将地址解析结果显示在地图上,并调整地图视野
				var keyword = dizhi();
				myGeo.getPoint( keyword, function(point){
					if (point) {
			          	document.getElementById("containertext").value = point.lng + "," + point.lat;
						//map.centerAndZoom(point, 16);
						//map.addOverlay(new BMap.Marker(point));
					}else{
						alert("您选择地址没有解析到结果!");
					}
				}, "北京市");
			}
			
		</script>


		  <!---------------------------------------------------------------------------->
		<div class="form-item clearfix">
			<label for="price" class="item-label">参考价格<span>*</span></label>
			<div class="controls">
				<input type="radio" id="price_text_choose" name="price_type" value="1">输入文本
				<input type="radio" id="price_num_choose" name="price_type" value="2">输入金额
			</div>           
		</div>
		<div class="form-item price_text clearfix">
			<label for="price_text" class="item-label"> 输入文本</label>
			<div class="controls">
				<input id="price_text" maxlength="6" name="price_text" class="price_text_input text input-large" check-type="Text"  value="{$event_arr.price_text}" placeholder="限6个字">
			</div>
		</div>
		<div class="form-item price_num clearfix">
			<label for="price" class="item-label"> 输入金额</label>
			<div class="controls">
				<input id="price" name="price" class="text input-large price_num_input judgeNan" check-type="Num"  value="{$event_arr.price}" placeholder="输入金额">
			</div>
		</div>
		   <!---------------------------------------------------------------------------->        
        
 		<div class="form-item clearfix">
			<label for="traveldays" class="item-label">活动天数<span>*</span></label>
			<div class="controls">
				<input id="traveldays" name="traveldays" class="text input-large judgeNan" check-type="Num"  value="{$event_arr.traveldays}" placeholder="活动天数"/>
			</div>
		</div>       
  
 		<div class="form-item clearfix">
            <label for="insurace" class="item-label">选择保险 </label>
            <div class="controls controls-select">
			<a class="event_insurace">
              <if condition="get_insurance_select() neq ''">
              {:get_insurance_select()}
			<else />
				暂无保险&nbsp;&nbsp;<a class="mbtn insurance_sign btn-info">点击添加</a>
			</if>
			</a>
			  </div>
         </div> 


 		<div class="form-item clearfix">
			<label for="cover_id" class="item-label">活动图片</label>
			<div class="controls">（系统默认第一张图为活动封面图 ）</div>
 		</div>
        
 		<!-- <div class="form-item clearfix">
			<label for="cover_id" class="item-label">列表页封面图</label>
			<div class="controls">
				{:hook('UploadImage', array('find_name'=>'cover_id','value'=>$event_arr['cover_id'],'buttontext'=>'列表页封面图','buttonwidth'=>200,'multi'=>false,'ds'=>'400*300','width'=>400,'height'=>300))}
			</div>
		</div> -->
		<div class="form-item clearfix">
			<label for="cover_id" class="item-label">活动图片列表</label>
			<div class="controls">
                {:hook('UploadImagePc', array('find_name'=>'pictures_id','value'=>'','multi'=>true,'thumb_width'=>80,'thumb_height'=>80,'width'=>'400','height'=>'300'))}
			</div>
		</div> 
        <br /><br/>
        
		<!--星级-------------------------------------------------------------------------------->
    <div class="form-item clearfix">
        <?php $list = get_custom_eventtag(); $event_tag = $list['custom_event']['attribute']; ?>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn-primary upstar_con " data-toggle="modal" data-target="#myModal">添加星级指数</button>
         （最多可以添加5项） 
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body"> 
                <p>为您的活动填写一个指数星级吧！让用户更加了解您的活动！</p>
                <label>星级名称：</label>
                <input id="starname" name="starname" maxlength="5" class="text input-large" check-type="Text" value="" placeholder="名称限5字以内" /> 
                <p></p>
                 <div class="row event-add-starnum">
                    <div class="col-xs-2"> <input type="radio" class='starnum starnum_1' name="starnum" value="1" checked="false" >一颗星</div>
                    <div class="col-xs-2"> <input type="radio" class='starnum starnum_2' name="starnum" value="2"  checked="checked">二颗星</div>
                    <div class="col-xs-2"> <input type="radio" class='starnum starnum_3' name="starnum" value="3"  checked="false">三颗星</div>
                    <div class="col-xs-2"> <input type="radio" class='starnum starnum_4' name="starnum" value="4"  checked="false">四颗星</div>
                    <div class="col-xs-3"> <input type="radio" class='starnum starnum_5' name="starnum" value="5"  checked="false">五颗星</div>
                 </div>                  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn-default btn-default_close" data-dismiss="modal">关闭</button>
                <button type="button" class="btn-primary starname_num">提交</button>
              </div>
            </div>
          </div>
        </div>

         <table class="start-table" id="start-table">
             <tr><th class="start-num">编号</th><th class="start-name">星级名称</th><th class="start-level">级别</th><th class="start-action">操作</th></tr>
         </table>
	</div>
	 	<script type="text/javascript"> 
			var num=1;
			var updateStar = null;
			$("body").on("click",".starname_num", function(e){ 
				var statitle = $("#starname").val();
			 	var stanum =  $("input[name='starnum']:checked").val();
				if(updateStar != null){ 
					updateStar.parent().parent().children(".statitle").html(statitle);
					updateStar.parent().parent().children(".stanum").attr('value',stanum);
					updateStar.parent().parent().children(".stanum").html(stanum);
					updateStar.parent().parent().children(".starnum_input").val(statitle+','+stanum);
					$(".btn-default_close").trigger('click');
				}else{


					if(num > 5){ 
		 				alert("星级指数最多可以添加5项");
		 			}else{ 
			 			
			 			$(".start-table").append("<tr ><td class='numx'>"+num+"</td><td class='statitle'>"+statitle+"</td><td class='stanum' value='"+stanum+"'>"+stanum+"颗星</td><td><a class='up_star'  >修改</a> <a class='del_star'>删除</a></td><input type = 'hidden' class='starnum_input' name='starnum[]' value='"+statitle+','+stanum+"' > </tr>");
			 			
			 			$(".btn-default_close").trigger('click');
			 			num ++;
		 			}

				}
	 			
	 		})
			$("body").on("click",".del_star", function(e){ 
				$(this).parent().parent().remove();
				var delid	=	$(this).attr('del-id');
				var pnum	=	1;
				 $(".numx").each(function(){
					$(this).html(pnum);
					pnum++;
				  });
				num--
			})
			$("body").on("click",".up_star",function(){ 
				updateStar = $(this);
				var statitle = $(this).parent().parent().children(".statitle").text();
				var stanum = $(this).parent().parent().children(".stanum").attr('value');
				$("#starname").val(statitle);
				$(".starnum_"+stanum).trigger('click');
				$(".upstar_con").trigger('click');
			})
			
 		</script>
		<!--星级end-------------------------------------------------------------------------------->  
        
	<div class="event-add-senior-box">
      <p class="event-add-senior">高级设置</p>      
        <div class="form-item clearfix">
        <label for="type_id" class="item-label" style=" width:180px; padding-left:5px;">该活动发布到哪些栏目<span>*</span></label>
            <div class="controls">                 
                <volist name="tree" id="top">
                    <input type="radio" name="type_id" value="{$top.id}" <if condition="$top[id] eq $event_arr[type_id]">checked</if>>&nbsp;{$top.title}&nbsp;
                </volist>            
            </div>
		</div>
		
        <div class="clearfix" style="border-top:1px solid #ccc;">
            <div class="event-add-state">
            <label for=" " class="item-label">状态</label>
            <input type="checkbox" name="recommend" value="1" /> 推荐
            </div>         	
            <div class="form-item event-add-sort">
                <label for="sort" class="">排序</label>
                <div class="controls">
                    <input id="sort" name="sort" maxlength="24" class="text input-large judgeNan" check-type="Text" value="0" placeholder="" />
                </div>
            </div>
    	</div>
	</div>	
        <div class="event-add-note"> 
        备注:<br />
        1. 活动排序推荐时前台按排序序号由小到大排序<br />
        2. 活动有排期时,默认按最近出行日期排期，无排期或排期过期时按排序，序号由大到小排序
		</div>

 
<script type="text/javascript">
$(function(){	
	$('.tabtext ul li').click(function(){
		$(this).addClass('hit').siblings().removeClass('hit');
		$('.panes>div:eq('+$(this).index()+')').show().siblings().hide();	
	})
})
</script>

    <div style="width:100%;margin:40px auto;">
        <div class="tabtext">
            <ul>
                <li class="hit">线路亮点</li>
                <li>行程安排</li>
                <li>费用说明</li>
                <li>注意事项</li>
                <span>(上传的图片宽度建议小于700像素)</span>
            </ul>
            <div class="panes">
                <div class="panecontent" style="display:block;">
                    <p>{:Hook('Ueditor',array('name'=>'travel_point','value'=>$event_arr['travel_point']))}</p>
                </div>
                <div class="panecontent"> <p> {:Hook('Ueditor',array('name'=>'explain','value'=>$event_arr['explain']))}</p></div>
                <div class="panecontent"> <p> {:Hook('Ueditor',array('name'=>'pay_info','value'=>$event_arr['pay_info']))}</p></div>
                <div class="panecontent"> <p> {:Hook('Ueditor',array('name'=>'attention','value'=>$event_arr['attention']))}</p></div>
            </div>
        </div>
    </div>
		 
		  <!-------------------------------------------->
		  <style>
			.insurance_event{border:1px solid red;width:450px;height:200px;margin-left:30px;display:none}
			.insurance_inner{margin-top:20px;margin-left:30px;}
			.insurance_form{width:600px;}
		  </style>	  
		  <div class="insurance_event">
			<div class="insurance_inner">
				<div class="form-group insurance_form has-feedback">
					<label for="name" class="col-md-2 control-label">保险名称</label>
					<div class="col-md-4">
						<input id="name" type="text" class="form-control insurance_name form_check" check-type="Text"  value="" placeholder="请填写保险名称"/>
					</div>
				</div>
				<div class="form-group insurance_form position">
					<label for="sum_insured" class="col-md-2 control-label">保额</label>
					<div class="col-md-4"> 
						<input id="sum_insured" type='text'  class="form-control insurance_insured form_check" placeholder="请填写保额"/>
					</div>
				</div>
				<div class="form-group insurance_form position">
					<label for="price" class="col-md-2 control-label">保险价格</label>
					<div class="col-md-4"> 
						<input id="price" type='text'  class="form-control insurance_price form_check" placeholder="请填写保险购买价格"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-10">
						<a class="btn btn-primary insurance_sure_add">提交</a>
					</div>
				</div>			
			</div>
		  </div>
		  <!---------------------------------------------->        
          <br></br> 
		   <div class="form-item">
			<button type="submit" class="w_btn submit-btn ajax-post" target-form="form-horizontal" target-ls="a" href="{:U('Manage/Event/doPost')}">确定</button>
			<button onclick="javascript:history.back(-1);return false;" class="w_btn btn-return">返回</button>
		  </div>
</div>        
    </form>
</div>

<script type="text/javascript" src="__JS__/form_check.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepickerV3/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepickerV3/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script>

	$(".judgeNan").blur( function(){ 
        var ss = $(this).val();
        if(isNaN(ss) || (ss < 0)){ 
          alert('只能输入>=0的数字')
        }
    })
$(function(){
	/*****************************************************/
	$('#title').keyup(function(){

		var need_length = $(this).val().length;

		var html = 25 - need_length;
		$('#need').html(html)
		
	}).trigger("keyup",function(){ 
		var need_length = $(this).val().length;
		//alert(need_length);

		var html = 25 - need_length;
		$('#need').html(html)
	})

	$('.insurance_sign').click(function(){
		do_zero();
		$('.insurance_event').toggle();
		if($(this).html() == '点击添加'){
			$(this).html('取消添加')
		}else{
			$(this).html('点击添加')
		}
	})
	function do_zero(){
		$('.insurance_name').val('');
		$('.insurance_insured').val('');
		$('.insurance_price').val('');
	}
	$('.insurance_sure_add').click(function(){
		var name = $('.insurance_name').val();
		var sum_insured = $('.insurance_insured').val();
		var price = $('.insurance_price').val();
		$.post(U('Manage/Event/insurance_doAdd'),{name:name,sum_insured:sum_insured,price:price},function(res){
			if(res['status']){
				$('.event_insurace').html(res['string'])
				$('.insurance_event').hide();
				do_zero();
			}else{
				toast.error(res['msg']);
			}
		},'json')
	})
	/***************************************************/
	var event_price_text = $('#event_price_text').val();
	var event_id = $('#event_id').val();
	if(event_id == ''){
		$("input[name='price_type']").prop('checked',false)
		$('.price_text').hide();
		$('.price_num').hide();
		$('.price_text_input').val('');
		$('.price_num_input').val(0);
	}else{
		if(event_price_text != ''){
			$('.price_text').show();
			$('.price_num').hide();
			$('.price_text_input').val(event_price_text)
			$('#price_text_choose').prop('checked',true)
		}else{
			$('.price_num').show();
			$('.price_text').hide();
			$('#price_num_choose').prop('checked',true)
		}
	}
	$('#price_text_choose').click(function(){
		$('.price_text').show();
		$('.price_num').hide();
		$('.price_text_input').val(event_price_text)
		$('.price_num_input').val(0);
	})
	$('#price_num_choose').click(function(){
		$('.price_num').show();
		$('.price_text').hide();
		$('.price_text_input').val('');
	})
	
	$('#dj1').prop('checked',true)	
	$('#dj1').click(function(){
		$('#jd').hide();
		$('#frontmoney').val('0');
	})
	$('#dj').click(function(){
		$('#jd').show();
	})
	$('#dj2').click(function(){
		$('#jd').hide();
		$('#frontmoney').val('0');
	})

	
	$('.time').datetimepicker({
		language:'zh-CN',
		weekStart:1,
		todayBtn:1,
		autoclose:1,
		todayHighlight:1,
		startView:2,
		minView:0,
		forceParse:0,
		format: 'yyyy-mm-dd hh:ii'
	});

	$('.time_d').datetimepicker({
		language:'zh-CN',
		weekStart:1,
		todayBtn:1,
		autoclose:1,
		todayHighlight:1,
		startView:2,
		minView:2,
		forceParse:0,
		format: 'yyyy-mm-dd'
	});
})
		
    </script>
</block>
