<extend name="Public/common_user"/>
<block name="body">
<header data-am-widget="header" class="am-header am-header-default">
<div class="am-header-left am-header-nav">
  <a href="{:U('Mobile/Index/Index')}" class="">
  <i class="am-icon-chevron-left"></i>
  </a> 重置密码
  </div> 
</header> 
 	<div class="reset-box">
      <form class="am-form ajax-form" id="form_user_login_v" action="{:U('User/doReset')}" method="post">
      <input type="hidden" name="type" value="{$type}"/>
      <input type="hidden" name="mobileverify" value="{$mobileverify}"/>
       <div class="form-input">亲爱的<span style="color:#F00;">{$user_info.nickname},请重新设置密码</span></div>
        <div class="form-input">          
        	<input type="password" id="inputPassword" class="form-control" placeholder="请输入新密码"
                               errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="password">         
        </div>
        <div class="form-input">
            <input type="password" id="inputPassword" class="form-control" placeholder="请再次输入密码"
                               errormsg="密码为6-20位" nullmsg="请填写密码" datatype="*6-20" name="repassword">
        </div> 
     
        <div class="form-input">
          <div class="controls">             
            <button type="submit" class="am-btn am-btn-primary am-btn-xs" style="float: right">重 置</button>
             </div>
        </div>
      </form>

  </div>
</block>
<block name="side"></block>
<block name="script">
<script type="text/javascript">
</script>
</block>
