<div id="center">
  <div class="common_block_title ">
    <div class="pull-right"><a class="mbtn  btn-info  customer_sign common-color-white"  href="{:U('Websit/Index/customer_service_add')}">添加QQ客服</a></div>QQ客服</div>
	<p class="common-color-red" >(最多可启用3个哦)</p>
  <div class="row data-table">
    <table>
      <!-- 表头 -->
      <thead>
        <tr>
          <th>QQ客服</th>
          <th>昵称</th>
		  <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <!-- 列表 -->
      <tbody>
        <notempty name="list">
        <volist name="list" id="vo">
          <tr>
            <td>{$vo.qq}</td>
            <td><a href="{$vo.url}" target="_blank"><i class="glyphicon glyphicon-link"></i> {$vo.nickname}</a></td>
			<td><if condition="$vo.status eq 1">启用<elseif condition="$vo.status eq 0"/>禁用</if></td>
		    <td>
			<a class="mbtn btn-info customer_sign1 common-color-white"  href="{:U('Websit/Index/customer_service_edit?id='.$vo['id'])}">编辑</a>
			 <if condition="$vo.status eq 0">
			  <a href="javascript:" data-ID="{$vo.id}" data-Status="1" class="mbtn btn-info customer_disable" >启用</a>
		    <elseif condition="$vo.status eq 1"/> 
			  <a href="javascript:" data-ID="{$vo.id}" data-Status="0" class="mbtn btn-danger customer_cancel_disable">禁用</a>
		    </if>
			</td>
          </tr>
        </volist>
        <else/>
      <td colspan="4" class="text-center"> aOh! 暂时还没有内容!</td>
        </notempty>
        </tbody>
    </table>
  </div>
  <div class=""></div>
  <script>
        $(function () {			
			$('.customer_sign').magnificPopup({
                type: 'ajax',
                overflowY: 'scroll',
                modal: true,
                callbacks: {
                    ajaxContentAdded: function () {
                        console.log(this.content);
                    }
                }
            });
			
			//更新
			$('.customer_sign1').magnificPopup({
                type: 'ajax',
                overflowY: 'scroll',
                modal: true,
                callbacks: {
                    ajaxContentAdded: function () {
                        console.log(this.content);
                    }
                }
            });
		   //是否禁用
			$('.customer_disable').click(function () {
			if (confirm('确定要操作么？')) {
				var id = $(this).attr('data-ID');
				var is_recommend=$(this).attr('data-Status');
				
				$.post(U('Websit/Index/customer_is_disable'), {id: id,status:is_recommend}, function (res) {
					if (res.status) {
						toast.success(res.info);
						setTimeout(function () {
							location.reload();
						}, 1500);
					}
					else {
						toast.error(res.info);
					}
				}, 'json');
			}
		 });  
        //--取消禁用--
         $('.customer_cancel_disable').click(function () {
			if (confirm('确定要操作么？')) {
				var id = $(this).attr('data-ID');
				var is_recommend=$(this).attr('data-Status');
				
				$.post(U('Websit/Index/customer_cancel_disable'), {id: id,status:is_recommend}, function (res) {
					if (res.status) {
						toast.success(res.info);
						setTimeout(function () {
							location.reload();
						}, 1500);
					}
					else {
						toast.error(res.info);
					}
				}, 'json');
			}
		 });    			
		
	  })
    </script>
</div>