<div id="center">
  <div class="common_block_title ">汇总</div>
  <div class="row data-table usercenter-data-count-table">
    <table class="info">
      <!-- 表头 -->
      <thead>
        <tr>
          <th>会员总数</th>
          <th>线路总数</th>
          <th>故事总数</th>		 
          <th>排期总数</th>
          <th>活动订单总数</th>
          <!--th>报名人总数</th-->
          <th>评论总数</th>
          <!--th>支付总金额</th-->
        </tr>
      </thead>
      <!-- 列表 -->
      <tbody>
          <tr>
            <td>{$allmember}</td>
            <td>{$allevent}</td>
            <td>{$allstory}</td>			
            <td>{$allschedule}</td>
            <td>{$allorder}</td>
            <!--td></td-->
            <td>{$allcomment}</td>
            <!--td></td-->
          </tr>
        </tbody>
    </table>
  </div>
  <div class="common_block_title ">今日</div>
  <div class="row data-table usercenter-data-count-table">
    <table class="info">
      <!-- 表头 -->
      <thead>
        <tr>
          <th>新增会员数</th>
          <th>新增线路数</th>
          <th>新增故事数</th>		 
          <th>新增排期数</th>
          <th>新增活动订单数</th>
          <!--th>新增报名人数</th-->
          <th>新增评论数</th>
          <!--th>新增支付金额</th-->
        </tr>
      </thead>
      <!-- 列表 -->
      <tbody>
          <tr>
            <td>{$daymember}</td>
            <td>{$dayevent}</td>
            <td>{$daystory}</td>			
            <td>{$dayschedule}</td>
            <td>{$dayorder}</td>
            <!--td></td-->
            <td>{$daycomment}</td>
            <!--td></td-->
          </tr>
        </tbody>
    </table>
  </div>
</div>
 </div>