<div id="center">
  <div class="common_block_title ">
    <div class="pull-right"><a class="mbtn btn-info common-color-white"  href="{:U('Websit/Index/content',array('status'=>5))}">公告类型</a>&nbsp;&nbsp;<a class="mbtn btn-info add_notice common-color-white"  href="{:U('Websit/Index/notice_add')}">发布公告</a></div>官方公告</div>
  <div class="row data-table">
    <table>
      <!-- 表头 -->
      <thead>
        <tr>
          <th>标题</th>
          <th>发布时间</th>
          <th>修改时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <!-- 列表 -->
      <tbody>
        <notempty name="notices">
        
        <volist name="notices" id="vo">
          <tr>
            <td>{$vo.title}</td>
			<td>{$vo.create_time|date="Y-m-d",###}</td>
			<td>{$vo.update_time|date="Y-m-d",###}</td>
			<td><if condition="$vo.status eq 0">禁用
			    <elseif condition="$vo.status eq 1"/>
				启用</if> </td>
			<td>
               <if condition="$vo.status eq 0">
               <elseif condition="$vo.status eq 1"/>
					<if condition="$vo.is_recommend eq 0">
						<a href="{:U('Websit/Index/content_notice_recommend',array('id'=>$vo['id'],'is_recommend'=>'1'))}" class="mbtn btn-info" title="公告推荐">公告推荐</a>
					<else/>
						<a href="{:U('Websit/Index/content_notice_recommend',array('id'=>$vo['id'],'is_recommend'=>'0'))}" class="mbtn btn-danger" title="取消推荐">取消推荐</a>
					</if>
			   </if>
			    <a class="mbtn btn-info  edit_notice common-color-white"  href="{:U('Websit/Index/notice_edit?id='.$vo['id'])}">编辑</a>
			   <if condition="$vo['status'] eq 1">
				<a class="mbtn btn-danger notice_disable common-color-white" data-ID="{$vo['id']}" data-Status="0"  href="javascript:">禁用</a>
				<else/>
				 <a class="mbtn btn-info notice_disable common-color-white" data-ID="{$vo['id']}" data-Status="1"  href="javascript:">启用</a>
				</if>

			</td>
          </tr>
        </volist>
        <else/>
      <td colspan="5" class="text-center"> aOh! 暂时还没有内容!</td>
        </notempty>
        </tbody>
    </table>
  </div>
  <div class=""></div>
  <script>
        $(function () {			
		
			//是否禁用
			$('.notice_disable').click(function () {
			if (confirm('确定要操作么？')) {
				var id = $(this).attr('data-ID');
				var status=$(this).attr('data-Status');
				$.post(U('Websit/Index/content_notice_disable'), {id: id,status:status}, function (res) {
					if (res.status) {
						toast.success(res.info);
						setTimeout(function () {
							location.reload();
						}, 1500);
					}
					else {
						toast.error(res.info);
					}
				}, 'json');
			}
		});     
	})
    </script>
</div>

