<div class="common-margin-bfif" >
{:W('DefaultHome/hotDocument')}
</div>
<div class="common-margin-bfif clearfix" >
{:W('DefaultHome/hotIssue',array('limit'=>10))}
</div>
<div class="common-margin-bfif">
{:W('DefaultHome/hotUser',array('limit'=>3))}
</div>
<div class="common-margin-bfif clearfix" >
{:W('DefaultHome/brandIssue',array('limit'=>10))}
</div>
<div class="common-margin-bfif">
{:W('DefaultHome/video',array('limit'=>1))}
</div>
<div class="h15"></div>
<a href="{:U('Tailor/Index/index')}"><img src="__PUBLIC__/Core/images/event_tailor.jpg"></a>