<extend name="Public/base_admin"/>
<block name="body">
	<div id="center">
	  <div class="common_block_title ">
		<div class="pull-right">
		<a class="mbtn  btn-info common-color-white" href="javascript:history.go(-1)">返回上级</a>
		<a class="mbtn  btn-info  event_sign common-color-white"  href="{:U('notice_type_add')}">新增类型</a></div>公告类型</div>
		   <div class="row data-table" >
			<table>
			  <!-- 表头 -->
			  <thead>
				<tr>
				  <th>分类名称</th>
				  <th>排序</th>
				  <th>操作</th>
				</tr>
				 {:R('Category/tree', array($tree))}
			  </thead>
			  <!-- 列表 -->
			  <tbody>
				<notempty name="tree">
				<volist name="tree" id="vo">
				  <tr>
					<td>{$vo.title}&nbsp;&nbsp;

					</td>
					<td>{$vo.sort}</td>
					<td>
					   <a class="mbtn btn-info  event_sign1 common-color-white"  href="{:U('Websit/Content/notice_type_edit?id='.$vo['id'])}">编辑</a>
					   <a href="javascript:" data-ID="{$vo.id}" class="mbtn btn-danger adv_del" title="删除分类">删除</a>
					</td>
				  </tr>
				</volist>
				<else/>
			  <td colspan="4" class="text-center"> aOh! 暂时还没有内容!</td>
				</notempty>
				</tbody>
			</table>
		  </div>
	  <div class=""></div>
	  <script>
        $(function () {			
			$('.event_sign').magnificPopup({
                type: 'ajax',
                overflowY: 'scroll',
                modal: true,
                callbacks: {
                    ajaxContentAdded: function () {
                       // console.log(this.content);
                    }
                }
            });
			
				//更新
			$('.event_sign1').magnificPopup({
                type: 'ajax',
                overflowY: 'scroll',
                modal: true,
                callbacks: {
                    ajaxContentAdded: function () {
                       // console.log(this.content);
                    }
                }
            });
			//删除
			$('.adv_del').click(function () {
			if (confirm('确定要操作么？')) {
				var id = $(this).attr('data-ID');
				
				$.post(U('Websit/Content/content_notice_type_del'), {id: id}, function (res) {
					if (res.status) {
						toast.success(res.info);
						setTimeout(function () {
							location.reload();
						}, 1500);
					}
					else {
						toast.error(res.info);
					}
				}, 'json');
			}
		});     
			
			
	    })
    </script>
</div>
</block>	