<extend name="Public/base" />
<block name="body">
<div class="main-title">
    <h2>公众号管理</h2><!--&nbsp;<span class='common-color-red'>(未使用状态下可以删除)</span>-->
</div> 
<div class="setting_step app_setting">
         <a class="step step_cur" href="{:U('Manage/Weixin/public_add',array('id'=>$id))}">1.增加基本信息</a>
         <a class="step step_cur_1" href="{:U('Manage/Weixin/step_1',array('id'=>$id))}">2.配置公众平台</a>
         <a class="step " href="{:U('Manage/Weixin/step_2',array('id'=>$id))}">3.保存接口配置</a>
  </div> 
 <div class="tab-content"> 
		<strong>请在公众平台开发者中心里的服务器配置录入以下参数</strong>
  </div>
  <div class="help_content">
        <p>URL(服务器地址)：<span style="color: #FF0000"><?php echo $url;?></span><br>
          Token(令牌)：<span style="color: #F00">huodongli</span><br>
          EncodingAESKey(消息加解密密钥)：点击随机生成得到密钥，不需要自己填写<br>
          消息加解密方式： 根据自己的需要选择其中一种
          </p>
          <p>&nbsp;</p>
          <p><a class="btn submit-btn" href="{:U('Manage/Weixin/step_2',array('id'=>$id))}">下一步</a></p>
          <p>&nbsp;</p>
          <p><img src="__PUBLIC__/Manage/images/weixin/help02.png" ></p>
          <p><img src="__PUBLIC__/Manage/images/weixin/help03.png" ></p>
   </div>


<style type="text/css">
	.setting_step{ height:46px; border:1px solid #eee; margin:30px 0px;width:1000px;background:white;}
	.setting_step .step{ background:#ffffff url(__PUBLIC__/Manage/images/weixin/step.png) no-repeat right 0; float:left; text-align:center; line-height:44px; color:#666; width:160px; height:44px;}
	.app_setting .step{ width:145px;}
	.setting_step .step_cur_1{ background:#44b549 url(__PUBLIC__/Manage/images/weixin/step.png) no-repeat right -88px; float:left; color:#fff}
	.setting_step .step_cur{ background:#fff url(__PUBLIC__/Manage/images/weixin/step.png) no-repeat right -44px; float:left;color:#666}




</style>
</block>
