<extend name="Public/base1" />
<block name="style">
</block>
<block name="body">
 <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
                <div class="widget-header  bordered-bottom bordered-sky">
                	<i class="widget-icon fa fa-tasks themeprimary"></i>
                    <span class="widget-caption">{$datainfo.page_title}</span>
                </div>
                <div class="widget-body">
                    <form id="defaultForm" action="{:U('Insurance/insurance_edit')}" class="form-horizontal form-bordered" method="post" >
                    	<input type="hidden" name="id" value="{$datainfo.id}" />
                        <div class="form-title">
                            必填项
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">保险名称</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                	<input type="text" class="form-control" placeholder="保险名称" name="name" value="{$datainfo.name}"  />
    								<span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="保险名称不能为空"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">保额</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="保额" name="sum_insured" value="{$datainfo.sum_insured}"  />
                                    <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="保额不能为空"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">保险价格</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="保险价格" name="price" value="{$datainfo.price}"  />
                                    <span class="input-group-addon tooltip-warning" data-toggle="tooltip" data-placement="left" data-original-title="保险价格不能为空"><i class="fa fa-question darkorange danger circular"></i></span>
                                </div>
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input class="btn btn-palegreen" type="submit" value="确定保存" />
                                <input class="btn btn-default" type="submit" onclick="javascript:history.back(-1);return false;" value="返 回" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
</block>
<block name="script">
<script src="/Public/static/bootstrap3.2/js/validation/bootstrapValidator.js"></script>

<script src="/Public/static/bootstrap3.2/js/select2/select2.js"></script>
<script src="/Public/static/bootstrap3.2/js/select2/i18n/zh-CN.js"></script>
<!--Bootstrap Tags Input-->
<script src="/Public/static/bootstrap3.2/js/tagsinput/bootstrap-tagsinput.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
		//excluded: ':disabled',
        //live: 'enabled',
        message: '这些信息不能为空',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: '保险名称不能为空'
                    }
                }
            },
             sum_insured: {
                 validators: {
                    notEmpty: {
                        message: '保额不能为空'
                    }
                }
            },
             price: {
                validators: {
                    notEmpty: {
                        message: '请填写保险价格'
                    },
                    regexp: {
                     regexp: /^[0-9]+(.[0-9]{1,2})?$/,
                     message: '保险价格为最多俩位小数的数字'
                    }
                }
                 
            },
  
        }
    }).on('success.form.bv', function(e) {
            // Prevent submit form
            e.preventDefault();
			$(this).addClass('ajax-form');
			$('#defaultForm').data('bootstrapValidator').disableSubmitButtons(false);
	});
});
</script>

</block>
