<if condition="$lists neq false">
  <div class="index_list_block">
    <h3 class=""><span class="more-text"><a href="{:U('People/Index/index')}">更多></a></span>推荐{$m_level_name}</h3>
    <div class="hotleader_list">
    <volist name="lists" id="vo">
      <dl>
        <dt class="col-md-3"><a target="_blank" href="{$vo.user.space_url}"><img src="{$vo.user.avatar64}" class="avatar-img" ucard="{$vo.uid}"></a></dt>
        <dd class="col-md-9"><a target="_blank" title="{$vo.user.nickname}" href="{$vo.user.space_url}">{$vo.user.nickname}</a><br><p>{$vo.user.signature}</p></dd>
      </dl>
    </volist>
    </div>
    </div>
</if>
