<extend name="Public/common"/>
<block name="body">
<header data-am-widget="header" class="am-header am-header-default am-header-fixed">
  <div class="am-header-left am-header-nav">
  <a href="{:U('Mobile/Partner/index')}" class="">
  <i class="am-icon-chevron-left"></i>
  </a> 发现约伴<!--填写返回打卡-->
  </div>
  <div class="am-header-right am-header-nav">
      <a href="{:U('Mobile/Index/index')}" class="" data-am-offcanvas="{target: '#home_all_bar'}">
  <i class="am-header-icon am-icon-bars"></i>
  </a>
  </div>
</header>
<body>
	<include file="Public/topnavbar"/> <!-- 右侧菜单 -->
  <include file="Public/navbar"/> <!-- 底部菜单 -->
	<!-- 输入运动主题 -->
	<div class="findpar-btn">
    <button type="submit" class="am-btn am-btn-secondary">我发布的活动</button>
    <a href="{:U('Mobile/Partner/mypar_event')}"><button type="submit" class="am-btn mark-cancel findpar-btn2">我参加的活动</button></a>
  </div>
	<!-- 详情 -->
  <div class="am-panel-default">
    <div class="collection-lists-li">
       <div class="am-g par-sign-det">
          <div class="am-u-sm-5  par-sign-detaila">   
            <a href="" data-href>
              <img src="__PUBLIC__/Core/images/grey.gif" data-original="" class="lazy" data-thumb/>
            </a>
          </div>
          <div class="am-u-sm-7 par-sign-detailb">
            <a href="" data-href>
              <div class="par-sign-a" data-title>标题</div>
            </a>
            <div class="par-sign-detailbb">
              <div class="par-sign-detailcc"><i class="am-icon-map-marker par-sign-tub"></i>
                <span data-city>城市</span>
              </div> 
              <div class="par-sign-detailcc"><i class="am-icon-clock-o par-sign-tub"></i>
                <span data-time>时间</span>
              </div>
              <div class="par-sign-detailcc"><i class="am-icon-user par-sign-tub"></i>
                <label class="par-sign-label" data-people>参加人数</label>
              </div>
            </div>
          </div>
      </div>   
  </div>
</div>
           <div class="collection-list-box">
                <div class="collection-lists-ul"></div>
                <div class="loading-more">
                <i class="am-icon-circle-o-notch am-icon-spin" loading-icon style=" display:none"></i> 
                <span loading-text>加载更多</span>
                </div>
            </div>
</body>
<script>
      $(function(){
                    var loading_i = 0;
                    var get_url = {};
                    var gget_url = {$get_url};
                    if (!$.isEmptyObject(gget_url)) {
                        get_url = gget_url;
                    }
                    function get_findpar_event(is_del) {
                        if (is_del == true) {
                            $(".collection-list-box .collection-lists-ul .par-sign-det").remove();
                        }
                        var loading_more = $(".loading-more");
                        var loading_text = loading_more.find('[loading-text]');
                        var loading_icon = loading_more.find('[loading-icon]');
                        loading_text.html('奋力加载中');
                        loading_icon.show();
                        get_url['page'] = loading_i;
                        $.getJSON("{:U('Mobile/Partner/get_findpar_event')}", get_url, function (json) {
                            if (json) {
                              // console.log(json);
                                $.each(json, function (index, array) {
                                    var partner_list = $('.collection-lists-li .par-sign-det');
                                    var partner_list_li = partner_list.clone();
                                    var partner_list_href = partner_list_li.find('[data-href]');//url
                                    var partner_list_thumb = partner_list_li.find('[data-thumb]');//图片
                                    var partner_list_city = partner_list_li.find('[data-city]'); //地址
                                    var partner_list_title = partner_list_li.find('[data-title]');//标题
                                    var partner_list_time = partner_list_li.find('[data-time]');//开始时间
                                    var partner_list_people = partner_list_li.find('[data-people]');//人数
                                    partner_list_href.attr("href", array['url']);
                                    partner_list_thumb.attr("data-original",array['thumb']);
                                    partner_list_city.html('&nbsp;&nbsp;&nbsp;'+array['address']);
                                    partner_list_title.html(array['title']);
                                    partner_list_time.html('&nbsp;&nbsp;'+array['week'] +'&nbsp;&nbsp;'+ array['time']);
                                    partner_list_people.html('&nbsp;&nbsp;'+array['people']);
                                    partner_list_thumb.lazyload({effect: "fadeIn", threshold: 100});
                                    $(".collection-list-box .collection-lists-ul").append(partner_list_li);
                                });
                                $(".collection-list-box").trigger("scroll");
                                loading_text.html('加载更多');
                                loading_icon.hide();
                                loading_i++;
                                $('.loading-more').scrollspy({});
                            } else {
                                $('.loading-more').unbind('inview.scrollspy.amui').unbind('outview.scrollspy.amui');
                                loading_text.html('已经没有了');
                                loading_icon.hide();
                            }
                        });

                    }

                    get_findpar_event();


                    $('.loading-more').on('inview.scrollspy.amui', function () {
                        timeout = setTimeout(function () {
                            get_findpar_event();
                        }, 1000);
                    }).on('outview.scrollspy.amui', function () {
                        clearTimeout(timeout)
                    });
                  })
</script>
</block>
