<extend name="Public/common_user"/>
<block name="body">
<div class="top_bar_mobile"><span class="mobile_crumbs"><a onClick="javascript:history.go(-1);" href="javascript:" title="回到上一页"><i class="glyphicon glyphicon-chevron-left"></i></a></span> 
	<span class="mobile_detail_text">
		<div class="text-right">
		  <div class="mobile_detail_text_btn">我报名的活动</div>
		</div>
    </span> 
</div>
<div class="h40"></div>
  <div class="mobile_myevent_detail">       
   <volist name="event" id="vo">
   <div class="mobile_event_order_box">
        <div class="form-mobile-status-s">
		 <font class='form-mobile-status-font'>支付类型：</font><?php switch($vo['paytype']){case 0;echo '全额支付';break;case 1;echo '定金支付';break;case 2;echo '免费活动';break;}?><span id='form-mobile-status-font-span'>&nbsp;|&nbsp;</span><font class='form-mobile-status-font'>支付状态：</font>{:get_event_order_pay_status($vo['pay_status'])}
		</div>
        <div class="moblie_myevent_box">
		 <div class="moblie_myevent"><a title="{$vo.title}" href="{:U('Mobile/Config/myevent_detail',array('trade_sn'=>$vo['trade_sn']))}" style="line-height:18px"><img src="{$vo.cover_id|getThumbImageById=40,40,1}" alt="" style="width:40px; height:40px; float:left; margin-right:5px">{$vo.title|op_t|getShortSp=15} <i class="glyphicon glyphicon-link"></i></a>
		 </div>
         
		 <if condition="$vo['paytype'] eq 0">
		   <div class="event_screening_btns">单价：¥{$vo.price}<br>人数：X{:get_signnum($vo['id'])}</div>
		   <else />
		   <div class="event_screening_btns">单价：¥{$vo.price} <br>定金：¥{$vo.deposit}<br>人数：X{:get_signnum($vo['id'])}</div>
		   </if>
		</div>
		 <div class=" form-mobile-event-font">
			 <if condition="$vo['paytype'] eq 1">
				<if condition="$vo['pay_status'] eq 0">
					<span class='form-mobile-order-status'>所需支付定金：</span><b>¥{$vo.payprice}</b>
				<elseif  condition="$vo['pay_status'] eq 1"/>
					<span class='form-mobile-order-status'>所需支付余额：</span class='form-mobile-order-status'><b>¥{:($vo['totalprice'] - $vo['payprice'])}</b> ，<span>已支付</span>¥{$vo['payprice']}
				<elseif  condition="$vo['pay_status'] eq 2"/>
					<span class='form-mobile-order-status'>已全部支付：</span><b>¥{$vo['totalprice']}</b>
				</if>
			<elseif  condition="$vo['paytype'] eq 0"/>    
				<if condition="$vo['pay_status'] eq 0">
					<span class='form-mobile-order-status'>所需支付金额：</span><b>¥{$vo.payprice}</b>
				<elseif  condition="$vo['pay_status'] eq 2"/>
					<span class='form-mobile-order-status'>已全部支付：</span><b>¥{$vo['totalprice']}</b>
				</if>
			<elseif condition="$vo['paytype'] eq 2"/>
				<span class='form-mobile-order-status'>免费活动，无需费用</span>
			</if>
		 </div>
		 <div class="moblie_myevent_btn_lists">
			 <div class="form-mobile-event-font">
				<span class='form-mobile-order-status-span'><font class='form-mobile-order-status'>订单状态：</font><span class='form-mobile-order-status-r'>{:get_event_order_status($vo['status'])}</span></span>
			 </div>
		 </div>
		 <div class="moblie_myevent_btn_lists">
			<div class='form-mobile-event-font'></div>
		 {:mobile_get_event_detail_btn($vo,1)} 
		</div>        
     </div>           
	</volist>    
    </div>   
<script>
  $('.updataSign').click(function () {
		if (confirm('确定要操作么？')) {
			var id = $(this).attr('data-eventID');
			var status = $(this).attr('data-status');
			$.post(U('Mobile/Config/myevent_detail_upstatus'), {id: id,status: status}, function (res) {
				if (res.status == 1) {
					toast.success(res.m);
					setTimeout(function () {
						location.reload();
					}, 1500);
				}
				else {
					toast.error(res.m);
				}
			}, 'json');
		}
	});
</script>
</block>
