<div class="offcial-bottom">
	<div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3  col-sm-3 col-xs-12">
            	<p class="contain">联系我们</p>
				<p class="help-block">电话：0512-68183028</p>
				<p class="help-block">邮箱：kefu@huodongli.cn</p>
            </div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 hidden-xs">
				<p class="help-block weixin">苏州总部：苏州工业园区沈浒路535号雅戈尔国际中心1910室</p>
				<p class="help-block">上海分部：上海市普陀区中江路106号北岸长风I座512室</p>
            </div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            	<p class="contain text-left">微信订阅号</p>
				<p class="text-left"><img src="__PUBLIC__/Official/images/huodongli.png"></p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
            	<p class="contain text-left">微信服务号</p>
				<p class="text-left"><img src="__PUBLIC__/Official/images/huodongli2.png"></p>
            </div>
			
        </div>
        <div class="row">
        <div class="col-sm-12">
				<p class="help-block all_rights_reserved"><span class="hidden-xs">All Rights Reserved. 苏州跃行网络科技有限公司 </span>苏ICP备14043066号</p>
			</div>
        </div>
        
        
        
	</div>
</div>
<!--Page Related Scripts-->
<script src="__STATIC__/bootstrap3.2/js/toastr/toastr.js?v={:C('WEB_VERSION')}"></script>
<script src="__STATIC__/bootstrap3.2/js/bootbox/bootbox.js?v={:C('WEB_VERSION')}"></script>
<script src="__STATIC__/think.js?v={:C('WEB_VERSION')}"></script>
<script src="__PUBLIC__/Official/js/official.js?v={:C('WEB_VERSION')}"></script>
<block name="script"></block>
{:hook('pageFooter', 'widget')}
<div class="hidden">
  <block name="hidden"></block>
</div>
<!-- /底部 -->
</body>
</html>
