<extend name="Usercenter/base"/>
<block name="body">
<div class="row">
    <ol class="breadcrumb">
      <li><a href="{:U('Official/Usercenter/index')}">首页</a></li>
      <li class="active">商品管理</li>
    </ol>
</div>
<div class="row">
<ul id="mytab" class="nav nav-tabs">
  <li <if condition="$status eq 1"> class="hover active" </if> ><a href="{:U('Official/Shop/index',array('status'=>1))}">品牌管理</a></li>
  <!--li <if condition="$status eq 5"> class="hover active" </if> ><a href="{:U('Official/Shop/index',array('status'=>5))}">类目</a></li>-->
  <!--<li <if condition="$status eq 3 or $status eq 4"> class="hover active" </if> ><a href="{:U('Official/Shop/index',array('status'=>3))}">系统属性</a></li>-->
  <!--<li <if condition="$status eq 6"> class="hover active" </if> ><a href="{:U('Official/Shop/index',array('status'=>6))}">商品分类</a></li>-->
   
</ul>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:25px;">
 <if condition="$status eq 1"><include file="shop_brand_manage"/></if>
   <!--<if condition="$status eq 5"><include file="shop_cates"/></if>-->
  <!--<if condition="$status eq 3"><include file="shop_attribute"/></if>-->
  <!--<if condition="$status eq 4"><include file="shop_attribute_val"/></if>-->
  <!--<if condition="$status eq 6"><include file="shop_category"/></if>-->
</div>
</div>
</block>
