<div class="row">
    <div class="table-toolbar">
        <a class="btn  btn-info"  href="{:U('Official/Shop/shop_attribute_add')}">添加属性</a>
    </div>
</div>
<div class="row">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-sky">
            <i class="widget-icon fa fa-tasks themeprimary"></i>
            <span class="widget-caption">属性列表</span>
            <div class="widget-buttons">
            </div>
        </div>
        <div class="widget-body">
            <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>排序</th>
                        <th>属性名称</th>
                        <th>属性值</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                    <volist name="system" id="vo">
                        <tr>
                            <td>{$vo.sku_types_id}</td>
                            <td>{$vo.sort}</td>
                            <td>{$vo.types_name}</td>
                            <td><a href="{:U('Official/Shop/index',array('status'=>4,'id'=>$vo['sku_types_id'],'is_color'=>$vo['is_color']))}">查看</a></td>
                            <td>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        操作 <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{:U('Official/Shop/shop_attribute_edit?id='.$vo['sku_types_id'])}">编辑</a>
                                            </li>											
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </volist>
                </tbody>	
            </table>
            <div style="clear:both;overflow:hidden;padding:0 5px 0 0"><div style="float:right;margin-top:15px;">{$page}</div></div>
        </div>
    </div>
</div>
</block>