<if condition="!empty($rs_issue)">
<style>.issue_title{ clear:both; overflow:hidden; clear:both; padding-top:10px;}</style>
<div class="common_block_border" style="clear:both; overflow:hidden">
  <div class="common_block_title_right">推荐视频</div>
  <div style="padding:0 10px 10px">
 <p>
    <embed width="340" height="250" align="none" class="edui-faked-video" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://player.youku.com/player.php/sid/XNDU1NTQzMzgw/v.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="never" menu="false" loop="false" play="true" wmode="transparent" />
</p>

  </div>
</div>
</if>
