<extend name="Public/common"/>
<block name="body">
  <header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav"> <a href="{:U('Mobile/Index/index')}" class=""> <i class="am-icon-chevron-left"></i> </a> </div>
    <h1 class="am-header-title">测试</h1>
  </header>
  <include file="Public/topnavbar"/>
<article class="am-article">
  <div class="am-article-bd">
    <p class="am-article-lead">







<div id="ppppplay">播放</div>

<script>



	$('#ppppplay').on('click', function() {
										
		playsound_ios();	
	});

</script>


    </p>
  </div>
</article>
</block>
