<div class="row">
    <form id="changePasswordForm" action="{:U('Official/Usercenter/doChangePassword')}" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="inputOldPassword" class="col-md-2 control-label">旧密码</label>

            <div class="col-md-5">
                <input type="password" class="form-control" id="inputOldPassword"  value="" name="old_password" placeholder="输入旧密码">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNewPassword" class="col-md-2 control-label">新密码</label>
            <div class="col-md-5">
                <input type="password" class="form-control" id="inputNewPassword" value="" name="new_password" placeholder="输入新密码">
            </div>
        </div>

        <div class="form-group">
            <label for="inputConfirmPassword" class="col-md-2 control-label">确认密码</label>

            <div class="col-md-5">
                <input type="password" class="form-control" id="inputConfirmPassword" value="" name="confirm_password" placeholder="输入确认密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p class="text-danger" id="submitTip"></p>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </form>
</div>

<block name="script">
<script type="text/javascript">
$(document).ready(function() {
    $('#changePasswordForm').bootstrapValidator({
        //excluded: ':disabled',
        //live: 'enabled',
        message: '这些信息不能为空',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            old_password: {
                validators: {
                    notEmpty: {
                        message: '旧密码不能为空'
                    },
					different: {
						field: 'new_password',
						message: '新密码不能和旧密码相同'
					}
                }
            },
            new_password: {
                validators: {
                    notEmpty: {
                        message: '请输入新密码'
                    },
					identical: {
						field: 'confirm_password',
						message: '新密码和确认密码不一致'
					},
					different: {
						field: 'old_password',
						message: '新密码不能和旧密码相同'
					}
                }
            },
            confirm_password: {
                validators: {
                    notEmpty: {
                        messae: '请输入确认密码'
                    },
					identical: {
						field: 'new_password',
						message: '新密码和确认密码不一致'
					},
					different: {
						field: 'old_password',
						message: '确认密码不能和旧密码相同'
					}
                }
            }
        }
    }).on('success.form.bv', function(e) {
            // Prevent submit form
            e.preventDefault();
            $(this).addClass('ajax-form');
			$('#changePasswordForm').data('bootstrapValidator').disableSubmitButtons(false);
    });
});
</script>
</block>